@using Microsoft.AspNet.Identity
@using HelpMe.Models
@using System.Security.Claims;

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Custom/datepicker.css">
    <link rel="stylesheet" href="~/Content/Custom/bootstrap-datetimepicker.css" />
    @Styles.Render("~/Content/Custom/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        .nav-tag {
            display: inline-block;
            font-weight: 700;
            height: 25px;
            width: 25px;
            line-height: 22px;
            text-align: center;
            font-size: 18px;
            background-color: #28b661;
            border-radius: 50%;
            position: relative;
            margin: 0 0 0 4px;
            top: -2px;
        }

        #boxed-list-ul > li:nth-child(even) {
            background-color: #fafafa;
        }

        .not-active {
            pointer-events: none;
            cursor: default;
            text-decoration: none;
            color: black;
        }

        .progress {
            display: block;
            text-align: center;
            width: 0;
            height: 3px;
            background: #28b661;
            transition: width .3s;
        }

            .progress.hide {
                opacity: 0;
                transition: opacity 1.3s;
            }
    </style>
</head>
<body>
    <!-- Wrapper -->
    <div id="wrapper">
        <header id="header-container" class="fullwidth ">
            <!-- Header -->
            <div id="header">
                <div class="container">
                    <div class="left-side">
                        <div id="logo">
                            <a href="/"><img src="~/Content/Custom/images/logo.png" alt=""></a>
                        </div>
                        <nav id="navigation">
                            <ul id="responsive">
                                <li>
                                    <a href="/Custom/Index" class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Custom" ? "current" : "")">Лента заказов</a>
                                </li>
                                <li>
                                    <a href="/User/" class="@(ViewContext.RouteData.Values["Controller"].ToString() == "User" ? "current" : "")">Исполнители</a>
                                </li>
                                <li>
                                    <a href="#">Готовые работы</a>
                                </li>
                                <li>
                                    <a href="#">Сервисы</a>
                                </li>

                            </ul>
                        </nav>
                        <div class="clearfix"></div>
                    </div>
                   
                    @if (Request.IsAuthenticated)
                    {
                        <div class="right-side">
                            <div class="header-widget hide-on-mobile">
                                <a href="/Custom/Create" class="button ripple-effect margin-top-18"><i class="icon-feather-plus"></i> Добавить заказ </a>
                            </div>
                            
                            <div class="header-widget hide-on-mobile">
                                
                                <div class="header-notifications" id="not-trigger">
                                    
                                    <div class="header-notifications-trigger">
                                        <a class="notCl" href="#"><i class="icon-feather-bell"></i></a>
                                    </div>
                                    
                                    <div class="header-notifications-dropdown">
                                        <div class="header-notifications-headline">
                                            <h4>Уведомления</h4>
                                            <button class="mark-as-read ripple-effect-dark" title="Пометить как прочитанное" data-tippy-placement="left">
                                                <i class="icon-feather-check-square"></i>
                                            </button>
                                        </div>
                                        <div class="header-notifications-content">
                                            <div class="header-notifications-scroll" data-simplebar>
                                                <ul class="ncont" id="notifContent">
                                                    <div class="lds-ring" id="lds-ring-count"><div></div><div></div><div></div><div></div></div>

                                                </ul>
                                            </div>
                                        </div>
                                        <a href="/chat" class="header-notifications-button ripple-effect button-sliding-icon">Посмотреть все уведомления <i class="icon-material-outline-arrow-right-alt"></i></a>
                                    </div>
                                </div>
                               
                                <div class="header-notifications">

                                    <div class="header-notifications-trigger">
                                        <a href="#" class="messUnread"><i class="icon-feather-mail"></i></a>
                                    </div>
                                   
                                    <div class="header-notifications-dropdown">
                                        <div class="header-notifications-headline">
                                            <h4>Сообщения</h4>
                                            <button class="mark-as-read ripple-effect-dark" title="Пометить как прочитанное" data-tippy-placement="left">
                                                <i class="icon-feather-check-square"></i>
                                            </button>
                                        </div>
                                        <div class="header-notifications-content">
                                            <div class="header-notifications-scroll" data-simplebar>
                                                <ul>
                                                  
                                                    <li class="notifications-not-read">
                                                        <a href="dashboard-messages.html">
                                                            <span class="notification-avatar status-online"><img src="images/user-avatar-small-03.jpg" alt=""></span>
                                                            <div class="notification-text">
                                                                <strong>Магамед Магамедович</strong>
                                                                <p class="notification-msg-text">..</p>
                                                                <span class="color">4 часа назад</span>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    
                                                    <li class="notifications-not-read">
                                                        <a href="dashboard-messages.html">
                                                            <span class="notification-avatar status-online"><img src="images/user-avatar-small-03.jpg" alt=""></span>
                                                            <div class="notification-text">
                                                                <strong>Магамед Магамедович</strong>
                                                                <p class="notification-msg-text">..</p>
                                                                <span class="color">4 часа назад</span>
                                                            </div>
                                                        </a>
                                                    </li>
                                                 
                                                    <li class="notifications-not-read">
                                                        <a href="dashboard-messages.html">
                                                            <span class="notification-avatar status-online"><img src="images/user-avatar-small-03.jpg" alt=""></span>
                                                            <div class="notification-text">
                                                                <strong>Магамед Магамедович</strong>
                                                                <p class="notification-msg-text">.</p>
                                                                <span class="color">4 часа назад</span>
                                                            </div>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <a href="/chat" class="header-notifications-button ripple-effect button-sliding-icon">Посмотреть все сообщения<i class="icon-material-outline-arrow-right-alt"></i></a>
                                    </div>
                                </div>
                            </div>
                          
                            <div class="header-widget">
                             
                                <div class="header-notifications user-menu">
                                    <div class="header-notifications-trigger">
                                        @{
                                            var avatar = ((ClaimsIdentity)User.Identity).FindFirst("avatar");
                                        }
                                        <a href="#"><div   class="user-avatar status-online"><img style="height:42px;width:42px" src="@Url.Content(avatar.Value == null ? "~/Content/Custom/images/user-avatar-placeholder.png" : avatar.Value)" alt=""></div></a>
                                    </div>
                                 
                                    <div class="header-notifications-dropdown">
                                       
                                        <div class="user-status">
                                          
                                            <div class="user-details">
                                                <div  class="user-avatar status-online"><img style="height:42px;width:42px" src="@Url.Content(avatar.Value == null ? "~/Content/Custom/images/user-avatar-placeholder.png" : avatar.Value)" alt=""></div>
                                                <div class="user-name">
                                                    @User.Identity.GetUserName() <span></span>
                                                </div>
                                            </div>
                                      
                                            <div class="status-switch" id="snackbar-user-status">
                                                @{
                                                    var status = ((ClaimsIdentity)User.Identity).FindFirst("status");
                                                }

                                                <label value="sucess" class="@(status.Value != "true" ? "user-online" : "user-online current-status")">В работе</label>
                                                <label value="dontworry" class="@(status.Value != "true" ? "user-invisible current-status" : "user-invisible") ">Занят</label>
                                           
                                                <span class="status-indicator" aria-hidden="true"></span>
                                            </div>
                                        </div>
                                        <ul class="user-menu-small-nav">
                                            <li><a href="/manage/dashboard"><i class="icon-material-outline-dashboard"></i> Рабочая доска</a></li>
                                            <li><a href="/custom/tasks"><i class="icon-material-outline-folder"></i> Мои заказы</a></li>
                                            <li><a href="/custom/tasksexec"><i class="icon-material-outline-folder-shared"></i> Мои задачи</a></li>
                                            <li><a href="/wallet"><i class="icon-material-outline-account-balance-wallet"></i> Баланс</a></li>
                                            <li><a href="/manage"><i class="icon-material-outline-settings"></i> Настройки</a></li>
                                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                                            {
                                                @Html.AntiForgeryToken()
                                                <li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="icon-material-outline-power-settings-new"></i> Выйти</a></li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        
                            <span class="mmenu-trigger">
                                <button class="hamburger hamburger--collapse" type="button">
                                    <span class="hamburger-box">
                                        <span class="hamburger-inner"></span>
                                    </span>
                                </button>
                            </span>
                        </div>
                    }
                    else
                    {
                        <div class="right-side">
                            <div class="header-widget">
                                <a href="#sign-in-dialog" class="popup-with-zoom-anim log-in-button"><i class="icon-feather-log-in"></i> <span>Войти / Регистрация</span></a>
                            </div>
                          
                            <span class="mmenu-trigger">
                                <button class="hamburger hamburger--collapse" type="button">
                                    <span class="hamburger-box">
                                        <span class="hamburger-inner"></span>
                                    </span>
                                </button>
                            </span>
                        </div>
                    }
                </div>
            </div>
        
        </header>
  
        <div id="sign-in-dialog" class="zoom-anim-dialog mfp-hide dialog-with-tabs">
            <!--Tabs -->
            <div class="sign-in-form">
                <ul class="popup-tabs-nav">
                    <li><a href="#login">Войти</a></li>
                    <li><a href="#register">Регистрация</a></li>
                </ul>

                <div class="popup-tabs-container">
                    <div class="popup-tab-content" id="login">
                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <!-- Welcome Text -->
                            <div class="welcome-text">
                                <h3>Авторизация</h3>
                                <span>Нет аккаунта? <a href="/Account/register">Создай новый!</a></span>
                            </div>

                            <!-- Form -->

                            <div class="input-with-icon-left">

                                <i class="icon-material-baseline-mail-outline"></i>
                                @Html.TextBox("Email", "", new { @class = "input-text with-border", @placeholder = "Ваша почта", @id = "emailField" })

                            </div>
                            <div class="input-with-icon-left">
                                <i class="icon-material-outline-lock"></i>
                                @Html.Password("Password", "", new { @class = "input-text with-border", @placeholder = "Пароль", @id = "passwordField" })
                            </div>
                            <div id="valid">
                                @Html.ValidationMessage("Email", "")

                            </div>
                            <a href="/Account/ForgotPassword" style="margin-top:5px" class="forgot-password">Забыл пароль?</a>
                            <!-- Button -->
                            <input id="loginButton" value="Войти" class="button full-width button-sliding-icon ripple-effect" type="submit">

                            <!-- Social Login -->
                            <div class="social-login-separator"><span>или</span></div>
                            <div class="social-login-buttons">
                                <button class="facebook-login ripple-effect"><i class="icon-brand-facebook-f"></i> Войти с Facebook</button>
                                <button class="google-login ripple-effect"><i class="icon-brand-google-plus-g"></i> Войти via Google+</button>
                            </div>
                        }
                    </div>
                    <!-- Register -->
                    <div class="popup-tab-content" id="register">
                        @using (Html.BeginForm("Register", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <!-- Welcome Text -->
                            <div class="welcome-text">
                                <h3>Создание аккаунта</h3>
                            </div>
                            <!-- Account Type -->
                            <div class="account-type">
                                <div>
                                    <input type="radio" name="RoleName" value="employee" id="freelancer-radio" class="account-type-radio" checked />
                                    <label for="freelancer-radio" class="ripple-effect-dark"><i class="icon-material-outline-school"></i> Исполнитель</label>
                                </div>
                                <div>
                                    <input type="radio" name="RoleName" value="user" id="employer-radio" class="account-type-radio" />
                                    <label for="employer-radio" class="ripple-effect-dark"><i class="icon-material-outline-business-center"></i> Заказчик</label>
                                </div>
                            </div>
                            <!-- Form -->
                            <div class="input-with-icon-left">
                                <i class="icon-material-outline-account-circle"></i>
                                @Html.TextBox("UserName", "", new { @class = "input-text with-border", @id = "usName", @placeholder = "Ваш логин" })
                            </div>
                            <div class="input-with-icon-left">
                                <i class="icon-material-baseline-mail-outline"></i>
                                @Html.TextBox("Email", "", new { @class = "input-text with-border", @type = "email", @placeholder = "Ваша почта" })
                            </div>
                            <div class="input-with-icon-left" title="Пароль должен быть не менее 6 символов" data-tippy-placement="bottom">
                                <i class="icon-material-outline-lock"></i>
                                @Html.Password("Password", "", new { @class = "input-text with-border", @id = "fpass", @placeholder = "Пароль" })
                            </div>
                            <div class="input-with-icon-left">
                                <i class="icon-material-outline-lock"></i>
                                @Html.Password("ConfirmPassword", "", new { @class = "input-text with-border", @id = "spass", @placeholder = "Повторите пароль" })
                            </div>
                            <div style="display:none" class="result"></div>
                            <!-- Button -->
                            <input value="Создать" class="button full-width button-sliding-icon ripple-effect" type="submit">
                            <!-- Social Login -->
                            <div class="social-login-separator"><span>или</span></div>
                            <div class="social-login-buttons">
                                <button class="facebook-login ripple-effect"><i class="icon-brand-facebook-f"></i> Регаться via Facebook</button>
                                <button class="google-login ripple-effect"><i class="icon-brand-google-plus-g"></i> Регаться via Google+</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>

        @RenderBody()

    </div>

    @Scripts.Render("~/bundles/jquery")

    <script src="~/Scripts/Custom/simplebar.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.3.0.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/Custom/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/Custom/locale/bootstrap-datepicker.ru.js" charset="UTF-8"></script>
    <script src="~/Scripts/Custom/moment-with-locales.min.js"></script>
    <script src="~/Scripts/Custom/bootstrap-datetimepicker.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/util.js"></script>
  

    @Scripts.Render("~/bundles/Scripts/Custom/js")

    <script>

        $('#spass').on('keyup', function () {
            if ($('#fpass').val() == $('#spass').val()) {
                $('.result').hide();
            } else {
                $('.result').show();
                $('.result').html('Пароли не совпадают');
            }
        });

        $("#usName").bind('keyup', function () {
            $(this).val($(this).val().replace(/[^a-z ]/i, ""));
            Snackbar.show({
                text: 'Только латинские символы!',
                pos: 'bottom-center',
                showAction: false,
                actionText: "Dismiss",
                duration: 3000,
                textColor: '#fff',
                backgroundColor: '#383838'
            });
        });

        $('#header .right-side').css('float', 'left')
        $('#header .right-side').css('float', 'right')
       
        $('#snackbar-user-status label').click(function () {

             $.ajax({
                    type: 'POST',
                    url: '/User/ChangeStatus/',
                     data: {value: $(this).attr("value")},
                    success: function (response) {
                       
                    },
                    error: function (error) {
                        console.log(error);
                    }
                })

            Snackbar.show({
                text: 'Статус изменен!',
                pos: 'bottom-center',
                showAction: false,
                actionText: "Dismiss",
                duration: 3000,
                textColor: '#fff',
                backgroundColor: '#383838'
            });
        });
    </script>

    <script>

                // подключаемся к хабам
                var notificationhub = $.connection.notificationHub;
                var chathub = $.connection.chatHub;

                // Получаем кол-во непрочитанные сообщений
                $.ajax({
                    type: 'GET',
                    url: '/Home/GetUnreadingMessageCount',
                    success: function (response) {
                        if (response != 0) {
                            if ($("#messUnreadCount").length == 0) {
                                $('.messUnread').append("<span id='messUnreadCount'>" + response + "</span>")
                            }
                        }
                    },
                    error: function (error) {
                        console.log(error);
                    }
                })

                // Получаем кол-во непрочитанных уведомлений
                $.ajax({
                    type: 'GET',
                    url: '/Home/GetUnreadingCount',
                    success: function (response) {
                         if (response != 0) {
                            if ($(".notiUnreadCount").length == 0) {
                                $('.notCl').append("<span class='notiUnreadCount'>" + response + "</span>")
                            }
                        }
                    },
                    error: function (error) {
                        console.log(error);
                    }
                })

                var isSucess = false;

                // для clone stick
        $("#not-trigger").on('click', '.notCl', function () {
                     $(".lds-ring").children().show();
                    $.ajax({
                        type: 'GET',
                        url: '/Home/GetAllNotifications',
                        success: function (response) {
                            $('.ncount').text(0);
                            if (!isSucess) {
                                $('#notifContent').empty();
                                if (response.length == 0) {
                                    $('#notifContent').append($('<li>Нет данных</li>'));
                                }
                                $.each(response, function (index, value) {
                                   $('.ncont').prepend($('<li class="notifications-not-read"><a href=""><span class="notification-icon"><i class="icon-material-outline-group"></i></span><span class="notification-text">' + value.Description + '</span></a></li>'));   
                                })
                            }
                            isSucess = true;
                             $(".lds-ring").children().hide();
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    })
                });

                // для header
        $('.notCl').click(function (e) {
                     $(".lds-ring").children().show();
                        $.ajax({
                            type: 'GET',
                            url: '/Home/GetAllNotifications',
                            success: function (response) {
                                $('#notific').hide();
                                $('.ncount').hide();
                                $('#notifContent').empty();

                                if (response.length == 0) {
                                    $('#notifContent').append($('<li>Нет данных</li>'));
                                }

                                $.each(response, function (index, value) {

                                   $('#notifContent').prepend($('<li class="notifications-not-read"><a href=""><span class="notification-icon"><i class="icon-material-outline-group"></i></span><span class="notification-text">' + value.Description + '</span></a></li>'));
                                    
                                });
                                 $(".lds-ring").children().hide();
                                $('.notiUnreadCount').remove();
                            },
                            error: function (error) {
                                console.log(error);
                            }
                        })
                    });

             
                // SignalR увеличиваем кол-во непрочитанных сообщений
                chathub.client.displayUnreadCountMessage = function () {

                        if ($("#messUnreadCount").length == 0) {
                            $('.messUnread').append("<span id='messUnreadCount'>1</span>")
                        } else {
                            var unreadText = $('#messUnreadCount').text();
                            $('#messUnreadCount').text(parseInt(unreadText) + 1);
                        }

                         Snackbar.show({
                            text: 'Новое сообщение!',
                            pos: 'top-right',
                            showAction: false,
                            actionText: "Dismiss",
                            width: 200,
                            duration: 1500,
                            textColor: '#5f9025',
                            backgroundColor: '#EBF6E0',
                        });
                };


                notificationhub.client.displayMessage = function (message) {
                       /* $('#notific').show();
                        $('.ncount').show();
                        var num = $('#notific').text();
                        var num1 = $('.ncount').text();
                        if (num == '') num = num1 = 0;
                        $('.ncount').text(parseInt(num) + 1); */

                    if ($(".notiUnreadCount").length == 0) {
                         
                            $('.notCl').append("<span class='notiUnreadCount'>1</span>")
                        } else {
                          var unreadText = $('.notiUnreadCount').text().charAt(0);
                          alert(unreadText)
                            $('.notiUnreadCount').text(parseInt(unreadText) + 1);
                        }

                        Snackbar.show({
                            text: 'Новое уведомление!',
                            pos: 'top-right',
                            showAction: false,
                            actionText: "Dismiss",
                            width: 200,
                            duration: 4000,
                            textColor: '#5f9025',
                            backgroundColor: '#EBF6E0',

                        });
                     
                    };

                 $.connection.hub.start();

    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
