@using Microsoft.AspNet.Identity
@using HelpMe.Models

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>@ViewBag.Title – приложение ASP.NET</title>

    @Styles.Render("~/Content/Custom/css")
    @Scripts.Render("~/bundles/modernizr")
 
    <style>

        .nav-tag {
            display: inline-block;
            font-weight: 700;
            height: 25px;
            width: 25px;
            line-height: 22px;
            text-align: center;
        
            font-size: 18px;
            background-color: #28b661;
            border-radius: 50%;
            position: relative;
            margin: 0 0 0 4px;
            top: -2px;
        }

        #boxed-list-ul > li:nth-child(even) {
            background-color: #fafafa;
        }

        .not-active {
            pointer-events: none;
            cursor: default;
            text-decoration: none;
            color: black;
        }
        .progress {
            display: block;
            text-align: center;
            width: 0;
            height: 3px;
            background: #28b661;
            transition: width .3s;
        }

            .progress.hide {
                opacity: 0;
                transition: opacity 1.3s;
            }
    </style>
</head>
<body>
    <!-- Wrapper -->
    <div id="wrapper">
        <header id="header-container" class="fullwidth ">

            <!-- Header -->
            <div id="header">
                <div class="container">
                    <div class="left-side">
                        <div id="logo">
                            <a href="/"><img src="~/Content/Custom/images/logo.png" alt=""></a>
                        </div>
                        <nav id="navigation">
                            <ul id="responsive">
                                <li>
                                    <a href="/Custom/Index" class="current">Лента заказов</a>
                                </li>
                                <li>
                                    <a href="/User/">Исполнители</a>
                                </li>

                                <li>
                                    <a href="#">Готовые работы</a>

                                </li>

                                <li>
                                    <a href="#">Сервисы</a>

                                </li>


                            </ul>
                        </nav>
                        <div class="clearfix"></div>
                        <!-- Main Navigation / End -->

                    </div>
                    <!-- Left Side Content / End -->

                    @if (Request.IsAuthenticated)
                    {
                        <!-- Right Side Content / End -->
                        <div class="right-side">
                            <!--  User Notifications -->
                            <div class="header-widget hide-on-mobile">
                                <a href="/Custom/Create" class="button ripple-effect margin-top-18"><i class="icon-feather-plus"></i> Добавить заказ </a>
                            </div>
                            <!--  User Notifications -->
                            <div class="header-widget hide-on-mobile">

                                <!-- Notifications -->
                                <div class="header-notifications">

                                    <!-- Trigger -->
                                    <div class="header-notifications-trigger">
                                        <a href="#"><i class="icon-feather-bell"></i><span>4</span></a>
                                    </div>

                                    <!-- Dropdown -->
                                    <div class="header-notifications-dropdown">

                                        <div class="header-notifications-headline">
                                            <h4>Уведомления</h4>
                                            <button class="mark-as-read ripple-effect-dark" title="Пометить как прочитанное" data-tippy-placement="left">
                                                <i class="icon-feather-check-square"></i>
                                            </button>
                                        </div>

                                        <div class="header-notifications-content">
                                            <div class="header-notifications-scroll" data-simplebar>
                                                <ul>
                                                    <!-- Notification -->
                                                    <li class="notifications-not-read">
                                                        <a href="dashboard-manage-candidates.html">
                                                            <span class="notification-icon"><i class="icon-material-outline-group"></i></span>
                                                            <span class="notification-text">
                                                                <strong>Магамед</strong> предлагает вам <span class="color">оценить работу</span>
                                                            </span>
                                                        </a>
                                                    </li>

                                                    <!-- Notification -->
                                                    <li>
                                                        <a href="dashboard-manage-bidders.html">
                                                            <span class="notification-icon"><i class=" icon-material-outline-gavel"></i></span>
                                                            <span class="notification-text">
                                                                <strong>Ашот</strong> оставил комментарий <span class="color">по созданию шаурмяшной</span>
                                                            </span>
                                                        </a>
                                                    </li>

                                                    <!-- Notification -->
                                                    <li>
                                                        <a href="dashboard-manage-bidders.html">
                                                            <span class="notification-icon"><i class=" icon-material-outline-gavel"></i></span>
                                                            <span class="notification-text">
                                                                <strong>Ашот</strong> оставил комментарий <span class="color">по созданию шаурмяшной</span>
                                                            </span>
                                                        </a>
                                                    </li>

                                                    <!-- Notification -->
                                                    <li>
                                                        <a href="dashboard-manage-bidders.html">
                                                            <span class="notification-icon"><i class=" icon-material-outline-gavel"></i></span>
                                                            <span class="notification-text">
                                                                <strong>Ашот</strong> оставил комментарий <span class="color">по созданию шаурмяшной</span>
                                                            </span>
                                                        </a>
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                                <!-- Messages -->
                                <div class="header-notifications">
                                    <div class="header-notifications-trigger">
                                        <a href="#"><i class="icon-feather-mail"></i><span>3</span></a>
                                    </div>

                                    <!-- Dropdown -->
                                    <div class="header-notifications-dropdown">

                                        <div class="header-notifications-headline">
                                            <h4>Сообщения</h4>
                                            <button class="mark-as-read ripple-effect-dark" title="Пометить как прочитанное" data-tippy-placement="left">
                                                <i class="icon-feather-check-square"></i>
                                            </button>
                                        </div>

                                        <div class="header-notifications-content">
                                            <div class="header-notifications-scroll" data-simplebar>
                                                <ul>
                                                    <!-- Notification -->
                                                    <li class="notifications-not-read">
                                                        <a href="dashboard-messages.html">
                                                            <span class="notification-avatar status-online"><img src="images/user-avatar-small-03.jpg" alt=""></span>
                                                            <div class="notification-text">
                                                                <strong>Магамед Магамедович</strong>
                                                                <p class="notification-msg-text">Спасибо, что решился на эту авантюру...</p>
                                                                <span class="color">4 часа назад</span>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <!-- Notification -->
                                                    <li class="notifications-not-read">
                                                        <a href="dashboard-messages.html">
                                                            <span class="notification-avatar status-online"><img src="images/user-avatar-small-03.jpg" alt=""></span>
                                                            <div class="notification-text">
                                                                <strong>Магамед Магамедович</strong>
                                                                <p class="notification-msg-text">Спасибо, что решился на эту авантюру...</p>
                                                                <span class="color">4 часа назад</span>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <!-- Notification -->
                                                    <li class="notifications-not-read">
                                                        <a href="dashboard-messages.html">
                                                            <span class="notification-avatar status-online"><img src="images/user-avatar-small-03.jpg" alt=""></span>
                                                            <div class="notification-text">
                                                                <strong>Магамед Магамедович</strong>
                                                                <p class="notification-msg-text">Спасибо, что решился на эту авантюру...</p>
                                                                <span class="color">4 часа назад</span>
                                                            </div>
                                                        </a>
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>

                                        <a href="/chat" class="header-notifications-button ripple-effect button-sliding-icon">Посмотреть все сообщения<i class="icon-material-outline-arrow-right-alt"></i></a>
                                    </div>
                                </div>

                            </div>
                            <!--  User Notifications / End -->
                            <!-- User Menu -->
                            <div class="header-widget">

                                <!-- Messages -->
                                <div class="header-notifications user-menu">
                                    <div class="header-notifications-trigger">
                                        <a href="#"><div class="user-avatar status-online"><img src="~/Content/Custom/images/user-avatar-small-01.jpg" alt=""></div></a>
                                    </div>

                                    <!-- Dropdown -->
                                    <div class="header-notifications-dropdown">

                                        <!-- User Status -->
                                        <div class="user-status">

                                            <!-- User Name / Avatar -->
                                            <div class="user-details">
                                                <div class="user-avatar status-online"><img src="~/Content/Custom/images/user-avatar-small-01.jpg" alt=""></div>
                                                <div class="user-name">
                                                    @User.Identity.GetUserName() <span></span>
                                                </div>
                                            </div>

                                            <!-- User Status Switcher -->
                                            <div class="status-switch" id="snackbar-user-status">
                                                <label class="user-online current-status">Онлайн</label>
                                                <label class="user-invisible">Невидимка</label>
                                                <!-- Status Indicator -->
                                                <span class="status-indicator" aria-hidden="true"></span>
                                            </div>
                                        </div>

                                        <ul class="user-menu-small-nav">
                                            <li><a href="/manage/dashboard"><i class="icon-material-outline-dashboard"></i> Рабочая доска</a></li>
                                            <li><a href="/wallet"><i class="icon-material-outline-account-balance-wallet"></i> Баланс</a></li>
                                            <li><a href="/manage"><i class="icon-material-outline-settings"></i> Настройки</a></li>
                                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                                            {
                                                @Html.AntiForgeryToken()
                                                <li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="icon-material-outline-power-settings-new"></i> Выйти</a></li>
                                            }
                                        </ul>

                                    </div>
                                </div>

                            </div>

                            <!-- User Menu / End -->
                            <!-- Mobile Navigation Button -->
                            <span class="mmenu-trigger">
                                <button class="hamburger hamburger--collapse" type="button">
                                    <span class="hamburger-box">
                                        <span class="hamburger-inner"></span>
                                    </span>
                                </button>
                            </span>

                        </div>
                    }
                    else
                    {
                        <!-- Right Side Content / End -->
                        <div class="right-side">

                            <div class="header-widget">
                                <a href="#sign-in-dialog" class="popup-with-zoom-anim log-in-button"><i class="icon-feather-log-in"></i> <span>Войти / Регистрация</span></a>
                            </div>

                            <!-- Mobile Navigation Button -->
                            <span class="mmenu-trigger">
                                <button class="hamburger hamburger--collapse" type="button">
                                    <span class="hamburger-box">
                                        <span class="hamburger-inner"></span>
                                    </span>
                                </button>
                            </span>

                        </div>
                        <!-- Right Side Content / End -->
                    }
                </div>
            </div>
            <!-- Header / End -->

        </header>
        <!-- Sign In Popup
        ================================================== -->
        <div id="sign-in-dialog" class="zoom-anim-dialog mfp-hide dialog-with-tabs">

            <!--Tabs -->
            <div class="sign-in-form">

                <ul class="popup-tabs-nav">
                    <li><a href="#login">Войти</a></li>
                    <li><a href="#register">Регистрация</a></li>
                </ul>



                <div class="popup-tabs-container">

                    <div class="popup-tab-content" id="login">
                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <!-- Welcome Text -->
                            <div class="welcome-text">
                                <h3>Ассаляумалейкум, братуха!</h3>
                                <span>Нет аккаунта? <a href="/Account/register">Создай новый!</a></span>
                            </div>

                            <!-- Form -->
                            <form method="post" id="login-form">
                                <div class="input-with-icon-left">
                                    <i class="icon-material-baseline-mail-outline"></i>
                                    @Html.TextBox("Email", "", new { @class = "input-text with-border", @placeholder = "Ваша почта" })

                                </div>

                                <div class="input-with-icon-left">
                                    <i class="icon-material-outline-lock"></i>
                                    @Html.Password("Password", "", new { @class = "input-text with-border", @placeholder = "Пароль" })

                                </div>
                                <a href="#" class="forgot-password">Забыл пароль?</a>

                                <!-- Button -->
                                <input value="Войти" class="button full-width button-sliding-icon ripple-effect" type="submit">
                            </form>
                            <!-- Social Login -->
                            <div class="social-login-separator"><span>или</span></div>
                            <div class="social-login-buttons">
                                <button class="facebook-login ripple-effect"><i class="icon-brand-facebook-f"></i> Войти с Facebook</button>
                                <button class="google-login ripple-effect"><i class="icon-brand-google-plus-g"></i> Войти via Google+</button>
                            </div>
                        }
                    </div>

                    <!-- Register -->
                    <div class="popup-tab-content" id="register">

                        <!-- Welcome Text -->
                        <div class="welcome-text">
                            <h3>Давай создадим аккаунт!</h3>
                        </div>

                        <!-- Account Type -->
                        <div class="account-type">
                            <div>
                                <input type="radio" name="account-type-radio" id="freelancer-radio" class="account-type-radio" checked />
                                <label for="freelancer-radio" class="ripple-effect-dark"><i class="icon-material-outline-account-circle"></i> Исполнитель</label>
                            </div>

                            <div>
                                <input type="radio" name="account-type-radio" id="employer-radio" class="account-type-radio" />
                                <label for="employer-radio" class="ripple-effect-dark"><i class="icon-material-outline-business-center"></i> Заказчик</label>
                            </div>
                        </div>

                        <!-- Form -->
                        <form method="post" id="register-account-form">
                            <div class="input-with-icon-left">
                                <i class="icon-material-baseline-mail-outline"></i>
                                <input type="text" class="input-text with-border" name="emailaddress-register" id="emailaddress-register" placeholder="Ваша почта" required />
                            </div>

                            <div class="input-with-icon-left" title="Should be at least 8 characters long" data-tippy-placement="bottom">
                                <i class="icon-material-outline-lock"></i>
                                <input type="password" class="input-text with-border" name="password-register" id="password-register" placeholder="Пароль" required />
                            </div>

                            <div class="input-with-icon-left">
                                <i class="icon-material-outline-lock"></i>
                                <input type="password" class="input-text with-border" name="password-repeat-register" id="password-repeat-register" placeholder="Повторите пароль" required />
                            </div>
                        </form>

                        <!-- Button -->
                        <button class="margin-top-10 button full-width button-sliding-icon ripple-effect" type="submit" form="register-account-form">Создать <i class="icon-material-outline-arrow-right-alt"></i></button>

                        <!-- Social Login -->
                        <div class="social-login-separator"><span>или</span></div>
                        <div class="social-login-buttons">
                            <button class="facebook-login ripple-effect"><i class="icon-brand-facebook-f"></i> Регаться via Facebook</button>
                            <button class="google-login ripple-effect"><i class="icon-brand-google-plus-g"></i> Регаться via Google+</button>
                        </div>

                    </div>

                </div>

            </div>
        </div>
        <div class="clearfix"></div>


        @RenderBody()


    </div>
    <!--Ссылка на библиотеку SignalR -->

    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/Custom/simplebar.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.3.0.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <!--Ссылка  <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/util.js"></script>на автоматически сгенерированный скрипт хаба SignalR -->


    @Scripts.Render("~/bundles/Scripts/Custom/js")

    <!-- Snackbar // documentation: https://www.polonel.com/snackbar/ -->
    <script>
        // Snackbar for user status switcher
        $('#snackbar-user-status label').click(function () {
            Snackbar.show({
                text: 'Статус изменен!',
                pos: 'bottom-center',
                showAction: false,
                actionText: "Dismiss",
                duration: 3000,
                textColor: '#fff',
                backgroundColor: '#383838'
            });
        });
    </script>


    <!-- Google Autocomplete -->
    <script>
        function initAutocomplete() {
            var options = {
                types: ['(cities)'],
                // componentRestrictions: {country: "us"}
            };

            var input = document.getElementById('autocomplete-input');
            var autocomplete = new google.maps.places.Autocomplete(input, options);
        }

        // Autocomplete adjustment for homepage
        if ($('.intro-banner-search-form')[0]) {
            setTimeout(function () {
                $(".pac-container").prependTo(".intro-search-field.with-autocomplete");
            }, 300);
        }

    </script>

    @RenderSection("scripts", required: false)

</body>
</html>
