@using PagedList
@using PagedList.Mvc
@model  IPagedList<HelpMe.Models.Review>
@foreach (var rew in Model)
{
    var a = rew.Rating;
    <li>
        <div class="boxed-list-item">
            <!-- Content -->
            <div class="item-content">
                <h4>Отзыв <span>@rew.User.UserName</span></h4>
                <div class="item-details margin-top-10">
                    <div class="star-rating" data-rating="@rew.Rating.0 "></div>
                    <div class="detail-item"><i class="icon-material-outline-date-range"></i> @rew.Date.ToString("dd MMMM yyyy HH:mm:ss")</div>
                </div>
                <div class="item-description">
                    <p> @rew.Description </p>
                </div>
            </div>
        </div>
    </li>
}
<!-- Pagination -->
<div class="clearfix"></div>
<div class="pagination-container margin-top-40 margin-bottom-10">
    <nav class="pagination">
        <ul>
            @Html.PagedListPager(Model, x => Url.Action("Details",
           new {
               userName = Model.FirstOrDefault().Owner.UserName,
               reviewsPaginated = true,
               reviewsPage = x
           }))
        </ul>
    </nav>
</div>
<div class="clearfix"></div>
<!-- Pagination / End -->