@model IEnumerable<HelpMe.Models.UserViewModel>

@{

}

@foreach (var i in Model)
{
    <!--Freelancer -->
    <div class="freelancer">

        <!-- Overview -->
        <div class="freelancer-overview">
            <div class="freelancer-overview-inner">

                <!-- Bookmark Icon -->
                <span class="bookmark-icon"></span>

                <!-- Avatar -->
                <div class="freelancer-avatar">
                    @{
                        string divClass = "verified-badge not-busy";
                        if (i.IsNotBusy == false)
                        {
                            divClass = "verified-badge busy";
                        }
                    }
                    <div title="занят" class="@divClass"></div>
                    <a href="@Url.Action("Details", "User", new { userName = i.Username })" target="_blank"><img src="@Url.Content(i?.ImagePath)" ></a>
                </div>

                <!-- Name -->
                @{
                    string styleText = "";
                    string spanText = "";

                    if (i.IsOnline)
                    {
                        styleText = "font-size:13px; color:green";
                        spanText = "в сети";
                    }

                    string rate = "0.0";
                    int likes = i.PositiveThumbs;
                    int dislikes = i.NegativeThumbs;
                    if (likes + dislikes > 0)
                    {
                        rate = Math.Round((double)likes / (likes + dislikes) * 5, 1).ToString().Replace(',', '.');
                    }
                    if (rate.Length == 1)
                    {
                        rate = rate + ".0";
                    }
                }
                <div class="freelancer-name">
                    <h4><a href="@Url.Action("Details", "User", new { userName = i.Username })" target="_blank">@i.Username <span id="@i.Username-st" style="@styleText">@spanText</span></a></h4>
                    <span>
                    <div class="task-tags" style="margin:0">
                        @*<span>@i.TaskCategories.Take(1).FirstOrDefault().Name</span>
                            <div class="input-with-icon-left" title="Ваш никнейм" data-tippy-placement="bottom">

                            </div>*@
                        @foreach (var tag in i.TaskCategories.Take(1))
                        {
                            <span title="+ 7 дисциплин">@tag.Name</span>
                        }
                    </div></span>
                    <div class="freelancer-rating">
                        <div class="star-rating" data-rating="@rate"></div>
                    </div>
                </div>

                <!-- Skills-->
                <!-- Rating -->

                

            </div>
        </div>

        <!-- Details -->
        <div class="freelancer-details">
            <div class="freelancer-details-list">
                <ul>
                    <li>Рейтинг<strong><i style="color:green" class="icon-material-outline-thumb-up"></i> @i.PositiveThumbs <i style="color:red" class="icon-material-outline-thumb-down"></i> @i.NegativeThumbs</strong></li>
                    <li>Отзывов <strong>@i.Reviews.Count()</strong></li>
                    <li>Выполнено<strong>@(i.PositiveThumbs + i.NegativeThumbs) работ</strong></li>

                </ul>
            </div>
            <a href=@Url.Action("Details", new { userName = i.Username }) class="button button-sliding-icon ripple-effect" target="_blank">Посмотреть профиль <i class="icon-material-outline-arrow-right-alt"></i></a>
        </div>
    </div>
}