@using Microsoft.AspNet.Identity
@using HelpMe.Helpers
@using PagedList
@model HelpMe.Models.User

@{
    ViewBag.Title = "Профиль";
}

<div class="single-page-header freelancer-header" data-background-image="../Content/Custom/images/single-freelancer.jpg">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="single-page-header-inner">
                    <div class="left-side">
                        <div class="header-image freelancer-avatar">
                            @{
                                if (String.IsNullOrEmpty(Model.ImagePath))
                                {
                                    <img src="~/Content/Custom/images/user-avatar-big-02.jpg" alt="avatar" />
                                }
                                else
                                {
                                    <img src="@Url.Content(Model.ImagePath)" alter="avatar" />
                                }
                            }
                        </div>
                        <div class="header-details">
                            @{
                                string styleText = "";
                                string spanText = "";

                                if (Model.IsOnline)
                                {
                                    styleText = "font-size:13px; color:green";
                                    spanText = "в сети";
                                }
                            }
                            <h3>@Model.UserName <span id="@Model.UserName-st" style="@styleText">@spanText</span><span>@Model.Status</span></h3>
                            <ul>
                                <li>
                                    @{
                                        var likes = Model.PositiveThumbs;
                                        var dislikes = Model.NegativeThumbs;
                                        var userRating = HtmlExtensions.FindUserRatingString(likes, dislikes);
                                    }
                                    <div class="star-rating" data-rating="@userRating"></div>
                                </li>
                                <!--<li><img class="flag" src="images/flags/de.svg" alt=""> Москва</li>-->
                                <li>
                                    @{
                                        if (Model.IsNotBusy)
                                        {
                                            <div class="verified-badge-with-title">Готов к работе</div>
                                        }
                                        else
                                        {
                                            <div class="not-verified-badge-with-title">Занят</div>
                                        }
                                    }

                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="sidebar-container">
                    <!-- Button -->

                </div>
            </div>
        </div>
    </div>
</div>


<!-- Page Content
================================================== -->
<div class="container">
    <div class="row">

        <!-- Content -->
        <div class="col-xl-8 col-lg-8 content-right-offset">

            <!-- Page Content -->
            <div class="single-page-section">
                <h3 class="margin-bottom-25">Информация</h3>
                <p>О себе:</p>
                <p style="-moz-hyphens: auto;-webkit-hyphens: auto;-ms-hyphens: auto;"><em> @Model.Description </em></p>
            </div>


            <!--Disciplines & Skills content-->
            <div class="single-page-section">
                <h3>Дисциплины</h3>
                @foreach (var discipline in Model.TaskCategories)
                {
                    <div style="margin-top:10px">
                        <span>@discipline.Name</span>
                        <div style="margin-top:5px; display:inline-block" class="task-tags">
                            @foreach (var skill in discipline.Skills)
                            {
                                <span>@skill.Name</span>
                            }
                        </div>
                    </div>
                }
            </div>


            <div class="accordion js-accordion" id="customs-history">
                <!-- Accordion Item -->
                <div class="accordion__item js-accordion-item">
                    <div id="acHe" style="color:#333; font-size: 18px;  background-color: #f2f2f2; border-radius: 4px; padding: 20px 35px" class="accordion-header js-accordion-header">
                        <i style="transform: rotate(180deg);" class="icon-material-outline-library-books"></i> История выполнения работ
                    </div>

                    <!-- Accordtion Body -->
                    <div class="accordion-body js-accordion-body">

                        <!-- Accordion Content -->
                        <div class="accordion-body__contents">
                            <!-- Boxed List -->
                            <div class="boxed-list margin-bottom-60">

                                <ul id="cust" class="boxed-list-ul">
                                    @if (Model.Customs.Count() > 0)
                                    {
                                        @Html.Partial("_DetailsCustomsPage", Model.Customs.Where(c => c.DoneInTime != null).OrderByDescending(c => c.StartDate).ToPagedList(
                                            (int)Session["CustomsPage"], (int)Session["CustomsPageSize"]));
                                    }
                                    else
                                    {
                                        <li>Исполнитель еще не выполнял заказы...</li>
                                    }

                                </ul>

                            </div>
                        </div>

                    </div>
                    <!-- Accordion Body / End -->
                </div>
            </div>
            <br />
            <div class="accordion js-accordion" id="reviews-history">
                <!-- Accordion Item -->
                <div class="accordion__item js-accordion-item active">
                    <div style="color:#333; font-size: 18px;  background-color: #f2f2f2; border-radius: 4px; padding: 20px 35px" class="accordion-header js-accordion-header">
                        <i class="icon-material-outline-thumb-up"></i> Отзывы
                    </div>

                    <!-- Accordtion Body -->
                    <div class="accordion-body js-accordion-body" >

                        <!-- Accordion Content -->
                        <div class="accordion-body__contents">
                            <!-- Boxed List -->
                            <div class="boxed-list margin-bottom-60">
                                <div class="sort-by">
                                    <span>Сортировать по:</span>
                                    <select class="selectpicker hide-tick" id="sortReviews" autocomplete="off">
                                        <option value="1" selected>Новым</option>
                                        <option value="2">Давним</option>
                                        <option value="3">Рейтингу</option>
                                    </select>
                                </div>
                                <ul id="rew" class="boxed-list-ul">
                                    @if (Model.Reviews.Count() > 0)
                                    {
                                        @Html.Partial("_DetailsReviewsPage", Model.Reviews.OrderByDescending(r => r.Date).ToPagedList(
                                       (int)Session["ReviewsPage"], (int)Session["ReviewsPageSize"]));
                                    }
                                    else
                                    {
                                        <li>У Исполнителя еще нет отзывов...</li>
                                    }

                                </ul>


                            </div>
                        </div>

                    </div>
                    <!-- Accordion Body / End -->
                </div>
            </div>

            <!-- Old Boxed List -->
            @*
                <div class="boxed-list margin-bottom-60">
                    <div class="boxed-list-headline">
                        <h3><i style=" color: #333; font-size: 18px;" class="icon-material-outline-thumb-up"></i>Отзывы</h3>
                    </div>
                    <ul class="boxed-list-ul">
                        @foreach (var r in Model.Reviews)
                        {
                            <li>
                                <div class="boxed-list-item">
                                    <!-- Content -->
                                    <div class="item-content">
                                        <h4>Отзыв <span>@r.Owner.UserName</span></h4>
                                        <div class="item-details margin-top-10">
                                            <div class="star-rating" data-rating="5.0"></div>
                                            <div class="detail-item"><i class="icon-material-outline-date-range"></i> Август 2018</div>
                                        </div>
                                        <div class="item-description">
                                            <p> @r.Description </p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>

                    <div class="centered-button margin-top-35">
                        <a href="#small-dialog" class="popup-with-zoom-anim button button-sliding-icon">Оставить отзыв <i class="icon-material-outline-arrow-right-alt"></i></a>
                    </div>

                </div>
                <!-- Boxed List / End -->
            *@
        </div>


        <!-- Sidebar -->
        <div class="col-xl-4 col-lg-4">
            <div class="sidebar-container">


                <!-- Кнопки -->
                <div class="profile-overview">
                    <div class="overview-item"><strong>@(Model.PositiveThumbs + Model.NegativeThumbs)</strong><span> Всего работ</span></div>
                    <div class="overview-item"><strong>@Model.PositiveThumbs</strong><span>Положительных отзывов</span></div>
                    <div class="overview-item"><strong>@Model.NegativeThumbs</strong><span>Отрицательных отзывов</span></div>
                </div>

                @if (Request.IsAuthenticated && Model.Id != User.Identity.GetUserId())
                {
                    <!-- Button -->
                    <a href="#small-dialog-4" class="apply-now-button popup-with-zoom-anim margin-bottom-20">Привлечь к заданию <i class="icon-material-outline-arrow-right-alt"></i></a>

                    <a href="#small-dialog-3" class="apply-now-button popup-with-zoom-anim margin-bottom-20">Написать сообщение <i class="icon-material-outline-arrow-right-alt"></i></a>

                    <a href="#small-dialog" class="apply-now-button popup-with-zoom-anim margin-bottom-40">Оставить отзыв <i class="icon-material-outline-arrow-right-alt"></i></a>
                }
                <!-- Freelancer Indicators -->
                <div class="sidebar-widget">
                    <div class="freelancer-indicators">

                        <!-- Indicator -->
                        @{
                            var total = Model.Customs.Count();
                            int procent = 0;
                            if (total > 0)
                            {
                                var inTime = Model.Customs.Where(c => c.DoneInTime == true).Count();
                                procent = (int)Math.Round((double)inTime / total, 0);
                            }
                        }
                        <div class="indicator">
                            <strong>@procent%</strong>
                            <div class="indicator-bar" data-indicator-percentage="@procent"><span></span></div>
                            <span>Вовремя</span>
                        </div>

                        <!-- Indicator -->
                        @{
                            var goodReviews = HtmlExtensions.FindUserPercentRating(likes, dislikes);
                        }
                        <div class="indicator">
                            <strong>@goodReviews%</strong>
                            <div class="indicator-bar" data-indicator-percentage="@goodReviews"><span></span></div>
                            <span>Положительные отзывы</span>
                        </div>

                        <!-- Indicator -->
                        <!--
                        <div class="indicator">
                            <strong>90%</strong>
                            <div class="indicator-bar" data-indicator-percentage="90"><span></span></div>
                            <span>Вовремя</span>
                        </div>
                        -->
                        <!-- Indicator -->
                        <!--
                        <div class="indicator">
                            <strong>80%</strong>
                            <div class="indicator-bar" data-indicator-percentage="80"><span></span></div>
                            <span>Бюджет</span>
                        </div>
                        -->
                    </div>
                </div>


                <!-- Widget -->
                <!-- Widget -->
                <div class="sidebar-widget">
                    <h3>Портфолио</h3>
                    <div class="attachments-container">
                        <a href="#" class="attachment-box ripple-effect"><span>Cover Letter</span><i>PDF</i></a>
                        <a href="#" class="attachment-box ripple-effect"><span>Contract</span><i>DOCX</i></a>
                    </div>
                </div>

                <!-- Sidebar Widget -->
                <div class="sidebar-widget">
                    <h3>Добавить в избранное</h3>

                    <!-- Bookmark Button -->
                    <button class="bookmark-button margin-bottom-25">
                        <span class="bookmark-icon"></span>
                        <span class="bookmark-text">Отметить</span>
                        <span class="bookmarked-text">Отмечено</span>
                    </button>

                    <!-- Copy URL -->
                    <div class="copy-url">
                        <input id="copy-url" type="text" value="" class="with-border">
                        <button class="copy-url-button ripple-effect" data-clipboard-target="#copy-url" title="Скопировано" data-tippy-placement="top"><i class="icon-material-outline-file-copy"></i></button>
                    </div>

                </div>

            </div>
        </div>

    </div>
</div>
@if (Request.IsAuthenticated && Model.Id != User.Identity.GetUserId())
{
    <!-- Leave a Review Popup
    ================================================== -->
    <div id="small-dialog" class="zoom-anim-dialog mfp-hide dialog-with-tabs">

        <!--Tabs -->
        <div class="sign-in-form">

            <ul class="popup-tabs-nav">
                <li><a href="#tab">Оставьте отзыв</a></li>
            </ul>

            <div class="popup-tabs-container">

                <!-- Tab -->
                <div class="popup-tab-content" id="tab">

                    @using (Html.BeginForm("Create", "Review", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken() <!-- Welcome Text -->
                        <div class="welcome-text">
                            <h3>@User.Identity.Name, оцените исполнителя @Model.UserName:</h3>

                            <!-- Form -->
                            <!-- Leave Rating -->
                            <div class="clearfix"></div>
                            <div class="leave-rating-container">
                                <div class="leave-rating margin-bottom-5">
                                    <input type="radio" name="Rating" id="rating-1" value="5" required>
                                    <label for="rating-1" class="icon-material-outline-star"></label>
                                    <input type="radio" name="Rating" id="rating-2" value="4" required>
                                    <label for="rating-2" class="icon-material-outline-star"></label>
                                    <input type="radio" name="Rating" id="rating-3" value="3" required>
                                    <label for="rating-3" class="icon-material-outline-star"></label>
                                    <input type="radio" name="Rating" id="rating-4" value="2" required>
                                    <label for="rating-4" class="icon-material-outline-star"></label>
                                    <input type="radio" name="Rating" id="rating-5" value="1" required>
                                    <label for="rating-5" class="icon-material-outline-star"></label>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <!-- Leave Rating / End-->
                        </div>
                        @Html.TextArea("Description", "",
                       new {
                           rows = "5", cols = "7",
                           @placeholder = "Оставьте развернутый отзыв...",
                           id ="create-review-description",
                           @class = "with-border" })
                        @Html.Hidden("OwnerId", Model.Id)
                        <!-- Button -->
                        <button class="button margin-top-35 full-width button-sliding-icon ripple-effect" type="submit">Оставить отзыв <i class="icon-material-outline-arrow-right-alt"></i></button>
                    }
                </div>

            </div>
        </div>
    </div>

    <!-- Leave a Review Popup / End -->
    <!-- Spacer -->
    <div class="margin-top-15"></div>


    <div id="small-dialog-3" class="zoom-anim-dialog mfp-hide dialog-with-tabs">

        <!--Tabs -->
        <div class="sign-in-form">

            <ul class="popup-tabs-nav">
                <li><a href="#tab">Ваше сообщение</a></li>
            </ul>

            <div class="popup-tabs-container">
                @using (Html.BeginForm("AddMessage", "Chat", FormMethod.Post))
                {
                    @Html.AntiForgeryToken();
                    <!-- Tab -->
                    <div class="popup-tab-content" id="tab">

                        <!-- Welcome Text -->
                        <div class="welcome-text">
                            <h3>Отправьте сообщение</h3>
                        </div>
                        @Html.Hidden("UserFromId", User.Identity.GetUserId())
                        @Html.Hidden("UserToId", Model.Id)

                        <textarea name="Description" id="add-message-description" cols="10" placeholder="Сообщение" class="with-border"></textarea>
                        <!-- Button -->
                        <button class="button margin-top-35 full-width button-sliding-icon ripple-effect" type="submit">Отправить <i class="icon-material-outline-arrow-right-alt"></i></button>
                    </div>
                }

            </div>
        </div>
    </div>
    <!-- Make an Offer Popup
    ================================================== -->
    <div id="small-dialog-4" class="zoom-anim-dialog mfp-hide dialog-with-tabs">

        <!--Tabs -->
        <div class="sign-in-form">

            <ul class="popup-tabs-nav">
                <li><a href="#tab">Привлечь к заказу</a></li>
            </ul>

            <div style="overflow:unset" class="popup-tabs-container">

                <!-- Tab -->
                <div class="popup-tab-content" id="tab">

                    <!-- Welcome Text -->
                    <div class="welcome-text">
                        <h3>Предложение для @Model.UserName:</h3>
                    </div>

                    <!-- Form -->
                    <form id="attract-to-custom" method="post">
                        @Html.DropDownList("Ваши заказы", ViewData["CustomsList"] as SelectList,
                   "Выберите заказ:", new { id = "CustomsList", @class = "selectpicker", data_live_search="true", autocomplete = "off"})
                        <br />
                        @*<textarea name="textarea" cols="10" placeholder="Сообщение" class="with-border"></textarea>*@


                        <!-- Button -->
                        <button class="button margin-top-35 margin-bottom-15 full-width button-sliding-icon ripple-effect" type="submit">Сделать предложение <i class="icon-material-outline-arrow-right-alt"></i></button>
                    </form>
                </div>

                <!-- Login -->
                @*<div class="popup-tab-content" id="loginn">

                        <!-- Welcome Text -->
                        <div class="welcome-text">
                            <h3>Discuss Your Project With Tom</h3>
                        </div>

                        <!-- Form -->
                        <form method="post" id="make-an-offer-form">

                            <div class="input-with-icon-left">
                                <i class="icon-material-outline-account-circle"></i>
                                <input type="text" class="input-text with-border" name="name2" id="name2" placeholder="First and Last Name" required />
                            </div>

                            <div class="input-with-icon-left">
                                <i class="icon-material-baseline-mail-outline"></i>
                                <input type="text" class="input-text with-border" name="emailaddress2" id="emailaddress2" placeholder="Email Address" required />
                            </div>

                            <textarea name="textarea" cols="10" placeholder="Message" class="with-border"></textarea>

                            <div class="uploadButton margin-top-25">
                                <input class="uploadButton-input" type="file" accept="image/*, application/pdf" id="upload-cv" multiple />
                                <label class="uploadButton-button" for="upload-cv">Add Attachments</label>
                                <span class="uploadButton-file-name">Allowed file types: zip, pdf, png, jpg <br> Max. files size: 50 MB.</span>
                            </div>

                        </form>

                        <!-- Button -->
                        <button class="button full-width button-sliding-icon ripple-effect" type="submit" form="make-an-offer-form">Make an Offer <i class="icon-material-outline-arrow-right-alt"></i></button>

                    </div>*@

            </div>
        </div>
    </div>

}
@section scripts{
    <script type="text/javascript">

        $('#attract-to-custom').submit( function (e) {
            var customsListId = $("#CustomsList").val();
            //alert('zbs');
            if (customsListId) {
                $.ajax({
                    url: "/User/AttractToCustom",
                    data: {
                        'yourMessage': 'Вы предложили заказ исполнителю ' + '@Model.UserName',
                        'customId': customsListId,
                        'userFromName': '@User.Identity.Name',
                        'userToName': '@Model.UserName',
                        'sentMessage': "предложил вам выполнить заказ"
                    },
                    success: function (data) {
                        $(".mfp-close").trigger('click');
                        if (data == 'False') {
                            Snackbar.show({
                                text: 'Вы уже привлекали этого исполнителя к текущему заказу!',
                            });
                        }
                    },
                    error: function (data) {
                        console.log('SendMessage is gone bad');
                    }
                });
            }
            else {
                Snackbar.show({
                    text: 'Сперва выберите заказ!',
                });
            }
            e.preventDefault();
        });

        function ChangeUrl(page, url) {
            if (typeof (history.pushState) != "undefined") {
                var obj = { Page: page, Url: url };
                history.pushState(null, obj.Page, obj.Url);
            } else {
                alert("Browser does not support HTML5.");
            }
        }

        $('#sortReviews').on('change', function () {
            var sortType = $(this).val();
            //console.log('sortType = ' + sortType);
            $("#rew").load('@Url.Action("Details", "User")?userName=@Model.UserName&reviewsSortSelected=true&reviewSortType=' + sortType, function () {
                starRating('#rew .star-rating');
            });
        });


        $('body').on('click', '#customs-history .pagination a', function (event) {
            event.preventDefault();
            //console.log('page');

            var url = $(this).attr('href');
            //console.log(url);
            $.ajax({
                url: url,
                data: {

                },
                success: function (result) {
                    ChangeUrl('index', url);
                    $('#cust').html(result);
                    //starRating('#cust .star-rating');
                }
            });
        });

        $('body').on('click', '#reviews-history .pagination a', function (event) {
            event.preventDefault();
            //console.log('page');
            var url = $(this).attr('href');
            //console.log(url);
            $.ajax({
                url: url,
                data: {

                },
                success: function (result) {
                    ChangeUrl('index', url);
                    $('#rew').html(result);
                    starRating('#rew .star-rating');
                }
            });
        });
        
    </script>
}