@using Microsoft.AspNet.Identity
@model HelpMe.Models.User

@{
    ViewBag.Title = "Профиль";
}

<div class="single-page-header freelancer-header" data-background-image="images/single-freelancer.jpg">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="single-page-header-inner">
                    <div class="left-side">
                        <div class="header-image freelancer-avatar">
                            @{
                                if (String.IsNullOrEmpty(Model.ImagePath))
                                {
                                    <img src="~/Content/Custom/images/user-avatar-big-02.jpg" alt="avatar" />
                                }
                                else
                                {
                                    <img src="@Model.ImagePath" alter="avatar" />
                                }
                            }
                        </div>
                        <div class="header-details">
                            @{
                                string styleText = "";
                                string spanText = "";

                                if (Model.IsOnline)
                                {
                                    styleText = "font-size:13px; color:green";
                                    spanText = "в сети";
                                }
                            }
                            <span><strong>@Model.UserName </strong><span id="@Model.UserName-st" style="@styleText">@spanText</span></span>
                            <ul>
                                <li>
                                    @{
                                        var userRating = Math.Round((double)Model.PositiveThumbs / (Model.PositiveThumbs + Model.NegativeThumbs) * 5, 1).ToString().Replace(',', '.');
                                    }
                                    <div class="star-rating" data-rating="@userRating"></div>
                                </li>
                                <!--<li><img class="flag" src="images/flags/de.svg" alt=""> Москва</li>-->
                                <li>
                                    <!--<div class="verified-badge-with-title">Проверенный исполнитель</div>-->
                                </li>
                            </ul>

                            @{
                                string busyText = "Не занят";
                                if (Model.IsNotBusy == false)
                                {
                                    busyText = "Занят";
                                }
                            }
                            <h4>@busyText</h4>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="sidebar-container">
                    <!-- Button -->
                    <a href="#small-dialog-2" class="apply-now-button popup-with-zoom-anim margin-bottom-20">Привлечь к заданию <i class="icon-material-outline-arrow-right-alt"></i></a>

                    <a href="#small-dialog-3" class="apply-now-button popup-with-zoom-anim margin-bottom-20">Написать сообщение <i class="icon-material-outline-arrow-right-alt"></i></a>

                    <a href="#small-dialog" class="apply-now-button popup-with-zoom-anim">Оставить отзыв <i class="icon-material-outline-arrow-right-alt"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Page Content
================================================== -->
<div class="container">
    <div class="row">

        <!-- Content -->
        <div class="col-xl-8 col-lg-8 content-right-offset">

            <!-- Page Content -->
            <div class="single-page-section">
                <h3 class="margin-bottom-25">Информация</h3>
                <p>О себе:</p>
                <p style="-moz-hyphens: auto;-webkit-hyphens: auto;-ms-hyphens: auto;"><em> @Model.Description </em></p>
            </div>

            <div class="accordion js-accordion">
                <!-- Accordion Item -->
                <div class="accordion__item js-accordion-item">
                    <div style="color:#333; font-size: 18px;  background-color: #f2f2f2; border-radius: 4px; padding: 20px 35px" class="accordion-header js-accordion-header">
                        <i class="icon-material-outline-library-books"></i> История выполнения работ
                    </div>

                    <!-- Accordtion Body -->
                    <div class="accordion-body js-accordion-body">

                        <!-- Accordion Content -->
                        <div class="accordion-body__contents">
                            <!-- Boxed List -->
                            <div class="boxed-list margin-bottom-60">

                                <ul class="boxed-list-ul">
                                    <li>
                                        <div class="boxed-list-item">
                                            <!-- Content -->
                                            <div class="item-content">
                                                <h4>Порешать уравнения</h4>
                                                <div class="item-details margin-top-10">
                                                    <div class="detail-item"><i class="icon-material-outline-date-range"></i> Август 2018</div>
                                                </div>
                                                <div class="item-description">
                                                    <p>Сделано в срок </p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="boxed-list-item">
                                            <!-- Content -->
                                            <div class="item-content">
                                                <h4>Порешать одного челика</h4>
                                                <div class="item-details margin-top-10">
                                                    <div class="detail-item"><i class="icon-material-outline-date-range"></i> Август 2018</div>
                                                </div>
                                                <div class="item-description">
                                                    <p>Сделано никуя не в срок, тот типчик уже сам откинулся </p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    @*<li>
                                            <div class="boxed-list-item">
                                                 Content
                                                <div class="item-content">
                                                    <h4>WordPress Theme Installation <span>Оценено исполнителем</span></h4>
                                                    <div class="item-details margin-top-10">
                                                        <div class="star-rating" data-rating="5.0"></div>
                                                        <div class="detail-item"><i class="icon-material-outline-date-range"></i> Июнь 2019</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>*@

                                </ul>

                                <!-- Pagination -->
                                <div class="clearfix"></div>
                                <div class="pagination-container margin-top-40 margin-bottom-10">
                                    <nav class="pagination">
                                        <ul>
                                            <li><a href="#" class="ripple-effect current-page">1</a></li>
                                            <li><a href="#" class="ripple-effect">2</a></li>
                                            <li class="pagination-arrow"><a href="#" class="ripple-effect"><i class="icon-material-outline-keyboard-arrow-right"></i></a></li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="clearfix"></div>
                                <!-- Pagination / End -->

                            </div>
                        </div>

                    </div>
                    <!-- Accordion Body / End -->
                </div>
            </div>

            <div class="accordion js-accordion">
                <!-- Accordion Item -->
                <div class="accordion__item js-accordion-item">
                    <div style="color:#333; font-size: 18px;  background-color: #f2f2f2; border-radius: 4px; padding: 20px 35px" class="accordion-header js-accordion-header">
                        <i class="icon-material-outline-thumb-up"></i> Отзывы
                    </div>

                    <!-- Accordtion Body -->
                    <div class="accordion-body js-accordion-body">

                        <!-- Accordion Content -->
                        <div class="accordion-body__contents">
                            <!-- Boxed List -->
                            <div class="boxed-list margin-bottom-60">

                                <ul class="boxed-list-ul">
                                    @foreach (var r in Model.Reviews)
                                    {
                                        <li>
                                            <div class="boxed-list-item">
                                                <!-- Content -->
                                                <div class="item-content">
                                                    <h4>Отзыв <span>@r.Owner.UserName</span></h4>
                                                    <div class="item-details margin-top-10">
                                                        <div class="star-rating" data-rating="5.0"></div>
                                                        <div class="detail-item"><i class="icon-material-outline-date-range"></i> Август 2018</div>
                                                    </div>
                                                    <div class="item-description">
                                                        <p> @r.Description </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                </ul>
                                <!-- Pagination -->
                                <div class="clearfix"></div>
                                <div class="pagination-container margin-top-40 margin-bottom-10">
                                    <nav class="pagination">
                                        <ul>
                                            <li><a href="#" class="ripple-effect current-page">1</a></li>
                                            <li><a href="#" class="ripple-effect">2</a></li>
                                            <li class="pagination-arrow"><a href="#" class="ripple-effect"><i class="icon-material-outline-keyboard-arrow-right"></i></a></li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="clearfix"></div>
                                <!-- Pagination / End -->

                            </div>
                        </div>

                    </div>
                    <!-- Accordion Body / End -->
                </div>
            </div>

            <!-- Old Boxed List -->
            @*
                <div class="boxed-list margin-bottom-60">
                    <div class="boxed-list-headline">
                        <h3><i style=" color: #333; font-size: 18px;" class="icon-material-outline-thumb-up"></i>Отзывы</h3>
                    </div>
                    <ul class="boxed-list-ul">
                        @foreach (var r in Model.Reviews)
                        {
                            <li>
                                <div class="boxed-list-item">
                                    <!-- Content -->
                                    <div class="item-content">
                                        <h4>Отзыв <span>@r.Owner.UserName</span></h4>
                                        <div class="item-details margin-top-10">
                                            <div class="star-rating" data-rating="5.0"></div>
                                            <div class="detail-item"><i class="icon-material-outline-date-range"></i> Август 2018</div>
                                        </div>
                                        <div class="item-description">
                                            <p> @r.Description </p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>

                    <div class="centered-button margin-top-35">
                        <a href="#small-dialog" class="popup-with-zoom-anim button button-sliding-icon">Оставить отзыв <i class="icon-material-outline-arrow-right-alt"></i></a>
                    </div>

                </div>
                <!-- Boxed List / End -->
            *@
        </div>


        <!-- Sidebar -->
        <div class="col-xl-4 col-lg-4">
            <div class="sidebar-container">

                <!-- Profile Overview -->
                <div class="profile-overview">
                    <div class="overview-item"><strong>@(Model.PositiveThumbs + Model.NegativeThumbs)</strong><span> Всего работ</span></div>
                    <div class="overview-item"><strong>@Model.PositiveThumbs</strong><span>Положительных отзывов</span></div>
                    <div class="overview-item"><strong>@Model.NegativeThumbs</strong><span>Отрицательных отзывов</span></div>
                </div>

                <!-- Button -->
                @*<a href="#small-dialog-2" class="apply-now-button popup-with-zoom-anim margin-bottom-20">Привлечь к заданию <i class="icon-material-outline-arrow-right-alt"></i></a>

                <a href="#small-dialog-3" class="apply-now-button popup-with-zoom-anim margin-bottom-20">Написать сообщение <i class="icon-material-outline-arrow-right-alt"></i></a>

                <a href="#small-dialog" class="apply-now-button popup-with-zoom-anim margin-bottom-40">Оставить отзыв <i class="icon-material-outline-arrow-right-alt"></i></a>*@
                <!-- Freelancer Indicators -->
                <div class="sidebar-widget">
                    <div class="freelancer-indicators">

                        <!-- Indicator -->
                        <div class="indicator">
                            <strong>88%</strong>
                            <div class="indicator-bar" data-indicator-percentage="88"><span></span></div>
                            <span>Вовремя</span>
                        </div>

                        <!-- Indicator -->
                        @{
                            int goodReviews = (int)Math.Round((double)Model.PositiveThumbs / (Model.PositiveThumbs + Model.NegativeThumbs) * 100, 0);
                        }
                        <div class="indicator">
                            <strong>@goodReviews%</strong>
                            <div class="indicator-bar" data-indicator-percentage="@goodReviews"><span></span></div>
                            <span>Положительные отзывы</span>
                        </div>

                        <!-- Indicator -->
                        <!--
                        <div class="indicator">
                            <strong>90%</strong>
                            <div class="indicator-bar" data-indicator-percentage="90"><span></span></div>
                            <span>Вовремя</span>
                        </div>
                        -->
                        <!-- Indicator -->
                        <!--
                        <div class="indicator">
                            <strong>80%</strong>
                            <div class="indicator-bar" data-indicator-percentage="80"><span></span></div>
                            <span>Бюджет</span>
                        </div>
                        -->
                    </div>
                </div>


                <!-- Widget -->
                @foreach (var discipline in Model.TaskCategories)
                {
                    <div class="sidebar-widget">
                        <h3>@discipline.Name</h3>
                        <div class="task-tags">
                            @foreach (var skill in discipline.Skills)
                            {
                                <span>@skill.Name</span>
                            }
                        </div>
                    </div>
                }


                <!-- Widget -->
                <div class="sidebar-widget">
                    <h3>Портфолио</h3>
                    <div class="attachments-container">
                        <a href="#" class="attachment-box ripple-effect"><span>Cover Letter</span><i>PDF</i></a>
                        <a href="#" class="attachment-box ripple-effect"><span>Contract</span><i>DOCX</i></a>
                    </div>
                </div>

                <!-- Sidebar Widget -->
                <div class="sidebar-widget">
                    <h3>Добавить в избранное</h3>

                    <!-- Bookmark Button -->
                    <button class="bookmark-button margin-bottom-25">
                        <span class="bookmark-icon"></span>
                        <span class="bookmark-text">Отметить</span>
                        <span class="bookmarked-text">Отмечено</span>
                    </button>

                    <!-- Copy URL -->
                    <div class="copy-url">
                        <input id="copy-url" type="text" value="" class="with-border">
                        <button class="copy-url-button ripple-effect" data-clipboard-target="#copy-url" title="Скопировано" data-tippy-placement="top"><i class="icon-material-outline-file-copy"></i></button>
                    </div>

                    <!-- Share Buttons -->
                    <div class="share-buttons margin-top-25">
                        <div class="share-buttons-trigger"><i class="icon-feather-share-2"></i></div>
                        <div class="share-buttons-content">
                            <span>Интересно? <strong>Share It!</strong></span>
                            <ul class="share-buttons-icons">
                                <li><a href="#" data-button-color="#3b5998" title="Share on Facebook" data-tippy-placement="top"><i class="icon-brand-facebook-f"></i></a></li>
                                <li><a href="#" data-button-color="#1da1f2" title="Share on Twitter" data-tippy-placement="top"><i class="icon-brand-twitter"></i></a></li>
                                <li><a href="#" data-button-color="#dd4b39" title="Share on Google Plus" data-tippy-placement="top"><i class="icon-brand-google-plus-g"></i></a></li>
                                <li><a href="#" data-button-color="#0077b5" title="Share on LinkedIn" data-tippy-placement="top"><i class="icon-brand-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

<!-- Leave a Review Popup
================================================== -->
<div id="small-dialog" class="zoom-anim-dialog mfp-hide dialog-with-tabs">

    <!--Tabs -->
    <div class="sign-in-form">

        <ul class="popup-tabs-nav">
            <li><a href="#tab">Leave a Review</a></li>
        </ul>

        <div class="popup-tabs-container">

            <!-- Tab -->
            <div class="popup-tab-content" id="tab">

                @using (Html.BeginForm("Create", "Review", FormMethod.Post))
                {
                    @Html.AntiForgeryToken() <!-- Welcome Text -->
                    <div class="welcome-text">
                        <h3>Понравился исполнитель?</h3>

                        <!-- Form -->
                        <!-- Leave Rating -->
                        <div class="clearfix"></div>
                        <div class="leave-rating-container">
                            <div class="leave-rating margin-bottom-5">
                                <input type="radio" name="rating" id="rating-1" value="1" required>
                                <label for="rating-1" class="icon-material-outline-star"></label>
                                <input type="radio" name="rating" id="rating-2" value="2" required>
                                <label for="rating-2" class="icon-material-outline-star"></label>
                                <input type="radio" name="rating" id="rating-3" value="3" required>
                                <label for="rating-3" class="icon-material-outline-star"></label>
                                <input type="radio" name="rating" id="rating-4" value="4" required>
                                <label for="rating-4" class="icon-material-outline-star"></label>
                                <input type="radio" name="rating" id="rating-5" value="5" required>
                                <label for="rating-5" class="icon-material-outline-star"></label>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <!-- Leave Rating / End-->
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="input-with-icon-left" title="Добавьте свой отзыв" data-tippy-placement="bottom">
                                <i class="icon-material-outline-account-circle"></i>
                                <input type="text" class="input-text with-border" name="name" id="name" placeholder="Ваше имя" />
                            </div>
                        </div>

                        <div class="col-xl-12">
                            <div class="input-with-icon-left">
                                <i class="icon-material-outline-rate-review"></i>
                                <input type="text" class="input-text with-border" name="reviewtitle" id="reviewtitle" placeholder="Описание" required />
                            </div>
                        </div>
                    </div>

                    @Html.TextArea("Description", new { rows = "5", cols = "7", @class = "with-border" })
                    @Html.Hidden("OwnerId", Model.Id)
                    <!-- Button -->
                    <button class="button margin-top-35 full-width button-sliding-icon ripple-effect" type="submit">Оставить отзыв <i class="icon-material-outline-arrow-right-alt"></i></button>
                }
            </div>

        </div>
    </div>
</div>
        }
<!-- Leave a Review Popup / End -->
<!-- Spacer -->
<div class="margin-top-15"></div>


<div id="small-dialog-3" class="zoom-anim-dialog mfp-hide dialog-with-tabs">

    <!--Tabs -->
    <div class="sign-in-form">

        <ul class="popup-tabs-nav">
            <li><a href="#tab">Ваше сообщение</a></li>
        </ul>

        <div class="popup-tabs-container">
            @using (Html.BeginForm("AddMessage", "Chat", FormMethod.Post))
            {
                @Html.AntiForgeryToken();
                <!-- Tab -->
                <div class="popup-tab-content" id="tab">

                    <!-- Welcome Text -->
                    <div class="welcome-text">
                        <h3>Отправьте сообщение</h3>
                    </div>
                    @Html.Hidden("UserFromId", User.Identity.GetUserId())
                    @Html.Hidden("UserToId", Model.Id)

                    <textarea name="Description" id="Description" cols="10" placeholder="Сообщение" class="with-border"></textarea>
                    <!-- Button -->
                    <button class="button margin-top-35 full-width button-sliding-icon ripple-effect" type="submit">Отправить <i class="icon-material-outline-arrow-right-alt"></i></button>
                </div>
            }

        </div>
    </div>
</div>
<!-- Make an Offer Popup
================================================== -->
<div id="small-dialog-2" class="zoom-anim-dialog mfp-hide dialog-with-tabs">

    <!--Tabs -->
    <div class="sign-in-form">

        <ul class="popup-tabs-nav">
            <li><a href="#tab">Сделать предложение</a></li>
        </ul>

        <div class="popup-tabs-container">

            <!-- Tab -->
            <div class="popup-tab-content" id="tab">

                <!-- Welcome Text -->
                <div class="welcome-text">
                    <h3>Предложение для Магамеда</h3>
                </div>

                <!-- Form -->
                <form method="post">

                    <div class="input-with-icon-left">
                        <i class="icon-material-outline-account-circle"></i>
                        <input type="text" class="input-text with-border" name="name" id="name" placeholder="Имя" />
                    </div>

                    <div class="input-with-icon-left">
                        <i class="icon-material-baseline-mail-outline"></i>
                        <input type="text" class="input-text with-border" name="emailaddress" id="emailaddress" placeholder="Почта" />
                    </div>

                    <textarea name="textarea" cols="10" placeholder="Сообщения" class="with-border"></textarea>

                    <div class="uploadButton margin-top-25">
                        <input class="uploadButton-input" type="file" accept="image/*, application/pdf" id="upload" multiple />
                        <label class="uploadButton-button ripple-effect" for="upload">Add Attachments</label>
                        <span class="uploadButton-file-name">Разрешенные типы: zip, pdf, png, jpg <br> Max. files size: 50 MB.</span>
                    </div>

                </form>

                <!-- Button -->
                <button class="button margin-top-35 full-width button-sliding-icon ripple-effect" type="submit">Сделать предложение <i class="icon-material-outline-arrow-right-alt"></i></button>

            </div>
            <!-- Login -->
            <div class="popup-tab-content" id="loginn">

                <!-- Welcome Text -->
                <div class="welcome-text">
                    <h3>Discuss Your Project With Tom</h3>
                </div>

                <!-- Form -->
                <form method="post" id="make-an-offer-form">

                    <div class="input-with-icon-left">
                        <i class="icon-material-outline-account-circle"></i>
                        <input type="text" class="input-text with-border" name="name2" id="name2" placeholder="First and Last Name" required />
                    </div>

                    <div class="input-with-icon-left">
                        <i class="icon-material-baseline-mail-outline"></i>
                        <input type="text" class="input-text with-border" name="emailaddress2" id="emailaddress2" placeholder="Email Address" required />
                    </div>

                    <textarea name="textarea" cols="10" placeholder="Message" class="with-border"></textarea>

                    <div class="uploadButton margin-top-25">
                        <input class="uploadButton-input" type="file" accept="image/*, application/pdf" id="upload-cv" multiple />
                        <label class="uploadButton-button" for="upload-cv">Add Attachments</label>
                        <span class="uploadButton-file-name">Allowed file types: zip, pdf, png, jpg <br> Max. files size: 50 MB.</span>
                    </div>

                </form>

                <!-- Button -->
                <button class="button full-width button-sliding-icon ripple-effect" type="submit" form="make-an-offer-form">Make an Offer <i class="icon-material-outline-arrow-right-alt"></i></button>

            </div>

        </div>
    </div>
</div>
