<!-- Page Content
================================================== -->
@using Microsoft.AspNet.Identity
@model IEnumerable<HelpMe.Models.UserViewModel>
<div class="full-page-container">

    <div class="full-page-sidebar">
        <div class="full-page-sidebar-inner" data-simplebar>
            <div class="sidebar-container">

                <!-- User name -->
                <div class="sidebar-widget">
                    <h3>Имя исполнителя</h3>
                    <div class="input-with-icon">
                        <div id="autocomplete-container">
                            <input id="autocomplete-input" type="text" placeholder="Введите имя">
                        </div>
                        <i class="icon-material-outline-folder-shared"></i>
                    </div>
                </div>

                <!-- Category -->
                <div class="sidebar-widget">
                    <h3>Дисциплина</h3>
                    @Html.DropDownList("Все дисциплины",  ViewBag.Tasks as SelectList,
                   "Все дисциплины", new { @class = "selectpicker-filterdropdown", id ="TaskList"})
                    <br>
                    @*@Html.DropDownList("Все предметы", ViewBag.Skills as SelectList,
                        new { @class = "selectpicker", id="SkillList" })*@
                    @Html.DropDownList("All subjects", Enumerable.Empty<SelectListItem>(),
                   "Все предметы", new { @class = "selectpicker-filterdropdown", id = "SkillList", @disabled="disabled" })
                    @*<select class="selectpicker" data-live-search="true" title="Все предметы">
                            <option>Математик</option>
                            <option>Физик</option>
                            <option>Физрук</option>
                        </select>*@
                </div>

                <!-- Hourly Rate -->
                <div class="sidebar-widget">
                    <h3>Количество работ</h3>
                    <div class="margin-top-55"></div>

                    <!-- Range Slider -->
                    <input class="range-slider-single" type="text" id="work-range"
                           data-slider-min="0" data-slider-max="250" data-slider-step="5" data-slider-value="0" />
                </div>

                <!-- Tags -->
                <div class="sidebar-widget">
                    <h3>Дополнительно</h3>
                    <div class="tags-container">
                        <div class="tag">
                            <input type="checkbox" id="tag1" />
                            <label for="tag1">Сейчас онлайн</label>
                        </div>
                        <div class="tag">
                            <input type="checkbox" id="tag2" />
                            <label for="tag2">Не занят</label>
                        </div>
                        <div class="tag">
                            <input type="checkbox" id="tag3" />
                            <label for="tag3">Помощь онлайн</label>
                        </div>
                        <div class="tag">
                            <input type="checkbox" id="tag4" />
                            <label for="tag4">Скрывает боль</label>
                        </div>

                    </div>
                    <div class="clearfix"></div>


                </div>
                <div class="clearfix"></div>

                <div class="margin-bottom-40"></div>

            </div>
            <!-- Sidebar Container / End -->
            <!-- Search Button -->
            <div class="sidebar-search-button-container">
                <button class="button ripple-effect" id="reset-filter-button">Сбросить всё</button>
            </div>
            <!-- Search Button / End-->

        </div>
    </div>
    <!-- Full Page Sidebar / End -->
    <!-- Full Page Content -->
    <div id="fpcc" class="full-page-content-container" data-simplebar>
        <div class="full-page-content-inner">

            <h3 class="page-title">
                <!-- Loading animation -->
                <span id="found-users-count">Найдено исполнителей: @TempData["UsersCount"]</span>
                <img width="32" height="32" class="loading-animation"
                     src="~/Content/Custom/images/ajax-loader.gif">

            </h3>



            <div class="notify-box margin-top-15">
                <div class="switch-container">
                    <label class="switch"><input type="checkbox"><span class="switch-button"></span><span class="switch-text">Включить уведомление по почте для новых задач</span></label>
                </div>

                <div class="sort-by">
                    <span>Сортировать по:</span>
                    <select class="selectpicker hide-tick" id="sortField">
                        <option value="1" selected>Рейтингу</option>
                        <option value="2">Дате</option>
                    </select>
                </div>
            </div>


            <!-- Freelancers List Container -->
            <div class="freelancers-container freelancers-list-layout compact-list margin-top-35" id="freelancers-container">
                @Html.Partial("_UsersPage")
            </div>
            <!-- Freelancers Container / End -->
            <!-- Pagination -->
            <div class="clearfix"></div>
            <div class="pagination-container margin-top-20 margin-bottom-20">
                <nav class="pagination">
                    <div class="social-login-buttons">
                        <button class="facebook-login ripple-effect" id="load-more-button">Еще исполнители</button>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>

@section scripts
{

    <script type="text/javascript">
        $(function () {
            var page = 0;
            var _inCallback = false;
            function loadItems() {
                if (page > -1 && !_inCallback) {
                    _inCallback = true;
                    page++;
                    var nickName = $("#autocomplete-input").val();
                    var taskListId = $("#TaskList").val();
                    var skillListId = $("#SkillList").val();
                    var sortingId = $('#sortField').val();
                    var count = $("#work-range").val();

                    $.ajax({
                        type: 'GET',
                        url: '/User/Index/',
                        data: {
                            'id': page,
                            'name': nickName,
                            'taskId': taskListId,
                            'skillId': skillListId,
                            'worksCount': count,
                            'sortId': sortingId
                        },
                        success: function (data, textstatus) {
                            //alert("in load function");
                            @*if (@TempData["UsersCount"]<= 3) {
                                  $("#load-more-button").hide();
                                }*@
                            if (data != '') {
                                $("#freelancers-container").append(data);
                            }
                            else {
                                //alert("in da else branch");
                                $("#load-more-button").hide();
                                page = -1;
                            }
                            _inCallback = false;
                        }
                    });
                }
            }
            $("#load-more-button").click(function () {
                loadItems();
            });

            $("#autocomplete-input").keyup(function () {
                var taskListId = $("#TaskList").val();
                if (!taskListId) {
                    taskListId = 0;
                }
                var skillListId = $("#SkillList").val();
                if (!skillListId) {
                    skillListId = 0;
                }
                var sortingId = $("#sortField").val();
                var count = $("#work-range").val();
                $.ajax({
                    type: "GET",
                    url: "/User/Index",
                    data: {
                        'id': page,
                        'name': $(this).val(),
                        'taskId': taskListId,
                        'skillId': skillListId,
                        'worksCount': count,
                        'sortId': sortingId
                    },
                    success: function (data) {
                        $('#freelancers-container').empty();
                        $('#freelancers-container').html(data);
                        $("#found-users-count").html("Найдено исполнителей: @TempData["UsersCount"]");
                    },
                    error: function (data) { alert(data.responseText); }
                });
            });

                $('#TaskList').change(function () {
                    var id = $(this).val();
                    if (!id) {
                        id = 0;
                    }
                    var nickName = $("#autocomplete-input").val();
                    var sortingId = $("#sortField").val();
                    var count = $("#work-range").val();
                    $.ajax({
                        type: 'GET',
                        url: '@Url.Action("GetSkills", "User")/' + id,
                        dataType: 'JSON',
                        success: function (data) {
                            $('#SkillList').empty();
                            if (id != 0) {
                                $('#SkillList').attr('disabled',false);
                                $('#SkillList').append("<option value=''>Все предметы</option>");
                                $.each(data, function (i, item) {
                                    $('#SkillList').append("<option value='" + item.Id + "'>" + item.Name + "</option>");
                                });
                            }
                            else {
                                $('#SkillList').append("<option value=''></option>");
                                $('#SkillList').attr("disabled", true);
                            }
                            $('#SkillList').selectpicker("refresh");
                        },
                        error: function (data) { alert(data.responseText); }
                    });
                    $.ajax({
                        type: 'GET',
                        url: '/User/Index',
                        data: {
                            'id': page,
                            'name': nickName,
                            'taskId': id,
                            'skillId': null,
                            'worksCount': count,
                            'sortId': sortingId
                        },
                        success: function (data) {
                            $('#freelancers-container').empty();
                            $('#freelancers-container').html(data);
                            $("#found-users-count").html("Найдено исполнителей: @TempData["UsersCount"]");
                        },
                        error: function (data) { alert(data.responseText); }
                    });
                });

            $('#SkillList').change(function () {
                var id = $(this).val();
                if (!id) {
                    id = 0;
                }
                var nickName = $("#autocomplete-input").val();
                var taskListId = $("#TaskList").val();
                var sortingId = $('#sortField').val();
                var count = $("#work-range").val();
                $.ajax({
                    type: 'GET',
                    url: '/User/Index',
                    data: {
                        'id': page,
                        'name': nickName,
                        'taskId': taskListId,
                        'skillId': id,
                        'worksCount': count,
                        'sortId': sortingId
                    },
                    success: function (data) {
                        $('#freelancers-container').empty();
                        $('#freelancers-container').html(data);
                        $("#found-users-count").html("Найдено исполнителей: @TempData["UsersCount"]");
                        $('#SkillList').selectpicker("refresh");
                    },
                    error: function (data) { alert(data.responseText); }
                });
            });

            $('#sortField').change(function () {
                var id = $(this).val();
                var nickName = $("#autocomplete-input").val();
                var taskListId = $("#TaskList").val();
                var skillListId = $("#SkillList").val();
                var count = $("#work-range").val();
                $.ajax({
                    type: 'GET',
                    url: '/User/Index',
                    data: {
                        'id': page,
                        'name': nickName,
                        'taskId': taskListId,
                        'skillId': skillListId,
                        'worksCount': count,
                        'sortId': id
                    },
                    success: function (data) {
                        $('#freelancers-container').empty();
                        $('#freelancers-container').html(data);
                        $("#found-users-count").html("Найдено исполнителей: @TempData["UsersCount"]");
                    },
                    error: function (data) { alert(data.responseText); }
                });
            });

            $("#work-range").change(function () {
                var count = $(this).val();
                var nickName = $("#autocomplete-input").val();
                var taskListId = $("#TaskList").val();
                if (!taskListId) taskListId = 0;
                var skillListId = $("#SkillList").val();
                if (!skillListId) skillListId = 0;
                var sortingId = $("#sortField").val();
                $.ajax({
                    type: 'GET',
                    url: '/User/Index',
                    data: {
                        'id': page,
                        'name': nickName,
                        'taskId': taskListId,
                        'skillId': skillListId,
                        'worksCount': count,
                        'sortId': sortingId
                    },
                    success: function (data) {
                        $('#freelancers-container').empty();
                        $('#freelancers-container').html(data);
                        $("#found-users-count").html("Найдено исполнителей: @TempData["UsersCount"]");
                    },
                    error: function (data) { alert(data.responseText); }
                });
            });

            $("#reset-filter-button").click(function () {
                page = 0;
                var nickName = $("#autocomplete-input").val();
                var taskListId = $("#TaskList").val();
                var skillListId = $("#SkillList").val();
                var count = $("#work-range").val();
                var sortingId = $("#sortField").val();
                /*alert("nick = " + nickName + " | task= " + taskListId +
                    " | skill =" + skillListId + " | count =" + count);*/
                if (nickName || taskListId || skillListId || count!=0) {
                    $("#work-range").slider('refresh');
                    $("#autocomplete-input").val("");
                    $("#TaskList").val('').selectpicker("render");
                    $("#SkillList").val('').selectpicker("render");
                    $.ajax({
                        type: 'GET',
                        url: '/User/Index',
                        data: {
                            'id': page,
                            'name': "",
                            'taskId': 0,
                            'skillId': 0,
                            'worksCount': 0,
                            'sortId': sortingId
                        },
                        success: function (data) {
                            $("#SkillList").attr("disabled", true);
                            $('#freelancers-container').empty();
                            $('#freelancers-container').html(data);
                            $("#found-users-count").html("Найдено исполнителей: @TempData["UsersCount"]");
                        },
                        error: function (data) { alert(data.responseText); }
                    });
                }
            });
            $(document).ready(function () {
                $('.selectpicker-filterdropdown').selectpicker({
                    liveSearch: true
                });
            });

            $(document).on({
                ajaxStart: function () { $(".loading-animation").addClass("loading"); },
                ajaxStop: function () { $(".loading-animation").removeClass("loading"); }
            });
        });
    </script>
}