@using HelpMe.Models
@model LoginViewModel
@{
    ViewBag.Title = "Выполнить вход";
}


<div id="titlebar" class="gradient">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">

                <h2>Авторизация</h2>

                <!-- Breadcrumbs -->
                <nav id="breadcrumbs" class="dark">
                    <ul>
                        <li><a href="/account/register">Регистрация</a>
                    </ul>
                </nav>

            </div>
        </div>
    </div>
</div>

<!-- Container -->
<div class="container">
    <div class="row">
        <div class="col-sm-6 offset-sm-3 text-center"> 
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "", role = "form" }))
        {
            @Html.AntiForgeryToken()

            <!-- Form -->

            <div class="input-with-icon-left">
                <i class="icon-material-baseline-mail-outline"></i>
                @Html.TextBox("Email", "", new { @class = "input-text with-border", @placeholder = "Ваша почта" })

            </div>
            <div class="input-with-icon-left">
                <i class="icon-material-outline-lock"></i>
                @Html.Password("Password", "", new { @class = "input-text with-border", @placeholder = "Пароль" })
            </div>
            <a href="/account/forgotpassword" class="forgot-password">Забыл пароль?</a>
            <!-- Button --> <br />
            @Html.ValidationMessage("Password", "", new { @class = "text-danger" })
            
            <input style="margin-top:20px" value="Войти" class="button full-width button-sliding-icon ripple-effect" type="submit">

            <!-- Social Login -->
            <div class="social-login-separator"><span>или</span></div>
            <div class="social-login-buttons">
                <button class="facebook-login ripple-effect"><i class="icon-brand-facebook-f"></i> Войти с Facebook</button>
                <button class="google-login ripple-effect"><i class="icon-brand-google-plus-g"></i> Войти via Google+</button>
            </div>
        }
</div>
    </div>
    <div class="dashboard-footer-spacer"></div>
    <div class="small-footer margin-top-15">
        <div class="small-footer-copyrights">
            © 2018 <strong>ВоркАп</strong>. С правами все в порядке.
        </div>
        <ul class="footer-social-links">
            <li>
                <a href="#" title="Facebook" data-tippy-placement="top">
                    <i class="icon-brand-facebook-f"></i>
                </a>
            </li>
            <li>
                <a href="#" title="Twitter" data-tippy-placement="top">
                    <i class="icon-brand-twitter"></i>
                </a>
            </li>
            <li>
                <a href="#" title="Google Plus" data-tippy-placement="top">
                    <i class="icon-brand-google-plus-g"></i>
                </a>
            </li>
            <li>
                <a href="#" title="LinkedIn" data-tippy-placement="top">
                    <i class="icon-brand-linkedin-in"></i>
                </a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <!-- Footer / End -->
</div>
 

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}