@model HelpMe.Models.RegisterViewModel
@{
    ViewBag.Title = "Регистрация";
}

<div id="titlebar" class="gradient">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">

                <h2>Регистрация</h2>

                <!-- Breadcrumbs -->
                <nav id="breadcrumbs" class="dark">
                    <ul>
                        <li><a href="/account/login">Авторизация</a>
                    </ul>
                </nav>

            </div>
        </div>
    </div>
</div>

<!-- Container -->
<div class="container">
    <div class="row">
        <div class="col-sm-6 offset-sm-3 text-center">
            @using (Html.BeginForm("Register", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <!-- Welcome Text -->
                @Html.ValidationSummary(true) <br />
                <!-- Account Type -->
                <div class="account-type">
                    <div>
                        <input type="radio" name="RoleName" value="employee" id="freelancer-radio-1" class="account-type-radio" checked />
                        <label for="freelancer-radio-1" class="ripple-effect-dark"><i class="icon-material-outline-school"></i> Исполнитель</label>
                    </div>
                    <div>
                        <input type="radio" name="RoleName" value="user" id="employer-radio-1" class="account-type-radio" />
                        <label for="employer-radio-1" class="ripple-effect-dark"><i class="icon-material-outline-business-center"></i> Заказчик</label>
                    </div>
                </div>
                <!-- Form -->
                <div class="input-with-icon-left">
                    <i class="icon-material-outline-account-circle"></i>
                    @Html.TextBox("UserName", "", new { @class = "input-text with-border",@id="usName-2", @placeholder = "Ваш логин" })
                </div>

                <div class="input-with-icon-left">
                    <i class="icon-material-baseline-mail-outline"></i>
                    @Html.TextBox("Email", "", new { @class = "input-text with-border", @placeholder = "Ваша почта" })
                </div>
                <div class="input-with-icon-left" title="Пароль должен быть не менее 6 символов" data-tippy-placement="bottom">
                    <i class="icon-material-outline-lock"></i>
                    @Html.Password("Password", "", new { @class = "input-text with-border",@id="fpass-1", @placeholder = "Пароль" })
                </div>
                <div class="input-with-icon-left">
                    <i class="icon-material-outline-lock"></i>
                    @Html.Password("ConfirmPassword", "", new { @class = "input-text with-border",@id="spass-2" @placeholder = "Повторите пароль" })
                </div>
                <div style="display:none" class="result-1"></div>

                @Html.ValidationMessage("Email", "", new { @class = "text-danger" }) <br />
                @Html.ValidationMessage("Password", "", new { @class = "text-danger" })
                <!-- Button -->
                <input value="Создать" class="button full-width button-sliding-icon ripple-effect" type="submit">
                <!-- Social Login -->
                <div class="social-login-separator"><span>или</span></div>
                <div class="social-login-buttons">
                    <button class="facebook-login ripple-effect"><i class="icon-brand-facebook-f"></i> Регаться via Facebook</button>
                    <button class="google-login ripple-effect"><i class="icon-brand-google-plus-g"></i> Регаться via Google+</button>
                </div>
            }

        </div>
        </div>
        <div class="dashboard-footer-spacer"></div>
        <div class="small-footer margin-top-15">
            <div class="small-footer-copyrights">
                © 2018 <strong>ВоркАп</strong>. С правами все в порядке.
            </div>
            <ul class="footer-social-links">
                <li>
                    <a href="#" title="Facebook" data-tippy-placement="top">
                        <i class="icon-brand-facebook-f"></i>
                    </a>
                </li>
                <li>
                    <a href="#" title="Twitter" data-tippy-placement="top">
                        <i class="icon-brand-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="#" title="Google Plus" data-tippy-placement="top">
                        <i class="icon-brand-google-plus-g"></i>
                    </a>
                </li>
                <li>
                    <a href="#" title="LinkedIn" data-tippy-placement="top">
                        <i class="icon-brand-linkedin-in"></i>
                    </a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <!-- Footer / End -->
    </div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
          $('#spass-1').on('keyup', function(){      
            if ($('#fpass-1').val() == $('#spass-1').val()) {
              $('.result-1').hide();
            } else {
                   $('.result-1').show();
                $('.result-1').html('Пароли не совпадают');
            }
        });

        $("#usName-2").bind('keyup',function(){
            $(this).val($(this).val().replace(/[^a-z ]/i, ""));
              Snackbar.show({
                text: 'Только латинские символы!',
                pos: 'bottom-center',
                showAction: false,
                actionText: "Dismiss",
                duration: 3000,
                textColor: '#fff',
                backgroundColor: '#383838'
            });
        });

    </script>


}
