@model IEnumerable<HelpMe.Models.Transaction>
@using HelpMe.Helpers

<p style="margin-top:20px; margin-left: 20px">
    <a href="/Transactions/Create" class="button gray ripple-effect button-sliding-icon">Создать новую транзакцию <i class="icon-feather-arrow-right"></i></a>
</p>

<p style="margin-top:20px; margin-left: 20px">
    <button id="postReq" >Проверка ПОСТ запроса </button>
</p>

<div class="col-xl-6 col-md-6">
    <table class="basic-table">
        <tr>
            <th>
                Сумма по транзакции
            </th>
            <th>
                Номер заказа
            </th>
            <th>
                От кого
            </th>
            <th>
                Кому
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                Дата создания
            </th>
            <th>
                Срок блокировки
            </th>
            <th>
                Дата окончания блокировки
            </th>
            <th>
                Таймер окончания блокировки
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Price) руб.
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AttachId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FromUser.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ToUser.UserName)
                </td>
                <td>
                    @HtmlExtensions.EnumDisplayNameFor(item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeBlock) дней
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateBlockEnd)
                </td>
                <td>
                    @if (item.DateBlockEnd.Subtract(item.Date).TotalSeconds >= 0)
                    {
                        <p class="timeBl" id="demo-@item.DateBlockEnd.ToString("yyyy-MM-ddTHH:mm:ss")"></p>
                    }
                    else
                    {
                        <p> Время блокировки вышло </p>
                    }
                </td>
                <td>
                    @Html.ActionLink("Изменить", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Детали", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>

</div>

@section Scripts {

    <script>

        $("#postReq").click(function () {

                 $.ajax({
                     url: '/api/CustomsValues/',
                     data: JSON.stringify({ "Name": "dasd" }),
                     type: 'POST',
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                   alert(data)
                },
                error: function (error) {
                    alert(error);
                }
            });
        });


        $('.timeBl').each(function (index) {
            var id = this.id;
            var value = id.replace('demo-', '');
            var countDownDate = new Date(value);

            var x = setInterval(function () {
                var now = new Date('@DateTime.Now.ToString("yyyy-MM-ddTHH:mm:ss")').getTime();
                var distance = countDownDate - now;
                var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                document.getElementById(id).innerHTML = days + " дней " + hours + " часа "
                    + minutes + " минут " + seconds + " секунд ";

                if (distance < 0) {
                    clearInterval(x);
                    document.getElementById(id).innerHTML = "Время блокировки вышло";
                }
            }, 1000);

        });

    </script>

}
