@{
    Layout = "~/Views/Shared/_LayoutDash.cshtml";
}

@model IEnumerable<HelpMe.Models.CommentViewModel>

<div class="dashboard-content-container" data-simplebar>
    <div class="dashboard-content-inner">

        <!-- Dashboard Headline -->
        <div class="dashboard-headline">
            <h3>Управление предложениями</h3>
            <span class="margin-top-7">Управление для <a href="@Url.Action("Details","Custom", new { id = Model.FirstOrDefault().CustomViewModelId})" target="_blank">@Model.FirstOrDefault().CustomViewModel.Name</a></span>

            <!-- Breadcrumbs -->
            <nav id="breadcrumbs" class="green">
                <ul>
                    <li><a href="/Custom/Tasks">Мои заказы</a></li>
                    <li>Все предложения</li>
                </ul>
            </nav>
        </div>

        <!-- Row -->
        <div class="row">

            <!-- Dashboard Box -->
            <div class="col-xl-12">
                <div class="dashboard-box margin-top-0">

                    <!-- Headline -->
                    <div class="headline">
                        <h3><i class="icon-material-outline-supervisor-account"></i> @Model.Count() предложения</h3>
                        <div class="sort-by">
                            <span>Сортировать по:</span>
                            <select class="selectpicker hide-tick" id="sortComments" autocomplete="off">
                                <option value="1" selected>Новым</option>
                                <option value="2">Давним</option>
                                <option value="3">Рейтингу</option>
                                <option value="4">Дешевым</option>
                                <option value="5">Дорогим</option>
                            </select>
                        </div>
                    </div>

                    <div class="content">
                        <ul class="dashboard-box-list comments">

                            @foreach (var i in Model)
                            {
                                <li>
                                    <!-- Overview -->
                                    <div class="freelancer-overview manage-candidates">
                                        <div class="freelancer-overview-inner">

                                            <!-- Avatar -->
                                            <div class="freelancer-avatar">
                                                <div class="verified-badge"></div>
                                                <a href="#"><img src="~/Content/Custom/images/user-avatar-big-02.jpg" alt=""></a>
                                            </div>

                                            <!-- Name -->
                                            <div class="freelancer-name">
                                                <h4><a href="#">@i.User.UserName </a></h4>

                                                <!-- Details -->
                                                <span class="freelancer-detail-item"><a href="#"><i class="icon-feather-clock"></i>Добавлено @i.CreationDate</a></span>

                                                <!-- Rating -->
                                                <div class="freelancer-rating">
                                                    @{
                                                        var likes = i.User.PositiveThumbs;
                                                        var dislikes = i.User.NegativeThumbs;
                                                        var rate = "0.0";
                                                        if (likes + dislikes > 0)
                                                        {
                                                            rate = Math.Round((double)likes / (likes + dislikes) * 5, 1).ToString().Replace(',', '.');
                                                        }
                                                        if (rate.Length == 1)
                                                        {
                                                            rate = rate + ".0";
                                                        }
                                                    }
                                                    <div class="star-rating" data-rating="@rate"></div>
                                                </div>

                                                <!-- Bid Details -->
                                                <ul class="dashboard-task-info bid-info">
                                                    <li><strong>@i.OfferPrice руб.</strong><span>Предложена цена</span></li>
                                                    <li>
                                                        @if (i.Days != 0)
                                                        {
                                                            <strong>@i.Days дней</strong>
                                                        }
                                                        else
                                                        {
                                                            <strong>@i.Hours часов</strong>
                                                        }
                                                        <span>Время выполнения</span>
                                                    </li>
                                                    <li><strong>@i.Description</strong><span class="word-break">Комментарий</span></li>
                                                </ul>

                                                <!-- Buttons -->
                                                <div class="buttons-to-right always-visible margin-top-25 margin-bottom-0">
                                                    @if (i.CustomViewModel.ExecutorId == null)
                                                    {
                                                        <a href="#small-dialog-1-@i.Id" class="popup-with-zoom-anim button ripple-effect"><i class="icon-material-outline-check"></i> Принять предложение</a>
                                                    }
                                                    <a href="#small-dialog-2-@i.Id" class="popup-with-zoom-anim button  ripple-effect"><i class="icon-feather-mail"></i> Отправить сообщение</a>
                                                </div>

                                                <!--Accept executor pop-up-->
                                                <div id="small-dialog-1-@i.Id" class="small-dialog-1 zoom-anim-dialog mfp-hide dialog-with-tabs">

                                                    <!--Tabs -->
                                                    <div class="sign-in-form">

                                                        <ul class="popup-tabs-nav">
                                                            <li><a href="#tab1">Принять предложение</a></li>
                                                        </ul>

                                                        <div class="popup-tabs-container">

                                                            <!-- Tab -->
                                                            <div class="popup-tab-content" id="tab">

                                                                <!-- Welcome Text -->
                                                                <div class="welcome-text">
                                                                    <h3>Принять предложение от @i.User.UserName?</h3>
                                                                    <div class="bid-acceptance margin-top-15">
                                                                        <div class="bid-rate">
                                                                            <div class="rate">@i.OfferPrice рублей</div>
                                                                            @if (i.Days > 0)
                                                                            {
                                                                                <span>за @i.Days дней</span>
                                                                            }
                                                                            else
                                                                            {
                                                                                <span>за @i.Hours часов</span>
                                                                            }
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                @using (Html.BeginForm("ChooseExecutor", "Custom", new { CustId = i.Id }))
                                                                {
                                                                    <div class="radio">
                                                                        <input id="radio-choose-executor-@i.UserId" name="radio" type="radio" required autocomplete="off"
                                                                               oninvalid="setCustomValidity('Сперва нужно ознакомиться с правилами!')"
                                                                               oninput="setCustomValidity('')" />
                                                                        <label for="radio-choose-executor-@i.UserId"><span class="radio-label"></span>  Я ознакомился с правилами</label>
                                                                    </div>
                                                                    <input class="margin-top-15 button full-width button-sliding-icon ripple-effect"
                                                                           type="submit" value="Принять" />
                                                                    @*if (ViewBag.WalletSumm >= i.OfferPrice)
                                                                        {
                                                                            <input class="margin-top-15 button full-width button-sliding-icon ripple-effect"
                                                                                   type="submit" value="Принять" />
                                                                        }
                                                                        else
                                                                        {
                                                                            int exSum = i.OfferPrice - ViewBag.WalletSumm;

                                                                            <a href="/Wallet/AddSumm?summ=@exSum&returnUrl=@Request.Url.ToString()" style="color:white" class="margin-top-15 button full-width button-sliding-icon ripple-effect">Пополнить счет на @exSum и принять</a>
                                                                        }*@

                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!--Send message pop-up-->
                                                <div id="small-dialog-2-@i.Id" class="small-dialog-2 zoom-anim-dialog mfp-hide dialog-with-tabs">

                                                    <ul class="popup-tabs-nav">
                                                        <li><a href="#tab2">Отправка сообщения</a></li>
                                                    </ul>
                                                    <div class="popup-tabs-container">
                                                        @using (Html.BeginForm("AddMessage", "Chat", FormMethod.Post))
                                                        {
                                                            @Html.AntiForgeryToken();
                                                            <!-- Tab -->

                                                            <div class="popup-tab-content" id="tab2">

                                                                <!-- Welcome Text -->
                                                                <div class="welcome-text">
                                                                    <h3>Отправьте сообщение @i.User.UserName</h3>
                                                                </div>
                                                                @Html.Hidden("UserFromId", i.CustomViewModel.UserId, new { id = "userFromId-" + i.CustomViewModel.UserId })
                                                                @Html.Hidden("UserToId", i.UserId, new { id = "userToId-" + i.UserId })

                                                                <textarea name="Description" id="add-message-description-@i.UserId" cols="10" placeholder="Сообщение" class="with-border"></textarea>
                                                                <!-- Button -->
                                                                <button class="button margin-top-35 full-width button-sliding-icon ripple-effect" type="submit">Отправить <i class="icon-material-outline-arrow-right-alt"></i></button>
                                                            </div>
                                                        }

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            }

                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- Row / End -->
        <!-- Footer -->
        <div class="dashboard-footer-spacer"></div>
        <div class="small-footer margin-top-15">
            <div class="small-footer-copyrights">
                © 2019 <strong>Воцап</strong>. Все права соблюдены.
            </div>
            <ul class="footer-social-links">
                <li>
                    <a href="#" title="Facebook" data-tippy-placement="top">
                        <i class="icon-brand-facebook-f"></i>
                    </a>
                </li>
                <li>
                    <a href="#" title="Twitter" data-tippy-placement="top">
                        <i class="icon-brand-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="#" title="Google Plus" data-tippy-placement="top">
                        <i class="icon-brand-google-plus-g"></i>
                    </a>
                </li>
                <li>
                    <a href="#" title="LinkedIn" data-tippy-placement="top">
                        <i class="icon-brand-linkedin-in"></i>
                    </a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <!-- Footer / End -->

    </div>
</div>
<!-- Dashboard Content / End -->

@section Scripts{
    <script type="text/javascript">
        $('#sortComments').on('change', function () {
            var sortingType = $(this).val();
            //console.log('sortingType = '+sortingType);
            var initialComments = $('.comments');
            var sortedComments;

            switch (sortingType) {
                case '2'://по давним
                    //console.log('sortComments = по давним');
                    sortedComments = initialComments.sort(function (a, b) {
                        var firstDiv = $(a).find('h6').text();
                        var secondDiv = $(b).find('h6').text();
                        return (firstDiv > secondDiv) ? 1 : (firstDiv < secondDiv) ? -1 : 0;
                    });
                    break;

                case '3'://по рейтингу
                    //console.log('sortComments = по рейтингу');
                    sortedComments = initialComments.sort(function (a, b) {
                        var firstDiv = $(a).find('.star-rating').data('rating');
                        var secondDiv = $(b).find('.star-rating').data('rating');
                        return (firstDiv > secondDiv) ? -1 : (firstDiv < secondDiv) ? 1 : 0;
                    });
                    break;

                case '4'://по дешевым
                    //console.log('sortComments = по дешевым');
                    sortedComments = initialComments.sort(function (a, b) {
                        var firstDiv = parseInt($(a).find('.rate').text());
                        var secondDiv = parseInt($(b).find('.rate').text());
                        return (firstDiv > secondDiv) ? 1 : (firstDiv < secondDiv) ? -1 : 0;
                    });
                    break;

                case '5'://по дорогим
                    //console.log('sortComments = по дорогим');
                    sortedComments = initialComments.sort(function (a, b) {
                        var firstDiv = parseInt($(a).find('.rate').text());
                        var secondDiv = parseInt($(b).find('.rate').text());
                        return (firstDiv > secondDiv) ? -1 : (firstDiv < secondDiv) ? 1 : 0;
                    });
                    break;

                default://по новым (по умолчанию)
                    //console.log('sortComments = по новым');
                    sortedComments = initialComments.sort(function (a, b) {
                        var firstDiv = $(a).find('h6').text();
                        var secondDiv = $(b).find('h6').text();
                        return (firstDiv > secondDiv) ? -1 : (firstDiv < secondDiv) ? 1 : 0;
                    });
                    break;
            }
            $('#boxed-list-ul').append(sortedComments);
            $('#boxed-list-ul>li').css('background-color', 'transparent');
            $('#boxed-list-ul>li:odd').css('background-color', '#fafafa');
        });
    </script>
}
