@model HelpMe.Models.CustomViewModel

@{
    ViewBag.Title = "Создание";
}

<!-- Dashboard Container -->
<div class="dashboard-container">

    <!-- Dashboard Sidebar
    ================================================== -->
    <div class="dashboard-sidebar">
        <div class="dashboard-sidebar-inner" data-simplebar>
            <div class="dashboard-nav-container">

                <!-- Responsive Navigation Trigger -->
                <a href="#" class="dashboard-responsive-nav-trigger">
                    <span class="hamburger hamburger--collapse">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </span>
                    <span class="trigger-title">Навигация</span>
                </a>

                <!-- Navigation -->
                <div class="dashboard-nav">
                    <div class="dashboard-nav-inner">

                        <ul data-submenu-title="Основное">
                            <li class="active"><a href="/manage/dashboard"><i class="icon-material-outline-dashboard"></i> Рабочая доска</a></li>
                            <li><a href="/chat"><i class="icon-material-outline-question-answer"></i> Сообщения <span class="nav-tag">2</span></a></li>
                            <li><a href="dashboard-bookmarks.html"><i class="icon-material-outline-star-border"></i> Избранное</a></li>
                            <li><a href="dashboard-reviews.html"><i class="icon-material-outline-rate-review"></i> Отзывы</a></li>
                        </ul>

                        <ul data-submenu-title="Организация">
                            <li>
                                <a href="#"><i class="icon-material-outline-business-center"></i> Задания</a>
                                <ul>
                                    <li><a href="dashboard-manage-jobs.html">Управление задачами <span class="nav-tag">3</span></a></li>
                                    <li><a href="dashboard-manage-candidates.html">Управление исполнителями </a></li>
                                    <li><a href="dashboard-post-a-job.html">Разместить задачу</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#"><i class="icon-material-outline-assignment"></i> Задачи</a>
                                <ul>
                                    <li><a href="dashboard-manage-tasks.html">Управлять задачами <span class="nav-tag">2</span></a></li>
                                    <li><a href="dashboard-manage-bidders.html">Редактировать задачи</a></li>
                                    <li><a href="dashboard-my-active-bids.html">Мои активные задачи <span class="nav-tag">4</span></a></li>
                                    <li><a href="dashboard-post-a-task.html">Разместить задачу</a></li>
                                </ul>
                            </li>
                        </ul>


                        <ul data-submenu-title="Аккаунт">
                            <li><a href="/manage/"><i class="icon-material-outline-settings"></i> Настройки</a></li>
                            <li><a href="index-logged-out.html"><i class="icon-material-outline-power-settings-new"></i> Выход</a></li>
                        </ul>

                    </div>
                </div>
                <!-- Navigation / End -->

            </div>
        </div>
    </div>
    <!-- Dashboard Sidebar / End -->
    <!-- Dashboard Content
    ================================================== -->
    <div class="dashboard-content-container" data-simplebar>
        <div class="dashboard-content-inner">

            <!-- Dashboard Headline -->
            <div class="dashboard-headline">
                <h3>Создание заказа</h3>

                <!-- Breadcrumbs -->
                <nav id="breadcrumbs" class="dark">
                    <ul>
                        <li><a href="#">Главная</a></li>
                        <li><a href="#">Дашборд</a></li>
                        <li>Разместить</li>
                    </ul>
                </nav>
            </div>

            <!-- Row -->
            <div class="row">

                @using (Html.BeginForm("Create", "Custom", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <!-- Dashboard Box -->
                    <div class="col-xl-12">
                        <div class="dashboard-box margin-top-0">

                            <!-- Headline -->
                            <div class="headline">
                                <h3><i class="icon-feather-folder-plus"></i> Форма создания заказа</h3>
                            </div>


                            <div class="content with-padding padding-bottom-10">
                                <div class="row">

                                    <div class="col-xl-4">
                                        <div class="submit-field">
                                            <h5>Название задачи</h5>
                                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "with-border", @placeholder = "Название задачи" } })
                                        </div>
                                    </div>

                                    <div class="col-xl-4">
                                        <div class="submit-field">
                                            <h5>Дисциплина</h5>
                                            @Html.DropDownListFor(model => model.CategoryTaskId,  ViewBag.Tasks as SelectList,
                                            "Укажите дисциплину", new { @class = "selectpicker with-border", @id ="TaskList", autocomplete = "off"})
                                        </div>
                                    </div>

                                    <div class="col-xl-4">
                                        <div class="submit-field">
                                            <h5>Предмет</h5>
                                            @Html.DropDownListFor(model => model.SkillId, Enumerable.Empty<SelectListItem>(),
                                                "Укажите предмет", new { @class = "selectpicker with-border", id ="SkillList", @disabled = "disabled", autocomplete = "off"})
                                        </div>
                                    </div>

                                    <div class="col-xl-4">
                                        <div class="submit-field">

                                            <h5>Тип задачи</h5>
                                            @Html.DropDownListFor(model => model.TypeTaskId, ViewBag.Types as SelectList, new { @class = "selectpicker with-border" })

                                        </div>
                                    </div>

                                    <div class="col-xl-4">
                                        <div class="submit-field">
                                            <h5>Укажите дату сдачи</h5>
                                            <div class="col-xl-12">

                                                <div style="display:inline">
                                                    <div class="input-group date" data-provide="datepicker">
                                                        <div class="input-with-icon-left no-border">
                                                            <i class="icon-material-outline-date-range"></i>
                                                            <input id="EndingDate" placeholder="Дата сдачи" name="EndingDate" type="text" class="form-control">
                                                        </div>
                                                        <div class="input-group-addon">
                                                            <span class="glyphicon glyphicon-th"></span>
                                                        </div>
                                                    </div>
                                                    <h5>Время сдачи</h5>
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <div class="input-with-icon-left no-border">
                                                                <i class="icon-material-outline-access-time"></i>
                                                                <input id="datetimepicker3" placeholder="Время сдачи" type="text" class="form-control" />
                                                            </div>
                                                            <span class="input-group-addon">
                                                                <i class="glyphicon glyphicon-calendar"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="checkbox">
                                                    <input type="checkbox" id="checkboxDate">
                                                    <label for="checkboxDate"><span class="checkbox-icon"></span>Срок неизвестен</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xl-4">
                                        <div class="col-xl-12">
                                            <div class="submit-field">
                                                <h5>Хотите указать свой бюджет?</h5>

                                                <div class="row">
                                                    <div class="col-xl-8">
                                                        <div class="input-with-icon">
                                                            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @id = "min", @min = "0", @max = "25000", @class = "with-border disabled no-spinners", @placeholder = "Цена", @oninput = "validity.valid||(value = '');" } })
                                                            <i class="currency">Руб.</i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="checkbox">
                                                    <input type="checkbox" id="checkboxNew">
                                                    <label for="checkboxNew"><span class="checkbox-icon"></span>По договоренности</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-4">
                                        <div class="submit-field">
                                            <h5>Срок блокировки оплаты</h5>
                                            <select class="selectpicker-filter">
                                                <option>5 дней</option>
                                                <option>10 дней</option>
                                                <option>15 дней</option>
                                                <option>20 дней</option>
                                                <option>30 дней</option>
                                                <option>40 дней</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xl-4">
                                        <div class="submit-field">
                                            <h5>Проверка на плагиат</h5>
                                            <div class="col-xl-6">
                                                <select class="selectpicker-filter" >
                                                    <option>40%</option>
                                                    <option>50%</option>
                                                    <option>60%</option>
                                                    <option>70%</option>
                                                    <option>80%</option>
                                                    <option>90%</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xl-12">
                                        <div class="submit-field">
                                            <h5>Опишите ваш проект</h5>
                                            @Html.TextAreaFor(model => model.Description, new { rows = "5", cols = "30", @class = "with-border" })

                                            <div class="uploadButton margin-top-30">
                                                <input multiple="multiple" class="uploadButton-input" type="file" name="AttachFile" id="AttachFile" required />
                                                <label class="uploadButton-button ripple-effect" for="AttachFile">Прикрепить задания</label>
                                                <span style="padding-left:10px" class="uploadButton-file">Вы можете прикрепить несколько вложений</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="fileUpCreate" style="border-bottom: 1px solid #e4e4e4;" class="col-xl-12">
                                       
                                    </div>
                                    
                                    <div style="margin-top:20px" class="col-xl-4">
                                        <div class="submit-field">
                                            <h5>Платные услуги</h5>
                                            
                                                <select class="selectpicker-filter">
                                                    <option>40%</option>
                                                    <option>50%</option>
                                                    <option>60%</option>
                                                    <option>70%</option>
                                                    <option>80%</option>
                                                    <option>90%</option>
                                                </select>
                                            
                                        </div>
                                    </div>

                                </div>
                                </div>
                        </div>
                    </div>

                    <div class="col-xl-12">
                        <input type="submit" value="Создать" class="button ripple-effect margin-top-20" />
                    </div>
                }
            </div>
            <!-- Row / End -->
            <!-- Footer -->
            <div class="dashboard-footer-spacer"></div>
            <div class="small-footer margin-top-15">
                <div class="small-footer-copyrights">
                    © 2018 <strong>Факап</strong>. Все правила соблюдены
                </div>
                <ul class="footer-social-links">
                    <li>
                        <a href="#" title="Facebook" data-tippy-placement="top">
                            <i class="icon-brand-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="Twitter" data-tippy-placement="top">
                            <i class="icon-brand-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="Google Plus" data-tippy-placement="top">
                            <i class="icon-brand-google-plus-g"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="LinkedIn" data-tippy-placement="top">
                            <i class="icon-brand-linkedin-in"></i>
                        </a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <!-- Footer / End -->

        </div>
    </div>
    <!-- Dashboard Content / End -->

</div>
<!-- Dashboard Container / End -->

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")



    <script>


        $('#AttachFile').change(function () {
            alert(countAttaches)
            if (countAttaches < 10) {
                var file;
                var fileName;
                var filesArray = $('#AttachFile')[0].files;
                //alert(filesArray.length)
                var arra = Array.prototype.slice.call(filesArray)
                var cuttext = arra.slice(0, 10);
                // var newArr = filesArray.slice(0, 5)
                var fileBuffer = [];
                Array.prototype.push.apply(fileBuffer, cuttext);
                if (finalFileBuffer.length <= 0) {
                    for (var i = 0; i < filesArray.length && i < 10; i++) {

                        // if (i == 5) break;

                        file = $('#AttachFile')[0].files[i].name;
                        if (file.length > 3)
                            fileName = file.substring(0, 10) + '...' + file.substring(file.lastIndexOf('.') + 1)
    
                        $('#fileUpCreate').append('<div id="' + i + '" class="notification notice closeable"><p>' + fileName + '</p><a class="close" ></a></div >');
                       
                        countAttaches++;
                    }
                    //  alert(countAttaches)
                    finalFileBuffer = fileBuffer;
                    lastIndexFile = fileBuffer.length //2
                } else {
                    finalFileBuffer = finalFileBuffer.concat(fileBuffer);

                    for (var i = lastIndexFile; i < finalFileBuffer.length && i < 10; i++) {
                        // if (i == 5) break;
                       
                        file = finalFileBuffer[i].name;
                        if (file.length > 3)
                            fileName = file.substring(0, 10) + '.' + file.substring(file.lastIndexOf('.') + 1)

                        $('#fileUpCreate').append('<div id="' + i + '" class="notification notice closeable"><p>' + fileName + '</p><a class="close" ></a></div >');

                        countAttaches++;
                    }
                    lastIndexFile = finalFileBuffer.length; //4
                }

                $('#fileUpCreate').show();
                $('.message-reply').css('margin-top', "5px");

            } else {
                Snackbar.show({
                    text: 'Вы не можете добавлять более 10 вложений!'
                });
            }
        });

        $(document).on('click',"a.close", function () {
            function slideFade(elem) {
                var fadeOut = { opacity: 0, transition: 'opacity 0.5s' };
                elem.css(fadeOut).slideUp();
                setTimeout(function () {
                   elem.remove();
                }, 500);
            }
            var idAttach = $(this).parent().attr('id');
            var filesArray = $('#AttachFile')[0].files;
            var fileBuffer = [];
            Array.prototype.push.apply(fileBuffer, filesArray);

            var newIndex = idAttach;/**/
            $.each(idAttachArray, function (index, value) {/**/
                if (value < idAttach) {/**/
                    newIndex--;/**/
                }/**/
            });/**/

            finalFileBuffer.splice(newIndex, 1);
            idAttachArray.push(idAttach);/**/

            countAttaches--;
            lastIndexFile = finalFileBuffer.length;
           
            if (lastIndexFile == 0) {
                finalFileBuffer = [];
                fileBuffer = [];
                document.getElementById("AttachFile").value = ""
            }

            //setTimeout(removeFromAttaches, 500);
            slideFade($(this).parent());
        });

       
        $('.selectpicker').selectpicker({
            liveSearch: true
        });

        $('.selectpicker-filter').selectpicker({
            liveSearch: false
        });


        $(function () { // will trigger when the document is ready



            $('#datetimepicker3').datetimepicker(
                { format: 'HH:mm', locale: 'ru' }
            );

            $('#TaskList').change(function () {
                GetSkills();
            });

            function GetSkills() {
                var id = $('#TaskList').val();
                if (!id) {
                    id = 0;
                }
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("GetSkills", "User")/' + id,
                    dataType: 'JSON',
                    success: function (data) {
                        $('#SkillList').empty();
                        if (id != 0) {
                            $('#SkillList').attr('disabled',false);
                            $('#SkillList').append("<option value=''>Все предметы</option>");
                            $.each(data, function (i, item) {
                                $('#SkillList').append("<option value='" + item.Id + "'>" + item.Name + "</option>");
                            });
                        }
                        else {
                            $('#SkillList').append("<option value=''>Все предметы</option>");
                            $('#SkillList').attr("disabled", true);
                        }
                        $('#SkillList').selectpicker("refresh");
                    },
                    error: function (data) {
                        alert(data.responseText);
                    }
                });
            }


           $("#checkboxNew").click(function () {
            if ($(this).is(':checked')) {
                $("#min").prop("disabled", true);
                $("#min").css("background-color", "#f2f2f2");
                $("#min").attr("placeholder", "");
            } else {
                $("#min").prop("disabled", false);
                $("#min").css("background-color", "#ffffff");
                $("#min").attr("placeholder", "Цена");
            }
           });
            
        $("#checkboxDate").click(function () {
            if ($(this).is(':checked')) {
                $("#EndingDate").prop("disabled", true);
                $("#datetimepicker3").prop("disabled", true);
                $("#EndingDate").css("background-color", "#f2f2f2");
                $("#datetimepicker3").css("background-color", "#f2f2f2");
                $("#EndingDate").attr("placeholder", "");
                $("#EndingDate").val("");
                $("#datetimepicker3").attr("placeholder", "");
                $("#datetimepicker3").val("");

            } else {
                $("#EndingDate").prop("disabled", false);
                $("#datetimepicker3").prop("disabled", false);
                $("#EndingDate").css("background-color", "#ffffff");
                $("#datetimepicker3").css("background-color", "#ffffff");
                $("#EndingDate").attr("placeholder", "Дата сдачи");
                $("#datetimepicker3").attr("placeholder", "Время сдачи");
            }
        });


        $('#EndingDate').datepicker({
            language: 'ru',
            autoclose: true,
            format: "dd M yyyy"
        }); //Initialise any date pickers
        

    });


    </script>
}
