@using Microsoft.AspNet.Identity
@using HelpMe.Helpers
@model HelpMe.Models.CustomViewModel

<div class="single-page-header" data-background-image="images/single-task.jpg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="single-page-header-inner">
                    <div class="left-side">
                        <div class="header-image" data-tippy-placement="bottom" title="@Model.TypeTask.Name">
                            @*<a href="single-company-profile.html">
                                    <img src="@Model.TypeTask.ImagePath" alt="@Model.TypeTask.Name" />
                                </a>*@
                            <img src="@Url.Content(Model.TypeTask.ImagePath)" alt="@Model.TypeTask.Name" />
                        </div>
                        <div class="header-details">

                            <h3>@Html.DisplayFor(model => model.Name)</h3>
                            <h5>@Html.DisplayFor(model => model.CategoryTask.Name)</h5>
                            <h5>@Html.DisplayFor(model => model.Skill.Name)</h5>
                            <ul style="margin-top:5px">
                                <li><a href="@Url.Action("Details", "User", new { userName = Model.User.UserName })"><i class="icon-material-outline-face"></i>@Html.DisplayFor(model => model.User.UserName)</a></li>
                                @*<li><div class="verified-badge-with-title">Проверенный заказчик</div></li>*@
                            </ul>
                            <div class="task-tags" style="margin:0">
                                <span>@HtmlExtensions.EnumDisplayNameFor(Model.Status)</span>
                            </div>

                        </div>
                    </div>
                    <div class="right-side">
                        <div class="salary-box">
                            <div class="salary-type">Бюджет задания</div>
                            <div class="salary-amount">@Model.Price руб.</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xl-8 col-lg-8 content-right-offset">
            <div class="single-page-section">
                <h3 class="margin-bottom-25">Описание задачи</h3>
                <p style="-moz-hyphens: auto;-webkit-hyphens: auto;-ms-hyphens: auto;">
                    @Html.Nl2Br(Model.Description)
                </p>
            </div>

            <div style="margin-bottom: 30px;" class="single-page-section">
                <h3>Вложения </h3>
                <div class="attachments-container">
                    <a class="attachment-box ripple-effect" href="@Url.Action("GetFile", "Custom", new { path = Model.AttachFilePath })"><span>Файл задания</span><i>PDF</i></a>
                </div>
            </div>
            @if (Request.IsAuthenticated && Model.ExecutorId == User.Identity.GetUserId())
            {
                <div class="accordion js-accordion">

                    <!-- Accordion Item -->
                    <div class="accordion__item js-accordion-item">
                        <div class="accordion-header js-accordion-header">Добавить решение</div>

                        <!-- Accordtion Body -->
                        <div class="accordion-body js-accordion-body">

                            <!-- Accordion Content -->
                            <div class="accordion-body__contents">
                                <div style="margin-bottom:0px;" class="single-page-section">
                                    @if (Model.ExecutorId == User.Identity.GetUserId() && Request.IsAuthenticated)
                                    {
                                        <h3>Добавление решения</h3>
                                        <div>
                                            <div class="uploadButton margin-top-30">
                                                <input type="hidden" name="CustomViewModelId" id="CustomViewModelId" value="@Model.Id" />
                                                <input class="uploadButton-input" type="file" name="upload" id="uploadFile" /><br />
                                                <label class="uploadButton-button ripple-effect" for="uploadFile">Прикрепить решение</label>
                                                <span class="uploadButton-file-name">Загрузите файл решения для исполнителя любого формата</span>
                                            </div>
                                            <div class="progress"></div>
                                            <div class="section-headline margin-top-25 margin-bottom-12">
                                                <h5>Укажите цену для вложения</h5>
                                            </div>
                                            <div class="input-with-icon-left no-border">
                                                <i class="icon-material-outline-local-atm"></i>
                                                <input style="width:250px" name="ExecutorPrice" id="ExecutorPrice" type="text" class="input-text" placeholder="Цена">
                                            </div>
                                            <input id="submit" type="submit" value="Загрузить" class="button ripple-effect margin-top-10" />
                                        </div>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <br />
            @if (Model.ExecutorId == User.Identity.GetUserId() || Model.UserId == User.Identity.GetUserId())
            {
                <div class="single-page-section">
                    <h3>Вложения исполнителя <span style="color: white" class="nav-tag" id="attaches">@Model.Attachments.Count </span></h3>
                    <div id="Uploaded_Results">
                        @foreach (var i in Model.Attachments)
                        {
                            <div style="border-bottom: 1px solid #e4e4e4; margin-bottom:35px;" id="itemAttach">
                                <div class="attachments-container">
                                    <a style='@(i.AttachStatus == HelpMe.Models.AttachStatus.NotPurchased && Model.ExecutorId != User.Identity.GetUserId() ? "pointer-events: none;" : "")' href="@Url.Action("GetFileAttach", "Custom", new { path = i.AttachFilePath, id = i.Id })" class="attachment-box ripple-effect "><span>Файл исполнителя</span><i>Скачать</i></a>

                                    @if (Model.ExecutorId == User.Identity.GetUserId())
                                    {
                                        @Ajax.RawActionLink(
"<i class='icon-feather-trash-2'></i>",
"DeleteAttach",
"Custom",
new
{
    id = i.Id,
},
new AjaxOptions
{
    OnBegin = "return ConfirmDone()",
    HttpMethod = "POST",
    OnSuccess = "OnSuccess"
}, new { @class = "button gray ripple-effect ico", @style = "margin-bottom:50px;", title = "Удалить", data_tippy_placement = "top" }
)
                                    }
                                </div>
                                @if (Model.UserId == User.Identity.GetUserId())
                                {
                                    if (i.AttachStatus == HelpMe.Models.AttachStatus.NotPurchased)
                                    {
                                        @Ajax.RawActionLink(
      "<i class='icon-material-outline-monetization-on'></i>Купить решение",
       "Buy",
       "Custom",
       new
       {
           id = i.Id,
       },
       new AjaxOptions
       {
           OnSuccess = "OnSuccess",
           HttpMethod = "POST"
       }, new { @class = "button ripple-effect margin-top-18", @style = (i.AttachStatus == HelpMe.Models.AttachStatus.Purchased ? "display:" : "") }
   )
                                    }
                                    else
                                    {
                                        <div class="task-tags">
                                            <span>Работа куплена</span>
                                        </div>

                                    }

                                }

                                <br />
                            </div>

                        }
                    </div>


                </div>
            }
            @*<div class="single-page-section">
                    <h3>Необходимые навыки</h3>
                    <div class="task-tags">
                        <span>iOS</span>
                        <span>Android</span>
                        <span>mobile apps</span>
                        <span>design</span>
                    </div>
                </div>*@
            <div class="clearfix"></div>

            <div class="boxed-list margin-bottom-60">
                <div class="boxed-list-headline">
                    <h3><i class="icon-material-outline-group"></i>Предложения исполнителей  <span style="color:white" class="nav-tag" id="votes">@Model.Comments.Count </span> </h3>
                </div>


                <ul class="boxed-list-ul" id="boxed-list-ul">
                    @foreach (var c in Model.Comments)
                    {
                        if (Model.UserId == User.Identity.GetUserId() || c.UserId == User.Identity.GetUserId())
                        {
                            <li id="user-comment-@c.Id">
                                <div class="bid">
                                    <div class="bids-avatar">
                                        <div class="freelancer-avatar">
                                            @*<div class="verified-badge"></div>*@
                                            <a href="@Url.Action("Details", "User", new { userName = c.User.UserName })">
                                                <img src="@(Url.Content(c.User.ImagePath ?? "~/Content/Custom/images/user-avatar-big-01.jpg"))" alt="аватар">
                                            </a>
                                        </div>
                                    </div>

                                    <div class="bids-content">
                                        <!-- Name -->
                                        <div class="freelancer-name">
                                            <h4>
                                                <a href="@Url.Action("Details", "User", new { userName = c.User.UserName })">
                                                    @c.User.UserName | @c.Id
                                                    @*<img class="flag" src="images/flags/gb.svg" alt="" title="United Kingdom" data-tippy-placement="top">*@
                                                </a>
                                            </h4>
                                            @{
                                                var likes = c.User.PositiveThumbs;
                                                var dislikes = c.User.NegativeThumbs;
                                                var rate = "0.0";
                                                if (likes + dislikes > 0)
                                                {
                                                    rate = Math.Round((double)likes / (likes + dislikes) * 5, 1).ToString().Replace(',', '.');
                                                }
                                                if (rate.Length == 1)
                                                {
                                                    rate = rate + ".0";
                                                }
                                            }
                                            <div class="star-rating" data-rating="@rate"></div>
                                        </div>
                                    </div>

                                    <!-- Bid -->
                                    <div class="bids-bid">
                                        <div class="bid-rate" id="user-comment-bid-rate-@c.Id">
                                            <div class="rate">@c.OfferPrice рублей</div>
                                            @if (c.Days > 0)
                                            {
                                                <span>за @c.Days дней</span>
                                            }
                                            else
                                            {
                                                <span>за @c.Hours часов</span>
                                            }
                                        </div>
                                        @if (Model.ExecutorId != User.Identity.GetUserId() && Model.UserId != User.Identity.GetUserId())
                                        {
                                            <div style="margin-left: 23px;" class="buttons-to - right always - visible">
                                                <a href="#small-dialog" class="popup-with-zoom-anim button dark ripple-effect ico" title="Редактировать" data-tippy-placement="top">
                                                    <i class="icon-feather-edit"></i>
                                                </a>
                                                <a href="#small-dialog-3" class="popup-with-zoom-anim button red ripple-effect ico" title="Удалить" data-tippy-placement="top">
                                                    <i class="icon-feather-trash-2"></i>
                                                </a>
                                            </div>
                                        }
                                    </div>
                                </div>
                                @if (Model.UserId == User.Identity.GetUserId() && Model.ExecutorId == null)
                                {
                                    <div class="margin-top-30">
                                        <a href="#small-dialog-1" style="box-shadow: 0 12px 12px rgba(0,0,0,0.1);border-radius: 25px;" class="popup-with-zoom-anim button ripple-effect"><i class="icon-material-outline-check"></i> Принять предложение</a>
                                        <a href="#small-dialog-2" style="background-color: #f4f4f4;box-shadow: 0 12px 12px rgba(0,0,0,0.1);color: #333;border-radius: 25px;" class="popup-with-zoom-anim button dark ripple-effect"><i class="icon-feather-mail"></i> Отправить сообщение</a>
                                    </div>
                                }
                                <div class="item-description margin-top-20">
                                    <p style="word-break:break-word;"> @c.Description</p>
                                </div>
                            </li>

                            {
                                if (Model.Comments.Where(m => m.UserId == User.Identity.GetUserId()).Count() > 0)
                                {
                                    var updateTargetIdEdit = "user-comment-bid-rate-" + c.Id;
                                    var updateTargetIdDelete = "user-comment-" + c.Id;

                                    <div id="small-dialog" class="zoom-anim-dialog mfp-hide dialog-with-tabs">


                                        <div class="sign-in-form">

                                            <ul class="popup-tabs-nav">
                                                <li><a href="#tab">Редактировать предложение @c.Id</a></li>
                                            </ul>
                                            <div class="popup-tabs-container">

                                                <!-- Tab -->
                                                <div class="popup-tab-content" id="tab">

                                                    @using (Ajax.BeginForm("EditComment", new { Id = c.Id }, new AjaxOptions
                                                    {
                                                        UpdateTargetId = updateTargetIdEdit,
                                                        InsertionMode = InsertionMode.Replace,
                                                        OnSuccess = "OnSuccessEditComment"
                                                    }))
                                                    {
                                                        @Html.AntiForgeryToken()

                                                        @*@Html.Hidden("Id", c.Id.ToString())*@
                                                        @Html.Hidden("UserId", c.UserId.ToString())
                                                        @Html.Hidden("CustomViewModelId", c.CustomViewModelId.ToString())
                                                        @Html.Hidden("Description", c.Description.ToString())

                                                        var timeCount = c.Days;
                                                        string nameTime = "Days";
                                                        if (timeCount == 0)
                                                        {
                                                            nameTime = "Hours";
                                                            timeCount = c.Hours;
                                                        }

                                                        <!-- Bidding -->
                                                        <div class="bidding-widget">
                                                            <!-- Headline -->
                                                            <span class="bidding-detail margin-top-30">Укажите время выполнения</span>

                                                            <!-- Fields -->
                                                            <div class="bidding-fields">
                                                                <div class="bidding-field">
                                                                    <!-- Quantity Buttons -->
                                                                    <div class="qtyButtons with-border">
                                                                        <div class="qtyDec"></div>
                                                                        <input id="Days" type="text" name="@nameTime" value="@timeCount">
                                                                        <div class="qtyInc"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="bidding-field">
                                                                    <select class="selectpicker default with-border" id="edit-time-units">
                                                                        @if (nameTime == "Days")
                                                                        {
                                                                            <option selected value="1">дней</option>
                                                                            <option value="2">часов</option>
                                                                        }
                                                                        else
                                                                        {
                                                                            <option value="1">дней</option>
                                                                            <option selected value="2">часов</option>
                                                                        }
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <br />
                                                            <span class="bidding-detail">Укажите <strong>стоимость работы</strong></span>

                                                            <div class="bidding-value"><span id="biddingVal1"></span> руб.</div>
                                                            <input id="OfferPrice" name="OfferPrice" class="bidding-slider" type="text"
                                                                   value="" data-slider-handle="custom" data-slider-currency="$"
                                                                   data-slider-min="0" data-slider-max="5000" data-slider-value="@c.OfferPrice"
                                                                   data-slider-step="50" data-slider-tooltip="hide" />
                                                        </div>

                                                        //Для проверки
                                                        @*<div>commentId=@c.Id</div>
                                                            <div>description=@c.Description</div>*@


                                                        <!-- Button -->
                                                        <button class="button full-width button-sliding-icon ripple-effect" type="submit">Сохранить <i class="icon-material-outline-arrow-right-alt"></i></button>
                                                    }
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <div id="small-dialog-3" class="zoom-anim-dialog mfp-hide dialog-with-tabs">
                                        <div class="sign-in-form">
                                            <ul class="popup-tabs-nav">
                                                <li><a href="#tab">Удалить предложение @c.Id</a></li>
                                            </ul>

                                            <div class="popup-tabs-container">

                                                <!-- Tab -->
                                                <div class="popup-tab-content" id="tab">
                                                    @using (Ajax.BeginForm("DeleteComment", "Custom", new { Id = c.Id }, new AjaxOptions
                                                    {
                                                        UpdateTargetId = updateTargetIdDelete,
                                                        InsertionMode = InsertionMode.Replace,
                                                        OnSuccess = "OnSuccessDeleteComment"
                                                    }))
                                                    {
                                                        @Html.AntiForgeryToken()
                                                        <div class="bidding-widget">
                                                            <!-- Headline -->
                                                            <div class="form-actions no-color">
                                                                <span class="bidding-detail margin-top-30">Действительно хотите удалить предложение?</span>
                                                            </div>
                                                        </div>

                                                        <!-- Button -->
                                                        <button class="button full-width button-sliding-icon ripple-effect" type="submit">Удалить предложение <i class="icon-material-outline-arrow-right-alt"></i></button>
                                                    }
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                }
                            }

                            <div id="small-dialog-1" class="zoom-anim-dialog mfp-hide dialog-with-tabs">

                                <!--Tabs -->
                                <div class="sign-in-form">

                                    <ul class="popup-tabs-nav">
                                        <li><a href="#tab1">Принять предложение</a></li>
                                    </ul>

                                    <div class="popup-tabs-container">

                                        <!-- Tab -->
                                        <div class="popup-tab-content" id="tab">

                                            <!-- Welcome Text -->
                                            <div class="welcome-text">
                                                <h3>Принять предложение от исполнителя?</h3>
                                                <div class="bid-acceptance margin-top-15">
                                                    Надо указать тут цену
                                                </div>

                                            </div>

                                            <form id="terms">
                                                <div class="radio">
                                                    <input id="radio-1" name="radio" type="radio" required>
                                                    <label for="radio-1"><span class="radio-label"></span>  Я ознакомился с правилами</label>
                                                </div>
                                            </form>

                                            <!-- Button -->
                                            <a href="@Url.Action("ChooseExecutor", "Custom", new { id = Model.Id, userId = c.UserId })" class="margin-top-15 button full-width button-sliding-icon ripple-effect" type="submit" form="terms">Принять <i class="icon-material-outline-arrow-right-alt"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Bid Acceptance Popup / End -->

                            <div id="small-dialog-2" class="zoom-anim-dialog mfp-hide dialog-with-tabs">

                                <!--Tabs -->
                                <div class="sign-in-form">

                                    <ul class="popup-tabs-nav">
                                        <li><a href="#tab2">Отправка сообщения</a></li>
                                    </ul>

                                    <div class="popup-tabs-container">

                                        <!-- Tab -->
                                        <div class="popup-tab-content" id="tab2">

                                            <!-- Welcome Text -->
                                            <div class="welcome-text">
                                                <h3>Отправить сообщение Марианночке</h3>
                                            </div>

                                            <!-- Form -->
                                            <form method="post" id="send-pm">
                                                <textarea name="textarea" cols="10" placeholder="Message" class="with-border" required></textarea>
                                            </form>

                                            <!-- Button -->
                                            <a class="button full-width button-sliding-icon ripple-effect" type="submit" form="send-pm">Отправить <i class="icon-material-outline-arrow-right-alt"></i></a>

                                        </div>

                                    </div>
                                </div>
                            </div>

                        }
                    }
                    <!--End of foreach-->

                </ul>
            </div>
        </div>



        <div id="small-dialog-4" class="zoom-anim-dialog mfp-hide dialog-with-tabs">

            <!--Tabs -->
            <div class="sign-in-form">

                <ul class="popup-tabs-nav">
                    <li><a href="#tab1">Принять предложение</a></li>
                </ul>

                <div class="popup-tabs-container">

                    <!-- Tab -->
                    <div class="popup-tab-content" id="tab">

                        <!-- Welcome Text -->
                        <div class="welcome-text">
                            <span>Вы действительно хотите подтвердить выполнение?</span>
                            <div class="bid-acceptance margin-top-15">
                                Средства будут разблокированы и перейдут исполнителю!
                            </div>

                        </div>

                        <form id="terms">
                            <div class="radio">
                                <input id="radio-1" name="radio" type="radio" required>
                                <label for="radio-1"><span class="radio-label"></span>  Я ознакомился с правилами</label>
                            </div>
                        </form>

                        <!-- Button -->
                        <a href="@Url.Action("Accept", "Custom", new { id = Model.Id })" class="margin-top-15 button full-width button-sliding-icon ripple-effect" type="submit" form="terms">Принять <i class="icon-material-outline-arrow-right-alt"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Sidebar -->
        <div class="col-xl-4 col-lg-4">
            <div class="sidebar-container">
                @{
                    var totalDays = Model.TotalHrs.Days;
                    var totalHours = Model.TotalHrs.Hours;
                    if (totalDays < 0)
                    {
                        totalDays = 0;
                    }
                    if (totalHours < 0)
                    {
                        totalHours = 0;
                    }
                }
                <div class="countdown green margin-bottom-35">До завершения: @totalDays дней и @totalHours часов </div>
                @if (Model.UserId == User.Identity.GetUserId() && Model.Status == HelpMe.Models.CustomStatus.CheckCustom)
                {
                    if (Model.Status != HelpMe.Models.CustomStatus.Close)
                    {
                        <a style="margin-bottom:20px" href="#small-dialog-4" class="apply-now-button popup-with-zoom-anim">Подтвердить выполнение <i class="icon-material-outline-check"></i></a>
                    }
                    <a href="@Url.Action("Revision", "Custom", new { id = Model.Id })" class="apply-now-button">Отправить на доработку <i class="icon-material-outline-compare-arrows"></i></a>
                }
                else if (Model.Status == HelpMe.Models.CustomStatus.Close)
                {
                    <a href="@Url.Action("Revision", "Custom", new { id = Model.Id })" class="apply-now-button">Отправить на доработку <i class="icon-material-outline-compare-arrows"></i></a>
                }
                else if (Model.Status == HelpMe.Models.CustomStatus.Revision)
                {
                    <a style="margin-bottom:20px" href="#small-dialog-4" class="apply-now-button popup-with-zoom-anim">Подтвердить выполнение <i class="icon-material-outline-check"></i></a>
                }
                <div class="js-accordion sidebar-widget">
                    <div class="job-overview accordion__item js-accordion-item">
                        <div style="color:#333; font-size: 18px;  background-color: #f2f2f2; border-radius: 4px; padding: 20px 35px" class="accordion-header js-accordion-header">
                            <i class="icon-material-outline-info"></i> Кратко
                        </div>
                        <div class="job-overview-inner js-accordion-body" style="display:none">

                            <ul class="boxed-list-ul">
                                <li>
                                    <i class="icon-material-outline-date-range"></i>
                                    <h5>Дата создания</h5>
                                    <span>@Model.StartDate.ToShortDateString()</span>
                                </li>
                                <li>
                                    <i class="icon-material-outline-business-center"></i>
                                    <h5>Тип работы</h5>
                                    <span> @Html.DisplayFor(model => model.TypeTask.Name)</span>
                                </li>
                                <li>
                                    <i class="icon-material-outline-access-time"></i>
                                    <h5>Выполнить до</h5>
                                    <span>@Model.EndingDate.ToShortDateString()</span>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>

                @if (Model.ExecutorId != null)
                {
                    <div class="sidebar-widget">
                        <div class="job-overview">
                            <div class="job-overview-headline">Исполнитель работы</div>
                            <div class="job-overview-inner">
                                <ul>
                                    <li>
                                        <i class="icon-material-outline-computer"></i>
                                        <h5>Текущий исполнитель</h5>
                                        <span><a href="@Url.Action("Details", "User", new { userName = Model.Executor.UserName })">@Model.Executor.UserName</a></span>
                                    </li>
                                    <li>
                                        <i class="icon-material-outline-money"></i>
                                        <h5>Предложенная цена:</h5>
                                        <span> @Model.ExecutorPrice</span>
                                    </li>
                                    <li>
                                        @{
                                            var executorComment = Model.Comments.Where(c => c.UserId == Model.ExecutorId).FirstOrDefault();
                                            var hours = executorComment.Hours;
                                            var days = executorComment.Days;
                                            var executorDeadLine = Model.ExecutorStartDate.AddDays(days).AddHours(hours);
                                        }
                                        <i class="icon-material-outline-access-time"></i>
                                        <h5>Выполнит заказ к:</h5>
                                        <span> @executorDeadLine</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                }

                @if (Request.IsAuthenticated && Model.UserId != User.Identity.GetUserId() && Model.ExecutorId == null)
                {
                    var styleText = "display:none";
                    if (Model.Comments.Where(c => c.UserId == User.Identity.GetUserId()).Count() < 1)
                    {
                        styleText = "display: block";
                    }

                    <div class="sidebar-widget" id="add-offer-container" style="@styleText">
                        <div class="bidding-widget">
                            <div class="bidding-headline"><h3>Добавить предложение</h3></div>
                            <div class="bidding-inner">
                                <!-- Headline -->
                                <span class="bidding-detail">Укажите <strong>стоимость работы</strong></span>

                                <!-- Price Slider -->
                                <div class="bidding-value"><span id="biddingVal"></span> руб.</div>
                                <input id="slider-price" class="bidding-slider" type="text" value="@Model.Price"
                                       data-slider-handle="custom" data-slider-currency="$" data-slider-min="0"
                                       data-slider-max="5000" data-slider-value="@Model.Price" data-slider-step="50"
                                       data-slider-tooltip="hide" />

                                <!-- Headline -->
                                <span class="bidding-detail margin-top-30">Укажите <strong>срок выполнения</strong></span>

                                <!-- Fields -->
                                <div class="bidding-fields">
                                    <div class="bidding-field">
                                        <!-- Quantity Buttons -->
                                        <div class="qtyButtons">
                                            <div class="qtyDec"></div>
                                            <input id="time" type="text" name="qtyInput" value="1">
                                            <div class="qtyInc"></div>
                                        </div>
                                    </div>
                                    <div class="bidding-field">
                                        <select class="selectpicker default" id="time-unit-select">
                                            <option value="1" selected>Дней</option>
                                            <option value="2">Часов</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- Headline -->
                                <span class="bidding-detail margin-top-30">Добавьте <strong>комментарий</strong></span>

                                <textarea id="desсription" cols="30" rows="5" class="with-border" maxlength="200" placeholder="Оставьте своё предложение для заказчика..."></textarea>

                                <!-- Button -->
                                <button id="snackbar-place-bid" class="button ripple-effect move-on-hover full-width margin-top-30"><span>Разместить предложение</span></button>

                            </div>
                            <div class="bidding-signup">Еще нет аккаунта? <a href="#sign-in-dialog" class="register-tab sign-in popup-with-zoom-anim">Регистрация</a></div>
                        </div>
                    </div>
                }


            </div>
        </div>

    </div>
</div>

<!-- Spacer -->
<div class="margin-top-15"></div>



@section Scripts {

    <script>
        $(document).ready(function () {
            $("#boxed-list-ul > li:odd").css("background-color", "#fafafa");
        });

        function ConfirmDone() {
            return confirm("Вы уверены, что хотите удалить вложение?");
        }

        $('a[name=deleteAt]').on('click', function (e) {
            var ItemId = $('a[name=deleteAt]').prop('id').replace('buyElement1-', '');
            alert(ItemId);
         $.ajax({
                        cache: false,
                        url: '@Url.Action("DeleteAttach", "Custom")',
                        type: 'POST',
                        data: { id: ItemId },
                       success: function (result) {
                        $('#Uploaded_Results').load('@Url.Action("LoadAttaches", "Custom")?id='+@Model.Id)
                        },
                        error: function (result) {
                            alert('Вложение удалено');
                        }
                    });
        });

        function OnSuccess() {
                $('#Uploaded_Results').load('@Url.Action("LoadAttaches", "Custom")?id='+@Model.Id)
        }

        function OnSuccessBuy() {

        }

        var progressBar = $('#progressbar');

           $('#submit').on('click', function (e) {
               e.preventDefault();
               var c = document.getElementById('CustomViewModelId').value;
               var d = document.getElementById('ExecutorPrice').value;
        var files = document.getElementById('uploadFile').files;
        if (files.length > 0) {
            if (window.FormData !== undefined) {
                var data = new FormData();
                for (var x = 0; x < files.length; x++) {
                    data.append("file" + x, files[x]);
                    data.append('CustomViewModelId', c);
                    data.append('ExecutorPrice', d)
                }

                $.ajax({
                    xhr: function () {
                        var xhr = new window.XMLHttpRequest();
                        xhr.upload.addEventListener("progress", function (evt) {
                            if (evt.lengthComputable) {
                                var percentComplete = evt.loaded / evt.total;
                                console.log(percentComplete);
                                $('.progress').css({
                                    width: percentComplete * 100 + '%'
                                });
                                if (percentComplete === 1) {
                                    $('.progress').addClass('hide');
                                }
                            }
                        }, false);
                        xhr.addEventListener("progress", function (evt) {
                            if (evt.lengthComputable) {
                                var percentComplete = evt.loaded / evt.total;
                                console.log(percentComplete);
                                $('.progress').css({
                                    width: percentComplete * 100 + '%'
                                });
                            }
                        }, false);
                        return xhr;
                    },
                    type: "POST",
                    url: '@Url.Action("Upload", "Custom")',
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (result) {
                        $('#Uploaded_Results').load('@Url.Action("LoadAttaches", "Custom")?id='+@Model.Id);
                      var votes = $("#attaches");
                      var num = $("#attaches").text();
                      votes.text(parseInt(num)+1);
                    },
                    error: function (xhr, status, p3) {
                        alert(xhr.responseText);
                    }
                });
            } else {
                alert("Браузер не поддерживает загрузку файлов HTML5!");
            }
        }
    });



    var countUserComment = 0;
        $("#snackbar-place-bid").click(function () {
            var decription = $("textarea#desсription").val();
            var slider = $("#slider-price").val();
            var time = $("#time").val();
            var timeUnit = $("#time-unit-select").val();

            if (decription == "") {
                Snackbar.show({
                    text: 'Добавьте комментарий!',
                });
                return;
            }
            if (slider == "") {
                Snackbar.show({
                    text: 'Добавьте стоимость выполнения!',
                });
                return;
            }
            if (time == "") {
                Snackbar.show({
                    text: 'Добавьте срок выполнения!',
                });
                return;
            }
            if (time < 1) {
                Snackbar.show({
                    text: 'Введите положительное число часов/дней!',
                });
                return;
            }

            var hours = 0;
            var days = time;    //default
            //if hours were selected
            if (timeUnit == 2) {
                hours = time;
                days = 0;
            }
            var person = { Description: decription, OfferPrice: slider, Days: days, Hours: hours, CustomViewModelId: @Model.Id };

            var executorsRating;
            var executorImagePath;
           // $.post("/Custom/People", person, null, "json");

           $.ajax({
                type: "POST",
                url: "/Custom/People",
                data: person,
                dataType: "json",
               success: function (data) {
                   //alert('added comment #' + data.Id);
                   //alert('rating = ' + data.ExecutorRating + ' | imagePath = ' + data.ExecutorImagePath);
                   var commentId = data.Id;
                   executorsRating = data.ExecutorRating;
                   executorImagePath = data.ExecutorImagePath;
                   //alert('days = ' + days + ' | hours =' + hours);
                   var modalEdit = '<div id="small-dialog" class="zoom-anim-dialog mfp-hide dialog-with-tabs"><div class="sign-in-form"><ul class="popup-tabs-nav"><li class="active"><a href="#tab">Редактировать предложение ' + data.Id + '</a></li></ul><div class="popup-tabs-container"><div class="popup-tab-content" id="tab">'
                       + '<form method="post" action="/Custom/EditComment/'
                       + data.Id + '" data-ajax="true" data-ajax-mode="replace" data-ajax-success="OnSuccessEditComment" data-ajax-update="#user-comment-bid-rate-' + data.Id + '">'
                       + '@Html.AntiForgeryToken() <input type="hidden" value="'
                       + data.UserId + '" name="UserId" /><input type="hidden" value="'
                       + data.CustomViewModelId + '" name="CustomViewModelId" /><input type="hidden" value="'
                       + data.Description + '" name="Description" />'
                       + '<div class="bidding-widget"><span class="bidding-detail margin-top-30">Укажите время выполнения</span>'
                       + '<div class="bidding-fields"><div class="bidding-field"><div class="qtyButtons with-border"><div class="qtyDec"></div>';

                   if (days > 0) {
                       modalEdit += '<input id="Days" type="text" name="Days" value="' + days + '">'
                           + '<div class="qtyInc"></div></div></div>'
                           + '<div class="bidding-field"><select class="selectpicker default with-border" id="edit-time-units">'
                           + '<option selected value="1">дней</option><option value="2">часов</option>';
                   }
                   else {
                       modalEdit += '<input id="Days" type="text" name="Hours" value="' + hours + '">'
                           + '<div class="qtyInc"></div></div></div>'
                           + '<div class="bidding-field"><select class="selectpicker default with-border" id="edit-time-units">'
                           + '<option value="1">дней</option><option selected value="2">часов</option>';
                   }

                   modalEdit += '</select></div></div><br />'
                       + '<span class="bidding-detail">Укажите <strong>стоимость работы</strong></span>'
                       + '<div class="bidding-value"><span id="biddingVal1"></span> руб.</div>'
                       + '<input id="OfferPrice" name="OfferPrice" class="bidding-slider" type="text" value="'
                       + '" data-slider-handle="custom" data-slider-currency="$" data-slider-min="0" data-slider-max="5000" data-slider-value="'
                       + data.OfferPrice + '" data-slider-step="50" data-slider-tooltip="hide"/>'
                       + '</div><button class="button full-width button-sliding-icon ripple-effect" type="submit">Сохранить <i class="icon-material-outline-arrow-right-alt"></i></button></form></div></div></div></div>';


                   var modalRemove = '<div id="small-dialog-3" class="zoom-anim-dialog mfp-hide dialog-with-tabs">'
                       + '<div class="sign-in-form"><ul class="popup-tabs-nav">'
                       + '<li><a href="#tab">Удалить предложение ' + data.Id + '</a></li>'
                       + '</ul><div class="popup-tabs-container">'
                       + '<div class="popup-tab-content" id="tab">'
                       + '<form method="post" action="/Custom/DeleteComment/'
                       + data.Id + '" data-ajax="true" data-ajax-mode="replace" data-ajax-success="OnSuccessDeleteComment" data-ajax-update="#user-comment-' + data.Id + '">'
                       + '@Html.AntiForgeryToken() <div class="bidding-widget">'
                       + '<div class="form-actions no-color"><span class="bidding-detail margin-top-30">Действительно хотите удалить предложение?</span>'
                       + '</div></div>'
                       + '<button class="button full-width button-sliding-icon ripple-effect" type="submit">Удалить предложение <i class="icon-material-outline-arrow-right-alt"></i></button>'
                       + '</form></div></div></div></div>';

                   var votes = $("#votes");
                   var num = $("#votes").text();
                   votes.text(parseInt(num) + 1);

                   /****/
                   var htmlEditBind = '<div style="margin-left: 23px;" class="buttons-to - right always - visible"><a href="#small-dialog" id="editSmall" class="popup-with-zoom-anim button dark ripple-effect ico" title="Редактировать" data-tippy-placement="top"><i class="icon-feather-edit"></i></a>'
                       +' <a href="#small-dialog-3" class="button red ripple-effect ico" title="Удалить" data-tippy-placement="top"><i class="icon-feather-trash-2"></i></a></div>';
                   var htmlStar = "<div id=\"starId\" class=\"star-rating\" data-rating=\"" + executorsRating+"\"></div>";

                   var htmlComment = '<li id="user-comment-' + data.Id + '">' + "<div class='bid'><div class='bids-avatar'><div class='freelancer-avatar'><a href='@Url.Action("Details", "User", new { userName = User.Identity.Name})'><img src='" + executorImagePath + "' alt='аватар' id='_executorImage'></a></div></div><div class='bids-content'><div class='freelancer-name'><h4><a href='@Url.Action("Details", "User", new { userName = User.Identity.Name })'>@User.Identity.Name | " + data.Id + "</a></h4>"
                   + htmlStar + "</div></div><div class='bids-bid'><div class='bid-rate' id='user-comment-bid-rate-"+data.Id+"'><div class='rate'>"
                   + person.OfferPrice + " рублей</div><span>за ";

                   if (person.Days > 0) {
                       htmlComment += person.Days + ' дней</span>';
                   }
                   else {
                       htmlComment += person.Hours + ' часов</span>';
                   }

                   htmlComment += '</div>'
                       + htmlEditBind + "</div></div><div class='item-description margin-top-30'><p>"
                       + person.Description + "</p></div></li>";

                   if (HasComments(@Model.Id) || countUserComment >= 1) {
                        Snackbar.show({
                            text: 'Вы не можете добавлять более 1 предложения!',
                        });
                        return null;
                   }
                   else {
                    //шоб не было отступа из-за <li></li>
                    //при добавлении нового комента(сразу же после удаления)
                        if ($('#boxed-list-ul>li[id*="user-comment"]').is(':empty')) {
                            $('#boxed-list-ul>li[id*="user-comment"]').remove();
                        }
                       $("#boxed-list-ul").append(htmlComment);
                       while ($('#small-dialog').length) {
                           alert('remove EDIT');
                           $('#small-dialog').remove();
                       }
                       while($('#small-dialog-3').length) {
                           alert('remove DELETE');
                           $('#small-dialog-3').remove();
                       }
                        $("#boxed-list-ul").append(modalEdit);
                        $("#boxed-list-ul").append(modalRemove);
                        function qtySum() {
                           var arr = document.getElementsByName('qtyInput');
                           var tot = 0;
                           for (var i = 0; i < arr.length; i++) {
                               if (parseInt(arr[i].value))
                                   tot += parseInt(arr[i].value);
                           }
                        }
                        qtySum();

                        $(document).on("click", ".qtyDec, .qtyInc", function () {

                           var $button = $(this);
                           var oldValue = $button.parent().find("input").val();

                           if ($button.hasClass('qtyInc')) {
                               $button.parent().find("input").val(parseFloat(oldValue) + 1);
                           } else {
                               if (oldValue > 1) {
                                   $button.parent().find("input").val(parseFloat(oldValue) - 1);
                               } else {
                                   $button.parent().find("input").val(1);
                               }
                           }

                           qtySum();
                           $(".qtyTotal").addClass("rotate-x");

                        });


                       $('#boxed-list-ul').on('click', 'a[href="#small-dialog"]', function () {
                           //alert('edit');
                           var el = $('#small-dialog');
                           $.magnificPopup.open({
                               items: {
                                   src: el,
                               },
                               type: 'inline',
                               fixedContentPos: false,
                               fixedBgPos: true,

                               overflowY: 'auto',

                               closeBtnInside: true,
                               preloader: false,

                               midClick: true,
                               removalDelay: 300,
                               mainClass: 'my-mfp-zoom-in'
                            });
                       });

                       $('#boxed-list-ul').on('click', 'a[href="#small-dialog-3"]', function () {
                           //alert('delete');
                           var el = $('#small-dialog-3');
                           $.magnificPopup.open({
                               items: {
                                   src: el,
                               },
                               type: 'inline',
                               fixedContentPos: false,
                               fixedBgPos: true,

                               overflowY: 'auto',

                               closeBtnInside: true,
                               preloader: false,

                               midClick: true,
                               removalDelay: 300,
                               mainClass: 'my-mfp-zoom-in'
                           });
                       });
                        $('#starId')[0].click();
                        countUserComment++;

                   }
                   /***************************************************************/

                   $('.selectpicker').selectpicker({});
                   $("#starId").attr("data-rating", executorsRating);
                   $("#starId li").attr("id", "user-comment-" + commentId)
                   $("#_executorImage").attr('src', executorImagePath);
                   starRating('#starId');
                   $("#add-offer-container").hide();
                   RangeSlider();
                   Snackbar.show({
                       text: 'Предложение успешно добавлено!',
                   });
               },
               error: function (data) {
                   alert('Bratan, it is very ploho s "Custom/People: "' + data.statusText);
               }
            });
        });



        $("#edit-time-units").change(function () {
            if ($(this).val() == 1) {
                $('#Days').attr('name', 'Days');
            }
            else {
                $('#Days').attr('name', 'Hours');
            }
        });




        function HasComments(customId) {
            $.ajax({
                type: 'GET',
                url: "/Custom/HasComments/"+customId,
                success: function (data) {
                    return data;
                }
            });
        }




        function OnSuccessEditComment() {
            $(".mfp-close").trigger('click');
            Snackbar.show({
                text: 'Предложение успешно изменено!',
            });
        }

        function OnSuccessDeleteComment() {
            if (countUserComment > 0) countUserComment--;
            $(".mfp-close").trigger('click');
            $("#add-offer-container").show();
            var votes = $("#votes");
            var num = $("#votes").text();
            votes.text(parseInt(num) - 1);
            //удаляем модальные окна, 
            //а то косяк с редактированием после удаления
            while ($('#small-dialog').length) {
                alert('remove EDIT');
                $('#small-dialog').remove();
            }
            while ($('#small-dialog-3').length) {
                alert('remove DELETE');
                $('#small-dialog-3').remove();
            }
            Snackbar.show({
                text: 'Предложение успешно удалено!',
            });
        }





        function RangeSlider() {
            // Thousand Separator
            function ThousandSeparator(nStr) {
                nStr += '';
                var x = nStr.split('.');
                var x1 = x[0];
                var x2 = x.length > 1 ? '.' + x[1] : '';
                var rgx = /(\d+)(\d{3})/;
                while (rgx.test(x1)) {
                    x1 = x1.replace(rgx, '$1' + ',' + '$2');
                }
                return x1 + x2;
            }

            // Bidding Slider Average Value
            var avgValue = (parseInt($('.bidding-slider').attr("data-slider-min")) + parseInt($('.bidding-slider').attr("data-slider-max"))) / 2;
            if ($('.bidding-slider').data("slider-value") === 'auto') {
                $('.bidding-slider').attr({ 'data-slider-value': avgValue });
            }

            // Bidding Slider Init
            $('.bidding-slider').slider();

            $(".bidding-slider").on("slide", function (slideEvt) {
                $("#biddingVal").text(ThousandSeparator(parseInt(slideEvt.value)));
            });
            $(".bidding-slider").on("slide", function (slideEvt) {
                $("#biddingVal1").text(ThousandSeparator(parseInt(slideEvt.value)));
            });
            $("#biddingVal").text(ThousandSeparator(parseInt($('.bidding-slider').val())));

            $("#biddingVal1").text(ThousandSeparator(parseInt($('.bidding-slider').val())));
            // Default Bootstrap Range Slider
            var currencyAttr = $(".range-slider").attr('data-slider-currency');

            $(".range-slider").slider({
                formatter: function (value) {
                    return currencyAttr + ThousandSeparator(parseInt(value[0])) + " - " + currencyAttr + ThousandSeparator(parseInt(value[1]));
                }
            });

            $(".range-slider-single").slider();
        }

    </script>

    <script>


        // Snackbar for user status switcher
        $('#snackbar-user-status label').click(function () {
            Snackbar.show({
                text: 'Your status has been changed!',
                pos: 'bottom-center',
                showAction: false,
                actionText: "Dismiss",
                duration: 3000,
                textColor: '#fff',
                backgroundColor: '#383838'
            });
        });


        // Snackbar for copy to clipboard button
        $('.copy-url-button').click(function () {
            Snackbar.show({
                text: 'Copied to clipboard!',
            });
        });
    </script>
}

