@using HelpMe.Helpers
@using Microsoft.AspNet.Identity


<div class="attachments-container">
    @foreach (var i in Model)
    {
    <div style="margin-top:20px" id="itemAttach">
        <a style='@(i.AttachStatus == HelpMe.Models.AttachStatus.NotPurchased && i.CustomViewModel.ExecutorId != User.Identity.GetUserId() ? "pointer-events: none;" : "")'
           href="@Url.Action("GetFileAttach", "Custom", new { path = i.AttachFilePath, id = i.Id })"
           class="attachment-box ripple-effect "><span>Файл решения</span><i>@i.ExecutorPrice руб.</i></a>
        @if (i.CustomViewModel.ExecutorId == User.Identity.GetUserId() && i.AttachStatus == HelpMe.Models.AttachStatus.NotPurchased)
        {
        @Ajax.RawActionLink(
                  "<i class='icon-feather-trash-2'></i>", "DeleteAttach", "Custom",
                   new
                   {
                       id = i.Id,
                   },
                   new AjaxOptions
                   {
                       OnBegin = "return ConfirmDone()",
                       HttpMethod = "POST",
                       OnSuccess = "OnSuccess"
                   },
                   new
                   {
                       @class = "button gray ripple-effect ico",
                       @style = "padding: 3px 9px;margin-top: -10px;",
                       title = "Удалить",
                       data_tippy_placement = "top"
                   }
               )
        }
        @if (i.CustomViewModel.UserId == User.Identity.GetUserId())
        {
        if (i.AttachStatus == HelpMe.Models.AttachStatus.NotPurchased)
        {
        @Ajax.RawActionLink(
                          "<i style='margin-top: -10px;' class='icon-material-outline-monetization-on'></i>Купить решение",
                           "Buy",
                           "Custom",
                           new
                           {
                               id = i.Id,
                           },
                           new AjaxOptions
                           {
                               OnSuccess = "OnSuccess",
                               HttpMethod = "POST"
                           }, new { @class = "button ripple-effect margin-top-18", @style = (i.AttachStatus == HelpMe.Models.AttachStatus.Purchased ? "margin-top: -10px;display:" : "margin-top: -10px;"), title = "Удалить", data_tippy_placement = "top" }
                       )
        }
        else
        {
        <div style='margin-top: -10px;' class="task-tags">
            <span>Работа куплена</span>
        </div>

        }
        }
            </div>
        }
  
        </div>

        <br />

   

