@using HelpMe.Helpers
@using Microsoft.AspNet.Identity
@model IEnumerable<HelpMe.Models.MainAttachModel>

<div class="attachments-container">
    @foreach (var i in Model)
    {<div style="margin-bottom:20px; margin-right:14px">
         <a class="attachment-box ripple-effect" href="@Url.Action("GetFile", "Custom", new { path = i.AttachFilePath })"><span style="width:152px">@i.AttachFileName</span><i>@i.AttachFileExtens.TrimStart('.')</i></a>
    @if (i.CustomViewModel.ExecutorId == User.Identity.GetUserId())
    {
    @Ajax.RawActionLink("<i id='fDelbuy"+@i.Id+"' class='icon-feather-edit'></i><div id='ldsDelAttach" + i.Id + "' style='display:none' class='lds-ring'><div></div><div></div><div></div><div></div></div>", "DeleteAttach","Custom",
   new{ id = i.Id},
   new AjaxOptions{ OnBegin = "return ConfirmDone()", HttpMethod = "POST", OnSuccess = "OnSuccessDeleteAttach('" + @i.Id + "')" },
   new {
       id ="delete-attach",
       @class = "button green ripple-effect ico",
       @style = "margin-left:5px; padding: 3px 5px 3px 3px; ",
       title = "Удалить решение",
       data_tippy_placement = "top"
   }
   )
    }
</div>
    }
</div>
<br />