@using HelpMe.Helpers
@using Microsoft.AspNet.Identity
@model IEnumerable<HelpMe.Models.AttachModel>

<div class="attachments-container">
    @{ var idnew = 1; }
    @foreach (var i in Model)
    {
    <div style="margin-bottom:20px; margin-right:16px">
        <a style='@(i.AttachStatus == HelpMe.Models.AttachStatus.NotPurchased && i.CustomViewModel.ExecutorId != User.Identity.GetUserId() ? "pointer-events: none;" : "")'
           href="@Url.Action("GetFileAttach", "Custom", new { path = i.AttachFilePath, id = i.Id })"
           class="attachment-box ripple-effect "><span style="width:152px">@i.AttachFileName</span><i style="margin-left:40px">@i.ExecutorPrice руб.</i><i style="">@i.AttachFileExtens.TrimStart('.')</i></a>
        @if (i.CustomViewModel.ExecutorId == User.Identity.GetUserId() && i.AttachStatus == HelpMe.Models.AttachStatus.NotPurchased)
        {
            @Ajax.RawActionLink("<i id='fDelbuy"+@i.Id+"' class='icon-feather-trash-2'></i><div id='ldsDelAttach" + i.Id + "' style='display:none' class='lds-ring'><div></div><div></div><div></div><div></div></div>", "DeleteAttach","Custom",
           new{ id = i.Id},
           new AjaxOptions{ OnBegin = "return ConfirmDone()", HttpMethod = "POST", OnSuccess = "OnSuccessDeleteAttach('" + @i.Id + "')" },
           new {
               id ="delete-attach",
               @class = "button green ripple-effect ico",
               @style = "padding: 3px 5px 3px 3px; ",
               title = "Удалить решение",
               data_tippy_placement = "top"
           }
           )
            @Ajax.RawActionLink("<i id='fDelbuy"+@i.Id+"' class='icon-feather-edit'></i><div id='ldsDelAttach" + i.Id + "' style='display:none' class='lds-ring'><div></div><div></div><div></div><div></div></div>", "DeleteAttach","Custom",
          new{ id = i.Id},
          new AjaxOptions{ OnBegin = "return ConfirmDone()", HttpMethod = "POST", OnSuccess = "OnSuccessDeleteAttach('" + @i.Id + "')" },
          new {
              id ="delete-attach",
              @class = "button green ripple-effect ico",
              @style = "margin-left:5px; padding: 3px 5px 3px 3px; ",
              title = "Удалить решение",
              data_tippy_placement = "top"
          }
          )
        }
        @if (i.CustomViewModel.UserId == User.Identity.GetUserId())
        {
            if (i.AttachStatus == HelpMe.Models.AttachStatus.NotPurchased)
            {
                @Ajax.RawActionLink(
               "<i id='fbuy' style='margin-top: -10px;' class='icon-material-outline-monetization-on'></i><span id='textAttachBuy'>Купить</span><div style = 'left:40%' class='lds-ring'><div></div><div></div><div></div><div></div></div>", "Buy", "Custom",
               new{id = i.Id},
               new AjaxOptions{ OnBegin= "return OnBeginBuyAttach('"+@i.Id+"')", OnSuccess = "OnSuccessBuyAttach", HttpMethod = "POST" },
               new {
                   id = "buy-solution",
                   @class = "button ripple-effect",
                   @style = (i.AttachStatus == HelpMe.Models.AttachStatus.Purchased ? "display:;    margin-top: -5px;" : "    margin-top: -5px;"),
                   title = "Купить",
                   data_tippy_placement = "top"
               }
               )
            }
            else
            {
                <div style="margin-top:-10px" class="task-tags margin-bottom-20">
                    <span>Работа куплена</span>
                </div>

            }
        }
        @if (i.CustomViewModel.ExecutorId == User.Identity.GetUserId())
        {
            if (i.AttachStatus != HelpMe.Models.AttachStatus.NotPurchased)
            {
                <div style='margin-top: -10px;' class="task-tags ">
                    <span>Работа куплена</span>
                </div>
            }
        }

    </div>
        idnew = idnew + 1;
    }

</div>

<br />



