@using HelpMe.Helpers
@{
    Layout = "~/Views/Shared/_LayoutDash.cshtml";
}

@model IEnumerable<HelpMe.Models.CommentViewModel>

<div class="dashboard-content-container" data-simplebar>
    <div class="dashboard-content-inner">

        <!-- Dashboard Headline -->
        <div class="dashboard-headline">
            <h3>Мои предложения</h3>

            <!-- Breadcrumbs -->
            <nav id="breadcrumbs" class="green">
                <ul>
                    <li><a href="#">Главная</a></li>
                    <li>Мои предложения</li>
                </ul>
            </nav>
        </div>

        <!-- Row -->
        <div class="row">

            <!-- Dashboard Box -->
            <div class="col-xl-12">
                <div class="dashboard-box margin-top-0">

                    <!-- Headline -->
                    <div class="headline">
                        <h3><i class="icon-material-outline-gavel"></i> Список моих предложений</h3>
                        <div class="sort-by">
                            <select class="selectpicker hide-tick" id="sortComments" autocomplete="off">
                                <option value="1" selected>Новые ставки</option>
                                <option value="2">Давние ставки</option>
                                <option value="3">Дата сдачи</option>
                                <option value="4">Дешевые</option>
                                <option value="5">Дорогие</option>
                                <option value="6">Возрастание срока</option>
                                <option value="7">Убывание срока</option>
                            </select>
                        </div>
                    </div>

                    <div class="content">
                        <ul class="dashboard-box-list">
                            @foreach (var i in Model.OrderByDescending(c => c.CreationDate))
                            {

                                <li class="my-active-bidders">
                                    <!-- Job Listing -->
                                    <div class="job-listing width-adjustment">

                                        <!-- Job Listing Details -->
                                        <div class="job-listing-details">

                                            <!-- Details -->
                                            <div class="job-listing-description">
                                                <h3 class="job-listing-title"><a href="@Url.Action("Details", "Custom", new { id = i.CustomViewModelId })" target="_blank">@i.CustomViewModel.Name</a> <span class="dashboard-status-button yellow">@HtmlExtensions.EnumDisplayNameFor(i.CustomViewModel.Status)</span></h3>
                                                <div class="job-listing-footer">
                                                    <ul>
                                                        <li><i class="icon-material-outline-access-time"></i>Заказ создан @i.CustomViewModel.StartDate</li>
                                                        <li class="date-of-ending"><i class="icon-material-outline-access-time"></i>Сдать до @i.CustomViewModel.EndingDate</li>
                                                    </ul>
                                                    <ul>
                                                        <li class="date-of-offer"><i class="icon-material-outline-access-time"></i>Дата ставки @i.CreationDate</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Task Details -->
                                    <ul class="dashboard-task-info">
                                        <li>
                                            <span class="offer-price" style="display:inherit"><strong id="offer-price-@i.Id">@i.OfferPrice</strong>&nbsp<strong>руб.</strong></span><span>Ваша ставка</span>
                                        </li>
                                        <li id="job-period-@i.Id">
                                            @if (i.Days != 0)
                                            {
                                                <span style="display:inherit"><strong id="job-period-days-@i.Id" class="job-period">@i.Days</strong>&nbsp<strong id="time-unit-days-@i.Id" class="unit-of-period">дней</strong></span>
                                            }
                                            @if(i.Hours!=0)
                                            {
                                                <span style="display:inherit"><strong id="job-period-hours-@i.Id" class="job-period">@i.Hours</strong>&nbsp<strong id="time-unit-hours-@i.Id" class="unit-of-period">часов</strong></span>
                                            }
                                            <span>Срок выполнения</span>
                                        </li>
                                        <li><strong id="description-@i.Id">@i.Description</strong><span class="word-break">Комментарий</span></li>
                                    </ul>

                                    <!-- Buttons -->
                                    <div class="buttons-to-right always-visible">
                                        @if (i.CustomViewModel.Status == HelpMe.Models.CustomStatus.Open)
                                        {
                                            //var updateTargetIdEdit = "user-comment-bid-rate-" + i.Id;

                                            <a href="#small-dialog" class="popup-with-zoom-anim button green ripple-effect ico" title="Редактировать" data-tippy-placement="top"><i class="icon-feather-edit"></i></a>
                                            <a href="#small-dialog-3" class="button red ripple-effect ico" title="Удалить предложение" data-tippy-placement="top"><i class="icon-feather-trash-2"></i></a>


                                            <!--Pop-up-->
                                            <div id="small-dialog" class="zoom-anim-dialog mfp-hide dialog-with-tabs">

                                                <div class="sign-in-form">

                                                    <ul class="popup-tabs-nav">
                                                        <li><a href="#tab">Редактировать предложение</a></li>
                                                    </ul>
                                                    <div class="popup-tabs-container">

                                                        <!-- Tab -->
                                                        <div class="popup-tab-content" id="tab">
                                                            @{
                                                                var timeCount = i.Days;
                                                                string nameTime = "Days";
                                                                if (timeCount == 0)
                                                                {
                                                                    nameTime = "Hours";
                                                                    timeCount = i.Hours;
                                                                }
                                                            }
                                                            <!-- Bidding -->
                                                            <div class="bidding-widget">
                                                                <!-- Headline -->
                                                                <span class="bidding-detail">Укажите <strong>стоимость работы:</strong> </span>

                                                                <!-- Price Slider -->
                                                                <div class="bidding-value">
                                                                    <span id="edit-bid-bidding-value-@i.Id"></span> руб. <button type="button" id="edit-bid-show-price" onclick="OnClickShowPriceValue(@i.Id)"><i title="Редактировать" style="color:green" class="icon-line-awesome-pencil"></i></button>
                                                                    <input id="edit-bid-price-value-@i.Id" name="OfferPrice" class="no-spinners" style="margin-bottom:5px; display:none"
                                                                           placeholder="Укажите стоимость" type="number" value="@i.OfferPrice"
                                                                           oninput="validity.valid||(value='');" min="0" max="50000"
                                                                           data-tippy-placement="top" onkeyup="OnKeyUpPriceValue(@i.Id)"/>
                                                                </div>

                                                                <input id="edit-bid-slider-price-@i.Id" class="bidding-slider" type="text" value="@i.OfferPrice"
                                                                       data-slider-handle="custom" data-slider-currency="$" data-slider-min="0"
                                                                       data-slider-max="50000" data-slider-value="@i.OfferPrice" data-slider-step="50"
                                                                       data-slider-tooltip="hide" onchange="OnChangeSliderPrice(@i.Id)"/>

                                                                <!-- Headline -->
                                                                <span class="bidding-detail margin-top-10">Укажите <strong>срок выполнения:</strong></span>

                                                                <!-- Fields -->
                                                                <div class="bidding-fields">
                                                                    <div class="bidding-field">

                                                                        <!-- Quantity Buttons -->
                                                                        <div class="qtyButtons with-border">
                                                                            <div class="qtyDec"></div>
                                                                            <input id="edit-bid-time-@i.Id" class="no-spinners" type="number" min="1" max="100"
                                                                                   step="1" name="@nameTime" value="@timeCount" oninput="validity.valid||(value='');">
                                                                            <div class="qtyInc"></div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="bidding-field">
                                                                        <select class="selectpicker default with-border" id="edit-time-units-@i.Id" onchange="OnChangeEditTimeUnit(@i.Id)">
                                                                            @if (nameTime == "Days")
                                                                            {
                                                                                <option selected value="1">дней</option>
                                                                                <option value="2">часов</option>
                                                                            }
                                                                            else
                                                                            {
                                                                                <option value="1">дней</option>
                                                                                <option selected value="2">часов</option>
                                                                            }
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- Headline -->
                                                            <span class="bidding-detail margin-top-10">Добавьте <strong>комментарий:</strong></span>

                                                            <textarea id="edit-bid-desсription-@i.Id" name="Description" cols="30" rows="5" class="with-border" maxlength="200" placeholder="Оставьте своё предложение для заказчика...">@i.Description</textarea>

                                                            <!-- Button -->
                                                            <button class="button full-width button-sliding-icon ripple-effect" type="button" onclick="EditBidFunction(@i.CustomViewModelId, @i.Id)">Сохранить <i class="icon-material-outline-arrow-right-alt"></i></button>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                            <div id="small-dialog-3" class="zoom-anim-dialog mfp-hide dialog-with-tabs">
                                                <div class="sign-in-form">
                                                    <ul class="popup-tabs-nav">
                                                        <li><a href="#tab">Удалить предложение</a></li>
                                                    </ul>

                                                    <div class="popup-tabs-container">

                                                        <!-- Tab -->
                                                        <div class="popup-tab-content" id="tab">

                                                            <div class="bidding-widget">
                                                                <!-- Headline -->
                                                                <div class="form-actions no-color">
                                                                    <span class="bidding-detail margin-top-30">Действительно хотите удалить предложение?</span>
                                                                </div>
                                                            </div>

                                                            <!-- Button -->
                                                            <button id="delete-comment-button" class="button full-width button-sliding-icon ripple-effect"
                                                                    type="submit" onclick="return OnClickDeleteComment(@i.Id)">
                                                                Удалить предложение <i class="icon-material-outline-arrow-right-alt"></i>
                                                            </button>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- Row / End -->
        <!-- Footer -->
        <div class="dashboard-footer-spacer"></div>
        <div class="small-footer margin-top-15">
            <div class="small-footer-copyrights">
                © 2034 <strong>Староста Инкорпорэйтед</strong>. All Rights Reserved.
            </div>
            <ul class="footer-social-links">
                <li>
                    <a href="#" title="Facebook" data-tippy-placement="top">
                        <i class="icon-brand-facebook-f"></i>
                    </a>
                </li>
                <li>
                    <a href="#" title="Twitter" data-tippy-placement="top">
                        <i class="icon-brand-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="#" title="Google Plus" data-tippy-placement="top">
                        <i class="icon-brand-google-plus-g"></i>
                    </a>
                </li>
                <li>
                    <a href="#" title="LinkedIn" data-tippy-placement="top">
                        <i class="icon-brand-linkedin-in"></i>
                    </a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <!-- Footer / End -->

    </div>
</div>
<!-- Dashboard Content / End -->

@section Scripts{
    <script type="text/javascript">
        $('#sortComments').on('change', function () {
            var sortingType = $(this).val();
            //console.log('sortingType = '+sortingType);
            var initialComments = $('.my-active-bidders');
            var sortedComments;

            switch (sortingType) {
                case '2'://по старым ставкам
                    //console.log('sortComments = по старым ставкам');
                    sortedComments = initialComments.sort(function (a, b) {
                        var first = $(a).find('.date-of-offer').text();
                        var second = $(b).find('.date-of-offer').text();
                        return (first > second) ? 1 : (first < second) ? -1 : 0;
                    });
                    break;

                case '3'://по дате сдачи
                    //console.log('sortComments = по дате сдачи');
                    sortedComments = initialComments.sort(function (a, b) {
                        var first = $(a).find('.date-of-ending').text();
                        var second = $(b).find('.date-of-ending').text();
                        return (first < second) ? -1 : (first > second) ? 1 : 0;
                    });
                    break;

                case '4'://по дешевым
                    //console.log('sortComments = по дешевым');
                    sortedComments = initialComments.sort(function (a, b) {
                        var first = parseInt($(a).find('.offer-price').text());
                        var second = parseInt($(b).find('.offer-price').text());
                        return (first > second) ? 1 : (first < second) ? -1 : 0;
                    });
                    break;

                case '5'://по дорогим
                    //console.log('sortComments = по дорогим');
                    sortedComments = initialComments.sort(function (a, b) {
                        var first = parseInt($(a).find('.offer-price').text());
                        var second = parseInt($(b).find('.offer-price').text());
                        return (first > second) ? -1 : (first < second) ? 1 : 0;
                    });
                    break;

                case '6'://по возрастанию срока выполнения
                    //console.log('sortComments = по возрастанию срока выполнения');
                    sortedComments = initialComments.sort(function (a, b) {
                        var first = parseInt($(a).find('.job-period').text());
                        var firstUnit = $(a).find('.unit-of-period').text();
                        var second = parseInt($(b).find('.job-period').text());
                        var secondUnit = $(b).find('.unit-of-period').text();

                        firstUnit == 'дней' ? (first = first * 24) : (first = first);
                        secondUnit == 'дней' ? (second = second * 24) : (second = second);
                        return (first < second) ? -1 : (first > second) ? 1 : 0;
                    });
                    break;

                case '7'://по убыванию срока выполнения
                    //console.log('sortComments = по убыванию срока выполнения');
                    sortedComments = initialComments.sort(function (a, b) {
                        var first = parseInt($(a).find('.job-period').text());
                        var firstUnit = $(a).find('.unit-of-period').text();
                        var second = parseInt($(b).find('.job-period').text());
                        var secondUnit = $(b).find('.unit-of-period').text();

                        firstUnit == 'дней' ? (first = first * 24) : (first = first);
                        secondUnit == 'дней' ? (second = second * 24) : (second = second);
                        return (first > second) ? -1 : (first < second) ? 1 : 0;
                    });
                    break;

                default://по новым ставкам(по умолчанию)
                    //console.log('sortComments = по новым ставкам');
                    sortedComments = initialComments.sort(function (a, b) {
                        var first = $(a).find('.date-of-offer').text();
                        var second = $(b).find('.date-of-offer').text();
                        return (first > second) ? -1 : (first < second) ? 1 : 0;
                    });
                    break;
            }
            $('.dashboard-box-list').append(sortedComments);
        });

        //edit button
        var minValue = 1;   //min time
        var maxValue = 100; //max time

        $(document).ready(function () {
            RangeSlider();
        });

        function OnClickShowPriceValue(commentId) {
            $('#edit-bid-price-value-' + commentId).toggle('show');
        }

        function OnKeyUpPriceValue(commentId) {
            var editBidBox = document.getElementById('edit-bid-price-value-' + commentId);
            var editBidSliderValue = document.getElementById('edit-bid-slider-price-' + commentId);
            editBidSliderValue.value = editBidBox.value;
            $('#edit-bid-bidding-value-' + commentId).text(editBidBox.value);
            $('#edit-bid-slider-price-' + commentId).slider('setValue', editBidBox.value);
        }

        function OnChangeEditTimeUnit(commentId) {
            var selectedOption = $('#edit-time-units-' + commentId);
            if (selectedOption.val() == 1) {
                $('#edit-bid-time-' + commentId).attr('name', 'Days');
            }
            else {
                $('#edit-bid-time-' + commentId).attr('name', 'Hours');
            }
        }

        function OnChangeSliderPrice(commentId) {
            $("#edit-bid-price-value-" + commentId).val($("#edit-bid-slider-price-" + commentId).val());
        }

        $(document).on("click", ".qtyDec, .qtyInc", function () {
            var events = $._data(this, "events");
            if (events == null) {
                var $button = $(this);
                var buttonHasClassInc = $button.hasClass('qtyInc');
                var oldValue = $button.parent().find("input").val();

                if (oldValue < minValue || (oldValue == minValue && !buttonHasClassInc)) {
                    $button.parent().find("input").val(minValue);
                }
                else {
                    if (oldValue > maxValue || (oldValue == maxValue && buttonHasClassInc)) {
                        $button.parent().find("input").val(maxValue);
                    }
                    else {
                        if (buttonHasClassInc) {
                            $button.parent().find("input").val(parseFloat(oldValue) + 1);
                        }
                        else {
                            $button.parent().find("input").val(parseFloat(oldValue) - 1);
                        }
                    }
                }

                function qtySum() {
                    var arr = document.getElementsByName('qtyInput');
                    var tot = 0;
                    for (var i = 0; i < arr.length; i++) {
                        if (parseInt(arr[i].value)) {
                            tot += parseInt(arr[i].value);
                        }
                    }
                }
                qtySum();
                $(".qtyTotal").addClass("rotate-x");}
        });
        
        function EditBidFunction(customId, commentId) {
            //проверяем заполненность полей
            var execPrice = $('#edit-bid-slider-price-' + commentId).val();
            var jobPeriod = $('#edit-bid-time-' + commentId).val();    //срок
            var timeUnit = $('#edit-time-units-' + commentId).children('option:selected').text();   //единица измерения срока
            var description = $('#edit-bid-desсription-' + commentId).val();
            //console.log('execPrice = ' + execPrice + ' | jobPeriod = ' + jobPeriod + ' | timeUnit = ' + timeUnit + ' | description = ' + description);

            if (execPrice == "") {
                Snackbar.show({
                    text: 'Добавьте стоимость выполнения!',
                });
                return;
            }
            if (jobPeriod == "") {
                Snackbar.show({
                    text: 'Добавьте срок выполнения!',
                });
                return;
            }
            if (jobPeriod < minValue || jobPeriod > maxValue) {
                Snackbar.show({
                    text: 'Введите число в диапазоне от ' + minValue + ' до ' + maxValue + '!',
                });
                return;
            }
            if (description == "") {
                Snackbar.show({
                    text: 'Добавьте комментарий!',
                });
                return;
            }

            //проверяем, не является ли данный юзер текущим исполнителем
            if (IsAlreadyExecutor(customId)) {
                $(".mfp-close").trigger('click');
                return;
            }

            //собственно само редактирование
            //console.log('commentId = ' + commentId + ' | execPrice = ' + execPrice + ' | jobPeriod = ' + jobPeriod + ' | timeUnit = ' + timeUnit + ' | description = ' + description);
            $.ajax({
                url: "/Custom/EditMyBid",
                //contentType: "application/json; charset=utf-8",
                //dataType: 'json',
                data: {
                    'commentId': commentId,
                    'price': execPrice,
                    'period': jobPeriod,
                    'timeUnit': timeUnit,
                    'description': description
                },
                success: function (data) {
                    //alert('hello there');
                    //заменяем поля нужного предложения
                    $('#offer-price-' + commentId).text(execPrice);

                    var timeHtml = '';
                    if (timeUnit == 'дней') {
                        timeHtml = '<span style="display:inherit"><strong id="job-period-days-' + commentId +
                            '" class="job-period">' + jobPeriod + '</strong>&nbsp<strong id="time-unit-days-' + commentId +
                            '" class="unit-of-period">дней</strong></span>';
                    }
                    if (timeUnit == 'часов') {
                        timeHtml = '<span style="display:inherit"><strong id="job-period-hours-' + commentId +
                            '" class="job-period">' + jobPeriod + '</strong>&nbsp<strong id="time-unit-hours-' + commentId +
                            '" class="unit-of-period">часов</strong></span>';
                    }
                    timeHtml += '<span>Срок выполнения</span>';
                    $('#job-period-' + commentId).empty().append(timeHtml);

                    $('#description-' + commentId).text(description);

                    $(".mfp-close").trigger('click');
                    Snackbar.show({
                        text: 'Предложение успешно изменено!',
                    });
                },
                error: function (data) {
                    //console.log('EditMyBid is gone bad');
                    $(".mfp-close").trigger('click');
                    Snackbar.show({
                        text: 'Ошибка при редактировании! Попробуйте еще раз.',
                    });
                }
            });
        }

        function IsAlreadyExecutor(customId) {
            $.ajax({
                type: 'GET',
                url: "/Custom/IsExecutor/" + customId,
                success: function (data) {
                    if (data=="True") {
                        Snackbar.show({
                            text: 'Вы не можете редактировать предложение, вас уже выбрали исполнителем!',
                        });
                        return false;
                    } else {
                        return true;
                    }
                }
            });
        }

        function RangeSlider() {
            // Thousand Separator
            function ThousandSeparator(nStr) {
                nStr += '';
                var x = nStr.split('.');
                var x1 = x[0];
                var x2 = x.length > 1 ? '.' + x[1] : '';
                var rgx = /(\d+)(\d{3})/;
                while (rgx.test(x1)) {
                    x1 = x1.replace(rgx, '$1' + ',' + '$2');
                }

                return x1 + x2;
            }

            // Bidding Slider Average Value
            var avgValue = (parseInt($('.bidding-slider').attr("data-slider-min")) + parseInt($('.bidding-slider').attr("data-slider-max"))) / 2;
            if ($('.bidding-slider').data("slider-value") === 'auto') {
                $('.bidding-slider').attr({ 'data-slider-value': avgValue });
            }

            // Bidding Slider Init
            $('.bidding-slider').slider();

            $('[id^="edit-bid-bidding-value"]').each(function () {
                var bidSlider = $(this).parent().siblings('.bidding-slider');
                $(this).text(ThousandSeparator(parseInt(bidSlider.val())));
            });
            //$('[id^="edit-bid-bidding-value"]').text(ThousandSeparator(parseInt($('.bidding-slider').val())));

            $(".bidding-slider").on("slide", function (slideEvt) {
                $(this).siblings('.bidding-value').children('[id^="edit-bid-bidding-value"]').text(ThousandSeparator(parseInt(slideEvt.value)));
                //$("#edit-bid-bidding-value").text(ThousandSeparator(parseInt(slideEvt.value)));
            });
            

            // Default Bootstrap Range Slider
            var currencyAttr = $(".range-slider").attr('data-slider-currency');

            $(".range-slider").slider({
                formatter: function (value) {
                    return currencyAttr + ThousandSeparator(parseInt(value[0])) + " - " + currencyAttr + ThousandSeparator(parseInt(value[1]));
                }
            });

            $(".range-slider-single").slider();

            //$("#edit-bid-price-value").val = parseInt($("#edit-bid-bidding-value").text());
        }
            //delete button
    </script>
}