@using Microsoft.AspNet.Identity
@using HelpMe.Helpers

@{
    Layout = "~/Views/Shared/_LayoutDash.cshtml";
}

@model IEnumerable<HelpMe.Models.CustomViewModel>

<div class="dashboard-content-container" data-simplebar>
    <div class="dashboard-content-inner">

        <!-- Dashboard Headline -->
        <div class="dashboard-headline">
            <h3>Мои задачи</h3>

            <!-- Breadcrumbs -->

        </div>

        <!-- Row -->
        <div class="row">

            <!-- Dashboard Box -->
            <div class="col-xl-12">
                <div class="dashboard-box margin-top-0">

                    <!-- Headline -->
                    <div class="headline">
                        <h3><i class="icon-material-outline-assignment"></i>Мои задачи</h3>
                    </div>
                    <div class="tabs">
                        <div class="tabs-header">
                            <ul>
                                <li class="active"><a href="#tab-1" data-tab-id="1">Все</a></li>
                                <li><a href="#tab-2" data-tab-id="2">Выполняются</a></li>
                                <li><a href="#tab-3" data-tab-id="3">Проверка</a></li>
                                <li><a href="#tab-4" data-tab-id="4">Доработка</a></li>
                                <li><a href="#tab-5" data-tab-id="5">Закрытые</a></li>
                            </ul>
                            <div class="tab-hover"></div>
                            <nav class="tabs-nav">
                                <span class="tab-prev"><i class="icon-material-outline-keyboard-arrow-left"></i></span>
                                <span class="tab-next"><i class="icon-material-outline-keyboard-arrow-right"></i></span>
                            </nav>
                        </div>
                        <!-- Tab Content -->
                        <div class="tabs-content">
                            <div class="tab active" data-tab-id="1">
                                <div class="content">
                                    <ul class="dashboard-box-list">

                                        @foreach (var i in Model)
                                        {
                                            <li>
                                                <!-- Job Listing -->
                                                <div class="job-listing width-adjustment">

                                                    <!-- Job Listing Details -->
                                                    <div class="job-listing-details">

                                                        <!-- Details -->
                                                        <div class="job-listing-description">
                                                            <h3 class="job-listing-title"><a href="@Url.Action("Details", "Custom", new { id = i.Id })">@i.Name</a> <span class="dashboard-status-button yellow">@HtmlExtensions.EnumDisplayNameFor(i.Status)</span></h3>

                                                            <!-- Job Listing Footer -->
                                                            <div class="job-listing-footer">
                                                                <ul>
                                                                    <li><i class="icon-material-outline-access-time"></i>Создано @i.StartDate</li>
                                                                    <li><i class="icon-material-outline-access-time"></i>Сдать до @i.EndingDate</li>
                                                                </ul>
                                                            </div>

                                                            <h4><a href="#">Заказчик: @i.User.UserName </a></h4>
                                                            <div class="freelancer-rating">
                                                                @{
                                                                    var likes = i.User.PositiveThumbs;
                                                                    var dislikes = i.User.NegativeThumbs;
                                                                    var rate = "0.0";
                                                                    if (likes + dislikes > 0)
                                                                    {
                                                                        rate = Math.Round((double)likes / (likes + dislikes) * 5, 1).ToString().Replace(',', '.');
                                                                    }
                                                                    if (rate.Length == 1)
                                                                    {
                                                                        rate = rate + ".0";
                                                                    }
                                                                }
                                                                <div class="star-rating" data-rating="@rate"></div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Task Details -->
                                                <ul style="padding: 13px; margin-top:5px; margin-bottom:5px" class="dashboard-task-info">
                                                    <li><strong>@i.Price рубля</strong><span>Бюджет</span></li>
                                                    <li><strong>@i.CategoryTask.Name</strong><span>Дисциплина</span></li>
                                                    <li><strong>@i.TypeTask.Name</strong><span>Тип работы</span></li>
                                                </ul>

                                                <!-- Buttons -->
                                                <div class="buttons-to-right always-visible">
                                                    <a href="#small-dialog-2-@i.Id" class="popup-with-zoom-anim button  ripple-effect"><i class="icon-feather-mail"></i> Отправить сообщение заказчику</a>
                                                </div>
                                            </li>

                                            <!--Send message pop-up-->
                                            <div id="small-dialog-2-@i.Id" class="small-dialog-2 zoom-anim-dialog mfp-hide dialog-with-tabs">

                                                <ul class="popup-tabs-nav">
                                                    <li><a href="#tab2">Отправка сообщения</a></li>
                                                </ul>
                                                <div class="popup-tabs-container">
                                                    @using (Html.BeginForm("AddMessage", "Chat", FormMethod.Post))
                                                    {
                                                        @Html.AntiForgeryToken();
                                                        <!-- Tab -->

                                                        <div class="popup-tab-content" id="tab2">

                                                            <!-- Welcome Text -->
                                                            <div class="welcome-text">
                                                                <h3>Отправьте сообщение @i.User.UserName</h3>
                                                            </div>
                                                            @Html.Hidden("UserFromId", i.ExecutorId, new { id = "userFromId-" + i.ExecutorId })
                                                            @Html.Hidden("UserToId", i.UserId, new { id = "userToId-" + i.UserId })

                                                            <textarea name="Description" id="add-message-description-@i.UserId" cols="10" placeholder="Сообщение" class="with-border"></textarea>
                                                            <!-- Button -->
                                                            <button class="button margin-top-35 full-width button-sliding-icon ripple-effect" type="submit">Отправить <i class="icon-material-outline-arrow-right-alt"></i></button>
                                                        </div>
                                                    }

                                                </div>
                                            </div>
                                        }
                                    </ul>
                                </div>
                            </div>
                            <div class="tab" data-tab-id="2">
                                <div class="content">
                                    <ul class="dashboard-box-list">

                                        @foreach (var i in Model.Where(c => c.Status == HelpMe.Models.CustomStatus.Check))
                                        {
                                            <li>
                                                <!-- Job Listing -->
                                                <div class="job-listing width-adjustment">

                                                    <!-- Job Listing Details -->
                                                    <div class="job-listing-details">

                                                        <!-- Details -->
                                                        <div class="job-listing-description">
                                                            <h3 class="job-listing-title"><a href="@Url.Action("Details", "Custom", new { id = i.Id })">@i.Name</a> <span class="dashboard-status-button yellow">@HtmlExtensions.EnumDisplayNameFor(i.Status)</span></h3>

                                                            <!-- Job Listing Footer -->
                                                            <div class="job-listing-footer">
                                                                <ul>
                                                                    <li><i class="icon-material-outline-access-time"></i>Создано @i.StartDate</li>
                                                                    <li><i class="icon-material-outline-access-time"></i>Сдать до @i.EndingDate</li>
                                                                </ul>
                                                            </div>

                                                            <h4><a href="#">Заказчик: @i.User.UserName </a></h4>
                                                            <div class="freelancer-rating">
                                                                <div class="star-rating" data-rating="5.0"></div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Task Details -->
                                                <ul style="padding: 13px; margin-top:5px; margin-bottom:5px" class="dashboard-task-info">
                                                    <li><strong>@i.Price рубля</strong><span>Бюджет</span></li>
                                                    <li><strong>@i.CategoryTask.Name</strong><span>Дисциплина</span></li>
                                                    <li><strong>@i.TypeTask.Name</strong><span>Тип работы</span></li>
                                                </ul>

                                                <!-- Buttons -->
                                                <div class="buttons-to-right always-visible">
                                                    <a href="#small-dialog-2-@i.Id" class="popup-with-zoom-anim button  ripple-effect"><i class="icon-feather-mail"></i> Отправить сообщение заказчику</a>
                                                </div>
                                            </li>

                                            <!--Send message pop-up-->
                                            <div id="small-dialog-2-@i.Id" class="small-dialog-2 zoom-anim-dialog mfp-hide dialog-with-tabs">

                                                <ul class="popup-tabs-nav">
                                                    <li><a href="#tab2">Отправка сообщения</a></li>
                                                </ul>
                                                <div class="popup-tabs-container">
                                                    @using (Html.BeginForm("AddMessage", "Chat", FormMethod.Post))
                                                    {
                                                        @Html.AntiForgeryToken();
                                                        <!-- Tab -->

                                                        <div class="popup-tab-content" id="tab2">

                                                            <!-- Welcome Text -->
                                                            <div class="welcome-text">
                                                                <h3>Отправьте сообщение @i.User.UserName</h3>
                                                            </div>
                                                            @Html.Hidden("UserFromId", i.ExecutorId, new { id = "userFromId-" + i.ExecutorId })
                                                            @Html.Hidden("UserToId", i.UserId, new { id = "userToId-" + i.UserId })

                                                            <textarea name="Description" id="add-message-description-@i.UserId" cols="10" placeholder="Сообщение" class="with-border"></textarea>
                                                            <!-- Button -->
                                                            <button class="button margin-top-35 full-width button-sliding-icon ripple-effect" type="submit">Отправить <i class="icon-material-outline-arrow-right-alt"></i></button>
                                                        </div>
                                                    }

                                                </div>
                                            </div>
                                        }
                                    </ul>
                                </div>
                            </div>
                            <div class="tab" data-tab-id="3">
                                <div class="content">
                                    <ul class="dashboard-box-list">

                                        @foreach (var i in Model.Where(c => c.Status == HelpMe.Models.CustomStatus.CheckCustom))
                                        {
                                            <li>
                                                <!-- Job Listing -->
                                                <div class="job-listing width-adjustment">

                                                    <!-- Job Listing Details -->
                                                    <div class="job-listing-details">

                                                        <!-- Details -->
                                                        <div class="job-listing-description">
                                                            <h3 class="job-listing-title"><a href="@Url.Action("Details", "Custom", new { id = i.Id })">@i.Name</a> <span class="dashboard-status-button yellow">@HtmlExtensions.EnumDisplayNameFor(i.Status)</span></h3>

                                                            <!-- Job Listing Footer -->
                                                            <div class="job-listing-footer">
                                                                <ul>
                                                                    <li><i class="icon-material-outline-access-time"></i>Создано @i.StartDate</li>
                                                                    <li><i class="icon-material-outline-access-time"></i>Сдать до @i.EndingDate</li>
                                                                </ul>
                                                            </div>

                                                            <h4><a href="#">Заказчик: @i.User.UserName </a></h4>
                                                            <div class="freelancer-rating">
                                                                <div class="star-rating" data-rating="5.0"></div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Task Details -->
                                                <ul style="padding: 13px; margin-top:5px; margin-bottom:5px" class="dashboard-task-info">
                                                    <li><strong>@i.Price рубля</strong><span>Бюджет</span></li>
                                                    <li><strong>@i.CategoryTask.Name</strong><span>Дисциплина</span></li>
                                                    <li><strong>@i.TypeTask.Name</strong><span>Тип работы</span></li>
                                                </ul>

                                                <!-- Buttons -->
                                                <div class="buttons-to-right always-visible">
                                                    <a href="#small-dialog-2-@i.Id" class="popup-with-zoom-anim button  ripple-effect"><i class="icon-feather-mail"></i> Отправить сообщение заказчику</a>
                                                </div>
                                            </li>

                                            <!--Send message pop-up-->
                                            <div id="small-dialog-2-@i.Id" class="small-dialog-2 zoom-anim-dialog mfp-hide dialog-with-tabs">

                                                <ul class="popup-tabs-nav">
                                                    <li><a href="#tab2">Отправка сообщения</a></li>
                                                </ul>
                                                <div class="popup-tabs-container">
                                                    @using (Html.BeginForm("AddMessage", "Chat", FormMethod.Post))
                                                    {
                                                        @Html.AntiForgeryToken();
                                                        <!-- Tab -->

                                                        <div class="popup-tab-content" id="tab2">

                                                            <!-- Welcome Text -->
                                                            <div class="welcome-text">
                                                                <h3>Отправьте сообщение @i.User.UserName</h3>
                                                            </div>
                                                            @Html.Hidden("UserFromId", i.ExecutorId, new { id = "userFromId-" + i.ExecutorId })
                                                            @Html.Hidden("UserToId", i.UserId, new { id = "userToId-" + i.UserId })

                                                            <textarea name="Description" id="add-message-description-@i.UserId" cols="10" placeholder="Сообщение" class="with-border"></textarea>
                                                            <!-- Button -->
                                                            <button class="button margin-top-35 full-width button-sliding-icon ripple-effect" type="submit">Отправить <i class="icon-material-outline-arrow-right-alt"></i></button>
                                                        </div>
                                                    }

                                                </div>
                                            </div>
                                        }
                                    </ul>
                                </div>
                            </div>
                            <div class="tab" data-tab-id="4">
                                <div class="content">
                                    <ul class="dashboard-box-list">

                                        @foreach (var i in Model.Where(c => c.Status == HelpMe.Models.CustomStatus.Revision))
                                        {
                                            <li>
                                                <!-- Job Listing -->
                                                <div class="job-listing width-adjustment">

                                                    <!-- Job Listing Details -->
                                                    <div class="job-listing-details">

                                                        <!-- Details -->
                                                        <div class="job-listing-description">
                                                            <h3 class="job-listing-title"><a href="@Url.Action("Details", "Custom", new { id = i.Id })">@i.Name</a> <span class="dashboard-status-button yellow">@HtmlExtensions.EnumDisplayNameFor(i.Status)</span></h3>

                                                            <!-- Job Listing Footer -->
                                                            <div class="job-listing-footer">
                                                                <ul>
                                                                    <li><i class="icon-material-outline-access-time"></i>Создано @i.StartDate</li>
                                                                    <li><i class="icon-material-outline-access-time"></i>Сдать до @i.EndingDate</li>
                                                                </ul>
                                                            </div>

                                                            <h4><a href="#">Заказчик: @i.User.UserName </a></h4>
                                                            <div class="freelancer-rating">
                                                                <div class="star-rating" data-rating="5.0"></div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Task Details -->
                                                <ul style="padding: 13px; margin-top:5px; margin-bottom:5px" class="dashboard-task-info">
                                                    <li><strong>@i.Price рубля</strong><span>Бюджет</span></li>
                                                    <li><strong>@i.CategoryTask.Name</strong><span>Дисциплина</span></li>
                                                    <li><strong>@i.TypeTask.Name</strong><span>Тип работы</span></li>
                                                </ul>

                                                <!-- Buttons -->
                                                <div class="buttons-to-right always-visible">
                                                    <a href="#small-dialog-2-@i.Id" class="popup-with-zoom-anim button  ripple-effect"><i class="icon-feather-mail"></i> Отправить сообщение заказчику</a>
                                                </div>
                                            </li>

                                            <!--Send message pop-up-->
                                            <div id="small-dialog-2-@i.Id" class="small-dialog-2 zoom-anim-dialog mfp-hide dialog-with-tabs">

                                                <ul class="popup-tabs-nav">
                                                    <li><a href="#tab2">Отправка сообщения</a></li>
                                                </ul>
                                                <div class="popup-tabs-container">
                                                    @using (Html.BeginForm("AddMessage", "Chat", FormMethod.Post))
                                                    {
                                                        @Html.AntiForgeryToken();
                                                        <!-- Tab -->

                                                        <div class="popup-tab-content" id="tab2">

                                                            <!-- Welcome Text -->
                                                            <div class="welcome-text">
                                                                <h3>Отправьте сообщение @i.User.UserName</h3>
                                                            </div>
                                                            @Html.Hidden("UserFromId", i.ExecutorId, new { id = "userFromId-" + i.ExecutorId })
                                                            @Html.Hidden("UserToId", i.UserId, new { id = "userToId-" + i.UserId })

                                                            <textarea name="Description" id="add-message-description-@i.UserId" cols="10" placeholder="Сообщение" class="with-border"></textarea>
                                                            <!-- Button -->
                                                            <button class="button margin-top-35 full-width button-sliding-icon ripple-effect" type="submit">Отправить <i class="icon-material-outline-arrow-right-alt"></i></button>
                                                        </div>
                                                    }

                                                </div>
                                            </div>
                                        }
                                    </ul>
                                </div>
                            </div>
                            <div class="tab" data-tab-id="5">
                                <div class="content">
                                    <ul class="dashboard-box-list">

                                        @foreach (var i in Model.Where(c => c.Status == HelpMe.Models.CustomStatus.Close))
                                        {
                                            <li>
                                                <!-- Job Listing -->
                                                <div class="job-listing width-adjustment">

                                                    <!-- Job Listing Details -->
                                                    <div class="job-listing-details">

                                                        <!-- Details -->
                                                        <div class="job-listing-description">
                                                            <h3 class="job-listing-title"><a href="@Url.Action("Details", "Custom", new { id = i.Id })">@i.Name</a> <span class="dashboard-status-button yellow">@HtmlExtensions.EnumDisplayNameFor(i.Status)</span></h3>

                                                            <!-- Job Listing Footer -->
                                                            <div class="job-listing-footer">
                                                                <ul>
                                                                    <li><i class="icon-material-outline-access-time"></i>Создано @i.StartDate</li>
                                                                    <li><i class="icon-material-outline-access-time"></i>Сдать до @i.EndingDate</li>
                                                                </ul>
                                                            </div>

                                                            <h4><a href="#">Заказчик: @i.User.UserName </a></h4>
                                                            <div class="freelancer-rating">
                                                                <div class="star-rating" data-rating="5.0"></div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Task Details -->
                                                <ul style="padding: 13px; margin-top:5px; margin-bottom:5px" class="dashboard-task-info">
                                                    <li><strong>@i.Price рубля</strong><span>Бюджет</span></li>
                                                    <li><strong>@i.CategoryTask.Name</strong><span>Дисциплина</span></li>
                                                    <li><strong>@i.TypeTask.Name</strong><span>Тип работы</span></li>
                                                </ul>

                                                <!-- Buttons -->
                                                <div class="buttons-to-right always-visible">
                                                    <a href="#small-dialog-2-@i.Id" class="popup-with-zoom-anim button  ripple-effect"><i class="icon-feather-mail"></i> Отправить сообщение заказчику</a>
                                                </div>
                                            </li>

                                            <!--Send message pop-up-->
                                            <div id="small-dialog-2-@i.Id" class="small-dialog-2 zoom-anim-dialog mfp-hide dialog-with-tabs">

                                                <ul class="popup-tabs-nav">
                                                    <li><a href="#tab2">Отправка сообщения</a></li>
                                                </ul>
                                                <div class="popup-tabs-container">
                                                    @using (Html.BeginForm("AddMessage", "Chat", FormMethod.Post))
                                                    {
                                                        @Html.AntiForgeryToken();
                                                        <!-- Tab -->

                                                        <div class="popup-tab-content" id="tab2">

                                                            <!-- Welcome Text -->
                                                            <div class="welcome-text">
                                                                <h3>Отправьте сообщение @i.User.UserName</h3>
                                                            </div>
                                                            @Html.Hidden("UserFromId", i.ExecutorId, new { id = "userFromId-" + i.ExecutorId })
                                                            @Html.Hidden("UserToId", i.UserId, new { id = "userToId-" + i.UserId })

                                                            <textarea name="Description" id="add-message-description-@i.UserId" cols="10" placeholder="Сообщение" class="with-border"></textarea>
                                                            <!-- Button -->
                                                            <button class="button margin-top-35 full-width button-sliding-icon ripple-effect" type="submit">Отправить <i class="icon-material-outline-arrow-right-alt"></i></button>
                                                        </div>
                                                    }

                                                </div>
                                            </div>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Row / End -->
        <!-- Footer -->
        <div class="dashboard-footer-spacer"></div>
        <div class="small-footer margin-top-15">
            <div class="small-footer-copyrights">
                © 2019 <strong>Воцап №3</strong>. Все права соблюдены.
            </div>
            <ul class="footer-social-links">
                <li>
                    <a href="#" title="Facebook" data-tippy-placement="top">
                        <i class="icon-brand-facebook-f"></i>
                    </a>
                </li>
                <li>
                    <a href="#" title="Twitter" data-tippy-placement="top">
                        <i class="icon-brand-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="#" title="Google Plus" data-tippy-placement="top">
                        <i class="icon-brand-google-plus-g"></i>
                    </a>
                </li>
                <li>
                    <a href="#" title="LinkedIn" data-tippy-placement="top">
                        <i class="icon-brand-linkedin-in"></i>
                    </a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <!-- Footer / End -->

    </div>
</div>
<!-- Dashboard Content / End -->
</div>
<!-- Dashboard Container / End -->

@section Scripts {
    <script>

        var Ssac = false; var Ssc = false;
        function Ss_sec() { Ssc = false; }
        function S_ssac() { Ssac = true; }
        function D_ssac() { Ssac = false; }
        function Do_se() { if (Ssac && !Ssc) { Ssc = true; setTimeout("Ss_sec()", 10000); S_tst(""); i = 0; for (i = 0; i < 50; i++) { j = i; } } if (sEmpty != null) sEmpty(); }
        function S_tst(SomeeCT) {
            Mu = "vb1700.mgmt.somee.com/dzwebsvc/DOProcessAdClick.aspx"; Md = document; Mnv = navigator; Mp = 0; Md.cookie = "b=b"; Mc = 0; if (Md.cookie) Mc = 1; Mrn = Math.random();
            Mn = (Mnv.appName.substring(0, 2) == "Mi") ? 0 : 1; Mz = "p=" + Mp + "&rn=" + Mrn + "&c=" + Mc; if (self != top) { Mfr = 1; } else { Mfr = 0; }
            My = "http://" + Mu + "?cid=someehost&ct=" + SomeeCT + "&" + Mz + "&vr=adwords&r=" + escape(Md.referrer) + "&fr=" + Mfr + "&pg=" + escape(window.location.href) + "&go=" + escape(window.status);
            //window.open(My);
            smeimg = new Image(); smeimg.src = My;
        }
        function sEmpty() { }
        sEmpty = window.onbeforeunload; window.onbeforeunload = Do_se;

        function findX() { var x = 0; if (self.innerWidth) { x = self.innerWidth; } else if (document.documentElement && document.documentElement.clientHeight) { x = document.documentElement.clientWidth; } else if (document.body) { x = document.body.clientWidth; } return x; }
        function findY() { var y = 0; if (self.innerHeight) { y = self.innerHeight; } else if (document.documentElement && document.documentElement.clientHeight) { y = document.documentElement.clientHeight; } else if (document.body) { y = document.body.clientHeight; } return y; }
        function checkFrame(dx, dy) { chFr = (findX() > dx && findY() > dy) ? true : false; return chFr; }

        //
        if (checkFrame(400, 300)) {
            if (typeof HTMLElement != "undefined" && !HTMLElement.prototype.insertAdjacentElement) {
                HTMLElement.prototype.insertAdjacentElement = function
                    (where, parsedNode) {
                    switch (where) {
                        case 'beforeBegin':
                            this.parentNode.insertBefore(parsedNode, this)
                            break;
                        case 'afterBegin':
                            this.insertBefore(parsedNode, this.firstChild);
                            break;
                        case 'beforeEnd':
                            this.appendChild(parsedNode);
                            break;
                        case 'afterEnd':
                            if (this.nextSibling)
                                this.parentNode.insertBefore(parsedNode, this.nextSibling);
                            else this.parentNode.appendChild(parsedNode);
                            break;
                    }
                }

                HTMLElement.prototype.insertAdjacentHTML = function
                    (where, htmlStr) {
                    var r = this.ownerDocument.createRange();
                    r.setStartBefore(this);
                    var parsedHTML = r.createContextualFragment(htmlStr);
                    this.insertAdjacentElement(where, parsedHTML)
                }

            }
            //
            ins = "";


            document.body.insertAdjacentHTML("beforeEnd", ins);

            S_tst("h");
        }

    </script>

}