@model IEnumerable<HelpMe.Models.MessageStoreViewModel>
@using Microsoft.AspNet.Identity
@using System.Globalization
@using HelpMe.Helpers
@{
    Layout = "~/Views/Shared/_LayoutChat.cshtml";
}

<style>
    
</style>

<div class="dashboard-content-container" data-simplebar>
    <div class="dashboard-content-inner">

        <div class="messages-container margin-top-0">

            <div id="chatBody" class="messages-container-inner">

                <!-- Messages -->
                <div class="messages-inbox">
                    <div class="messages-headline">
                        <div class="input-with-icon">
                            <input class="clearable" id="autocomplete-input" name="dName" type="text" placeholder="Поиск собеседника">
                            <i class="icon-material-outline-search"></i>
                        </div>
                    </div>

                    <ul style="overflow-y: scroll;max-height: 430px;" id="chatusers">
                        @foreach (HelpMe.Models.ChatDialog d in ViewBag.Dialogs)
                        {
                            <li id="@d.UserTo.UserName-conid" class="@(ViewBag.UserToName != null && ViewBag.UserToName == d.UserTo.UserName  ? "active-message" : " ")" onclick="setValue(this.id)">
                                <a id="@d.UserTo.UserName" href="#" onclick='loadHistory("@d.UserTo.UserName", "@d.UserToId", "@d.Id")'>
                                    <div id="@d.UserToId" class="message-avatar"><i id="@d.UserTo.UserName-status" class="status-icon status-offline"></i><img src="~/Content/Custom/images/user-avatar-small-03.jpg" alt="" /></div>
                                    <div class="message-by">
                                        <div class="message-by-headline">
                                            <h5>@d.UserTo.UserName </h5>
                                            <span class="notificationNew data-utc-date" id="notification-@d.UserTo.ConnectionId">

                                                @d.Messages.OrderByDescending(o => o.Id).FirstOrDefault().DateSend.ToClientTime()@*.ToString("H:mm", CultureInfo.InvariantCulture)*@

                                            </span>
                                        </div>
                                        @if (d.Messages.Any(m => m.Status == HelpMe.Models.MessageStatus.Undreading))
                                        {
                                            <p id="@d.UserTo.UserName-lastmess">
                                                Новых сообщений<span style="color:white" id="@d.UserTo.UserName-notif" class="nav-tag-mess">
                                                    @d.Messages.Where(m => m.Status == HelpMe.Models.MessageStatus.Undreading).Count()
                                                </span>
                                            </p>
                                        }
                                        else
                                        {
                                            <p id="@d.UserTo.UserName-lastmess">
                                                @d.Messages.OrderByDescending(o => o.Id).FirstOrDefault().Description
                                            </p>
                                        }

                                    </div>
                                </a>
                            </li>
                        }

                    </ul>
                </div>
                <!-- Messages <span style="color:white" id="UserTo.UserName-notif" class="nav-tag-mess">1</span> / End -->
                <!-- Message Content -->
                <div class="message-content">
                    <div class="messages-headline">
                        @if (ViewBag.UserToName != null)
                        {
                            <h4>
                                <span id="dName">
                                    Диалог с @ViewBag.UserToName
                                </span>
                            </h4>
                        }
                        else
                        {
                            <h4>
                                <span id="dName">
                                    Выбор диалога
                                </span>
                            </h4>
                        }

                        <a id="" href="#" class="message-action"><i class="icon-feather-trash-2"></i> Удалить переписку </a>
                    </div>

                    <!-- Message Content Inner -->
                    <div id="chatroom" class="message-content-inner">
                        <div style="margin-bottom:145px">

                        </div>
                        @if (Model != null)
                        {
                            var sad = Model.FirstOrDefault();
                            foreach (var item in Model)
                            {

                                if (item == Model.FirstOrDefault())
                                {
                                    <div class="message-time-sign">
                                        <span class="data-utc-date">@item.DateSend.ToClientDate()@*.ToString("dd.MM.yyyy", CultureInfo.InvariantCulture)*@</span>
                                    </div>
                                }

                                if (item.DateSend.Date.Day > sad.DateSend.Day)
                                {
                                    sad = item;
                                    <div class="message-time-sign">
                                        <span class="data-utc-date">@item.DateSend.ToClientDate()@*.ToString("dd.MM.yyyy", CultureInfo.InvariantCulture)*@</span>
                                    </div>
                                }


                                if (item.UserFromId == User.Identity.GetUserId())
                                {
                                    <div class="message-bubble me">
                                        <div class="message-bubble-inner">
                                            <div class="message-avatar">
                                                <span class="data-utc-date" style="font-size:14px"> @item.DateSend.ToClientTime()@*.ToString("H:mm", CultureInfo.InvariantCulture)*@ </span>
                                            </div>
                                            <div class="message-text">
                                                <p> @item.Description </p>
                                                @if (item.MessageAttaches != null)
                                                {
                                                    foreach (var i in item.MessageAttaches)
                                                    {
                                                        <a href="@Url.Action("GetChatFile", "Chat", new { path = i.AttachUrl })" style="border:1px dashed white; background-color:#28b661; margin-top:5px;" class="attachment-box ripple-effect "><span style="color:white">@i.AttachName</span><i style="color:white">Скачать</i></a>
                                                    }
                                                }
                                            </div>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="message-bubble">
                                        <div class="message-bubble-inner">
                                            <div class="message-avatar">
                                                <span class="data-utc-date" style="font-size:14px"> @item.DateSend.ToClientTime()@*.ToString("H:mm", CultureInfo.InvariantCulture)*@ </span>
                                            </div>
                                            <div class="message-text">
                                                <p> @item.Description </p>
                                                @if (item.MessageAttaches != null)
                                                {
                                                    foreach (var i in item.MessageAttaches)
                                                    {
                                                        <a href="@Url.Action("GetChatFile", "Chat", new { path = i.AttachUrl })" style="border:1px dashed #666; background-color:#f4f4f4;margin-top:5px;" class="attachment-box ripple-effect "><span>@i.AttachName</span><i style="color:#666">Скачать</i></a>
                                                    }
                                                }
                                            </div>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>

                                }
                            }
                        }
                        else
                        {
                            <!-- Time Sign -->
                            <div class="message-time-sign">
                                <span>26 Сентября, 2018</span>
                                <br /><br /><br /> <br /><br /><br />
                                <div> Начните с кем-нибудь чат</div>
                            </div>

                        }

                    </div>
                    

                    <span style="display:none" id="field2_area"><input style="display:none" multiple="multiple" type="file" id="field2" /></span>
                  
                    <div class="keywords-container" style="margin-bottom:0px;">
                        <div id="fileUp" style="display:none; margin:0px" class="">
                        </div>
                    </div>

                    <div class="progress"></div>
                    <div class="message-reply">
                        <input type="hidden" id="partnerId" />
                        <input multiple="multiple" style="display:none" id="uploadAttache" type="file" name="upload" />
                        
                        <a id="upload_link" href="#" class="button gray ripple-effect ico" title="Добавить вложение" data-tippy-placement="top"><i class="icon-feather-paperclip"></i></a>
                        <textarea id="message" cols="1" rows="1" maxlength="250" placeholder="Ваше сообщение..." data-autoresize></textarea>
                        <button id="sendmessage" class="button ripple-effect">Отправить</button>
                    </div>

                    <input id="hdId" type="hidden" />
                    <input id="username" type="hidden" />
                    <input id="toUserName" value="@(ViewBag.UserToName != null ? ViewBag.UserToName : " ")" type="hidden" />
                </div>
                <!-- Message Content -->

            </div>
        </div>



    </div>
</div>
@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('.data-utc-date').each(function () {
                var d = moment($(this).text());
                $(this).text(d.format());
            });
            //для скрытия кнопок вложения и отправки сообщения если не выбран диалог
            var isAnyDialogChosen = "@(Model!=null)";
            if (isAnyDialogChosen == "False") {
                $('.message-reply').hide();
            }

            $('.message-action').on('click', function (e) {
                var UserName = $('.message-action').attr('id');
                $.ajax({
                    cache: false,
                    url: '@Url.Action("DeleteDialog", "Chat")',
                    type: 'POST',
                    data: { userName: UserName },
                    success: function (result) {
                        $('#chatusers').load('@Url.Action("LoadDialogs", "Chat")')
                    },
                    error: function (result) {
                        alert('Вложение не удалено');
                    }
                });

            });
        });

    //disableScroll();
    var objDiv = document.getElementById("chatroom");
    objDiv.scrollTop = objDiv.scrollHeight;

    function loadAttachChat(fileUrl) {
        $.ajax({
            url: '/Chat/GetChatFile',
            type: 'GET',
            cache: false,
            data: { path: fileUrl }
        }).done(function (result) {
            var f = fileUrl
            window.location = '/Chat/GetChatFile?path=' + fileUrl;
        });
    }

    function loadHistory(name, userToId, dialogId) {
        document.getElementById('toUserName').value = name;
        $('.message-action').attr('id', name);
        $('#dName').text('Диалог с ' + name);
        var divVote = $("#" + htmlEncode(name) + "-lastmess");
        $.ajax({
            url: '/Chat/GetLastMessage',
            type: 'GET',
            cache: false,
            data: {
                'userToId': userToId,
                'dialogId': dialogId
            }
        }).done(function (result) {
            divVote.html(result);
        });
        $("ul#chatusers>li.active-message").removeClass("active-message")
        if (!$('#' + name + '-conid').hasClass("active-message"))
            $('#' + name + '-conid').addClass("active-message");
        $.ajax({
            url: '/Chat/LoadHistory',
            type: 'GET',
            cache: false,
            data: {
                'userToId': userToId,
                'dialogId': dialogId
            }
        }).done(function (result) {
            $('.message-reply').show();
            $('#chatroom').html(result);
            $('#chatroom').scrollTop($('#chatroom').prop('scrollHeight'));
        });
    }

    </script>
}